.table th {
	text-align: center;
}

table .r-hide {
	display: none;
}

table td.td-middle {
	width: 55%;
}

.qq-uploader {
	max-height: none !important;
}

.qq-upload-list {
	max-height: none !important;
}

.div-center {
	text-align: center;
}

.div-space-height {
	height: 30px;
}
/** upload list style **/
.qq-upload-list li {
	height: auto;
}

.qq-upload-file {
	width: 280px !important;
	height: 34px !important;
	font-size: 20px;
}

.qq-uploader {
	padding: 5px !important;
}

input.furnisgallery, span.furnisgallery {
	width: 90%;
	font-size: 20px;
	margin: 1px 1px;
}

span.galradio input {
	font-size: 20px;
}
/****** assert style *******/
#dropzone {
	height: auto;
	min-height: 250px;
	border-radius: 25px;
	border: 2px dashed #ccddcc;
	padding: 5px;
}

.RTU-uploadContainer {
	width: 90%;
}

.RTU-uploadContainer .RTU-uploadItemsList {
	width: 100%;
	text-align: left;
}

.RTU-uploadContainer .RTU-uploadItem {
	padding: 5px 5px !important;
	width: 100%;
	height: 150px !important;
}

div.RTU-uploadButtonHolder {
	background: none;
}

div.RTU-uploadContainer {
	height: 50px !important;
	padding: 10px;
}
div.lhDescRadio label{
	font-size:20px;
	padding: 10px;
}
div.lhDesc{
	margin-top:5px;
}
div.lhDesc input{
	width:26% !important;
}