/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*
COMMON
**********************/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus { outline: none !important; }

html, body {
	height: 100%;
	width: 100%;
}
a {
	cursor: pointer;
	display: block;
	outline: none;
	text-decoration: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a:hover, a:focus {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-decoration: none;
}
input,
textarea {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
button {
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border: none;
	border-color: transparent;
  	border-radius: 0;
  	box-shadow: none;
	text-shadow: none;
}

button:hover, button:focus {
	border-color: transparent;
  	box-shadow: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

input:focus,
textarea:focus {
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   	outline: none;
}
img {
	display: block;
}



#page {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}
.sticky-block {
	padding-bottom: 220px;
	padding-top: 50px;
}

#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	z-index:9999;
}
#preloadLogo {
	background: none;
	position: relative;
	width: 168px;
	height: 200px;
	position:absolute;
	left:50%;
	top:50%;
	margin: -100px 0 0 -100px;
}
#preloadLogo p {
	font-size: 14px;
	color: #4d4d4d;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.4em;
}
.loading-img {
	margin: 20px auto 15px;
}

/*@-webkit-keyframes uil-ring-anim {*/
	/*0% {*/
		/*-ms-transform: rotate(0deg);*/
		/*-moz-transform: rotate(0deg);*/
		/*-webkit-transform: rotate(0deg);*/
		/*-o-transform: rotate(0deg);*/
		/*transform: rotate(0deg);*/
	/*}*/
	/*100% {*/
		/*-ms-transform: rotate(360deg);*/
		/*-moz-transform: rotate(360deg);*/
		/*-webkit-transform: rotate(360deg);*/
		/*-o-transform: rotate(360deg);*/
		/*transform: rotate(360deg);*/
	/*}*/
/*}*/
/*@-webkit-keyframes uil-ring-anim {*/
	/*0% {*/
		/*-ms-transform: rotate(0deg);*/
		/*-moz-transform: rotate(0deg);*/
		/*-webkit-transform: rotate(0deg);*/
		/*-o-transform: rotate(0deg);*/
		/*transform: rotate(0deg);*/
	/*}*/
	/*100% {*/
		/*-ms-transform: rotate(360deg);*/
		/*-moz-transform: rotate(360deg);*/
		/*-webkit-transform: rotate(360deg);*/
		/*-o-transform: rotate(360deg);*/
		/*transform: rotate(360deg);*/
	/*}*/
/*}*/
/*@-moz-keyframes uil-ring-anim {*/
	/*0% {*/
		/*-ms-transform: rotate(0deg);*/
		/*-moz-transform: rotate(0deg);*/
		/*-webkit-transform: rotate(0deg);*/
		/*-o-transform: rotate(0deg);*/
		/*transform: rotate(0deg);*/
	/*}*/
	/*100% {*/
		/*-ms-transform: rotate(360deg);*/
		/*-moz-transform: rotate(360deg);*/
		/*-webkit-transform: rotate(360deg);*/
		/*-o-transform: rotate(360deg);*/
		/*transform: rotate(360deg);*/
	/*}*/
/*}*/
/*@-ms-keyframes uil-ring-anim {*/
	/*0% {*/
		/*-ms-transform: rotate(0deg);*/
		/*-moz-transform: rotate(0deg);*/
		/*-webkit-transform: rotate(0deg);*/
		/*-o-transform: rotate(0deg);*/
		/*transform: rotate(0deg);*/
	/*}*/
	/*100% {*/
		/*-ms-transform: rotate(360deg);*/
		/*-moz-transform: rotate(360deg);*/
		/*-webkit-transform: rotate(360deg);*/
		/*-o-transform: rotate(360deg);*/
		/*transform: rotate(360deg);*/
	/*}*/
/*}*/
/*@-moz-keyframes uil-ring-anim {*/
	/*0% {*/
		/*-ms-transform: rotate(0deg);*/
		/*-moz-transform: rotate(0deg);*/
		/*-webkit-transform: rotate(0deg);*/
		/*-o-transform: rotate(0deg);*/
		/*transform: rotate(0deg);*/
	/*}*/
	/*100% {*/
		/*-ms-transform: rotate(360deg);*/
		/*-moz-transform: rotate(360deg);*/
		/*-webkit-transform: rotate(360deg);*/
		/*-o-transform: rotate(360deg);*/
		/*transform: rotate(360deg);*/
	/*}*/
/*}*/
/*@-webkit-keyframes uil-ring-anim {*/
	/*0% {*/
		/*-ms-transform: rotate(0deg);*/
		/*-moz-transform: rotate(0deg);*/
		/*-webkit-transform: rotate(0deg);*/
		/*-o-transform: rotate(0deg);*/
		/*transform: rotate(0deg);*/
	/*}*/
	/*100% {*/
		/*-ms-transform: rotate(360deg);*/
		/*-moz-transform: rotate(360deg);*/
		/*-webkit-transform: rotate(360deg);*/
		/*-o-transform: rotate(360deg);*/
		/*transform: rotate(360deg);*/
	/*}*/
/*}*/
/*@-o-keyframes uil-ring-anim {*/
	/*0% {*/
		/*-ms-transform: rotate(0deg);*/
		/*-moz-transform: rotate(0deg);*/
		/*-webkit-transform: rotate(0deg);*/
		/*-o-transform: rotate(0deg);*/
		/*transform: rotate(0deg);*/
	/*}*/
	/*100% {*/
		/*-ms-transform: rotate(360deg);*/
		/*-moz-transform: rotate(360deg);*/
		/*-webkit-transform: rotate(360deg);*/
		/*-o-transform: rotate(360deg);*/
		/*transform: rotate(360deg);*/
	/*}*/
/*}*/
/*@keyframes uil-ring-anim {*/
	/*0% {*/
		/*-ms-transform: rotate(0deg);*/
		/*-moz-transform: rotate(0deg);*/
		/*-webkit-transform: rotate(0deg);*/
		/*-o-transform: rotate(0deg);*/
		/*transform: rotate(0deg);*/
	/*}*/
	/*100% {*/
		/*-ms-transform: rotate(360deg);*/
		/*-moz-transform: rotate(360deg);*/
		/*-webkit-transform: rotate(360deg);*/
		/*-o-transform: rotate(360deg);*/
		/*transform: rotate(360deg);*/
	/*}*/
/*}*/



/*#status {*/
	/*background: none;*/
	/*position: relative;*/
	/*width: 200px;*/
	/*height: 200px;*/
	/*position:absolute;*/
	/*left:50%;*/
	/*top:50%;*/
	/*margin: -100px 0 0 -100px;*/
	/*transform:scale(0.3);*/
/*}*/
/*#status > div {*/
	/*display: block;*/
	/*width: 160px;*/
	/*height: 160px;*/
	/*border-radius: 80px;*/
	/*box-shadow: 0 6px 0 0 #6f9755;*/
	/*-ms-animation: uil-ring-anim 1s linear infinite;*/
	/*-moz-animation: uil-ring-anim 1s linear infinite;*/
	/*-webkit-animation: uil-ring-anim 1s linear infinite;*/
	/*-o-animation: uil-ring-anim 1s linear infinite;*/
	/*animation: uil-ring-anim 1s linear infinite;*/
/*}*/


/*
GLOBAL
==============================*/
body {
	color: #4d4c4d;
	font-family: 'KittithadaRoman55', Arial, sans-serif;
	font-size: 21px;
}
p {
	color: #4d4c4d;
	font-size: 23px;
	font-family: 'KittithadaRoman55', Arial, sans-serif;
	line-height: 1em;
	margin-bottom: 15px;
}
p a {
	color: #4d4c4d;
	display: inline-block;
}
h1 {
	color: #6f9755;
	font: 30px 'KittithadaRoman55', Arial, sans-serif;
	text-transform: capitalize;
	margin-bottom: 10px;
	position: relative;
}

h2 {
	color: #6f9755;
	font: 24px 'KittithadaBold75', Arial, sans-serif;
	margin-bottom: 20px;
	text-transform: capitalize;
}

h3 {
	color: #4d4c4d;
	font: 24px 'KittithadaBold75', Arial, sans-serif;
}
h4 {
	color: #4d4c4d;
	font: 22px 'KittithadaBold75', Arial, sans-serif;
}

h5 {
	color: #4d4c4d;
	font: 20px 'KittithadaBold75', Arial, sans-serif;
}


/*
LAYOUT
==============================*/
.right { float: right !important;}
.left { float: left !important;}
strong { font-family: 'KittithadaBold75', Arial, sans-serif; }

/*
HEADER
==============================*/
header {
	
}
.header-container {
	position: relative;
	z-index: 10;
}
#header {
	background: #fff;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:100;
}

.main-logo {
	background: url(../images/global/header_logo.png) no-repeat;
	background-size: 168px;
	height: 28px;
	left: 20px;
	position: absolute;
	top: 15px;
	width: 168px;
	z-index: 2;
}

.main-navigation {
	/*display: inline-block;*/
	left: 50%;
	margin-left: -160px;
	position: absolute;
	top: 6px;
	/*left: 310px;*/
	/*position: absolute;*/
	/*opacity: 0;*/
	/*visibility: hidden;*/
	/*display: none;*/
}
.main-navigation li {
	display: inline-block;
}
.main-navigation li a {
	color: #4d4c4d;
	font: 21px 'KittithadaRoman55', Arial, sans-serif;
	padding: 10px 15px;
}
.main-navigation li a:hover,
.main-navigation li a.active {
	color: #6f9755;
}

.burger-menu {
	background: url(../images/global/i_burgermenu.png) no-repeat;
	cursor: pointer;
	height: 23px;
	width: 29px;
	position: absolute;
	right: 20px;
	top: 19px;
}
.rps-menu {
	background: #fff;
	display: none;
	left: 0;
	position: fixed;
	padding-bottom: 100px;
	top: 0px;
	width: 100%;
	z-index: 100;
}

.responsive-menu {
	background: #fff;
}
.responsive-menu li {
	border-bottom: 1px solid #e8e8e8;
	width: 100%;
}
.responsive-menu li a {
	color: #7f7f7f;
	font: 24px 'KittithadaRoman55', Arial, sans-serif;
	padding: 10px 20px 10px 30px;
}

.responsive-menu li.hasSubmenu {
	background: url(../images/global/i_rsp_mhassub.png) no-repeat 96% 18px;
	background-size: 11px;
}

.responsive-menu li a.active {
	background-color: #9bb48a;
	color: #fff;
}
.responsive-menu li.hasSubmenu a.active {
	background: #9bb48a url(../images/global/i_rsp_mshow_w.png) no-repeat 96% 20px;
	background-size: 13px;
	background-color: #9bb48a;
	color: #fff;
}

.responsive-menu ul, .responsive-menu ul ul {
	border-top: 1px solid #e8e8e8;
}
.responsive-menu ul ul {
	display: none;
	background: #eaebe5;
}
.responsive-menu ul ul li {
	border-bottom: none;
}
.responsive-menu ul ul li a {
	font-size: 20px;
	padding-left: 35px;
}
.rps-menu-top {
	position: relative;
	height: 60px;
	border-bottom: 1px solid #e8e8e8;
}
.rps-close {
	color: #7f7f7f;
	cursor: pointer;
	font: 18px 'KittithadaRoman55', Arial, sans-serif;
	position: absolute;
	right: 15px;
	top: 10px;
	text-transform: uppercase;
	text-align: center;
}
.i-rps-close {
	background: url(../images/global/i_rps_close.png) no-repeat;
	background-size: 20px;
	height: 20px;
	width: 20px;
	display: block;
	margin: 0 auto;
}
.rps-lang {
	position: absolute;
	left: 20px;
	top: 15px;
}
.rps-lang a {
	color: #7f7f7f;
	font: 24px 'KittithadaRoman55', Arial, sans-serif;
	text-transform: uppercase;
}


.top-icons {
	position: absolute;
	right: 110px;
	top: 0px;
	display: none;
}
.top-icons li {
	color: #4d4c4d;
	font: 20px 'KittithadaRoman55', Arial, sans-serif;
	display: inline-block;
	margin: 0;
	position: relative;
}
.top-icons li a {
	padding: 18px 10px;
}
.top-icons li.top-call a {
	padding: 24px 40px 23px 15px;
}
/*.top-icons li a.active, .top-icons li:hover.menu-hover {*/
	/*background: #eee;*/
/*}*/
.top-icons li.menu-hover, .top-icons li:hover.menu-hover{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.top-icons li a span {
	position: absolute;
	top: 20px;
	left: 31px;
	color: #4d4c4d;
	font: 22px 'KittithadaRoman55', Arial, sans-serif;
}
.top-icons li i {
	cursor: pointer;
	display: inline-block;
	text-indent: -9999px;
}
.top-icons li a i.i-home {
	background: url(../images/global/i_m_home_g.png) no-repeat;
	background-size: 14px;
	height: 16px;
	width: 14px;
}
.top-icons li:hover a.active i.i-home,
.top-icons li a:hover i.i-home,
.top-icons li a.active i.i-home {
	background: url(../images/global/i_m_home_grn.png) no-repeat;
	background-size: 14px;
}
.top-icons li a i.i-search {
	background: url(../images/global/i_m_search_g.png) no-repeat;
	background-size: 15px;
	height: 15px;
	width: 15px;
}
.top-icons li:hover a.active i.i-search,
.top-icons li a:hover i.i-search,
.top-icons li a.active i.i-search {
	background: url(../images/global/i_m_search_grn.png) no-repeat;
	background-size: 15px;
}
.top-icons li a i.i-direction {
	background: url(../images/global/i_m_getdirect_g.png) no-repeat;
	background-size: 16px;
	height: 16px;
	width: 16px;
}
.top-icons li:hover a.active i.i-direction,
.top-icons li a:hover i.i-direction,
.top-icons li a.active i.i-direction {
	background: url(../images/global/i_m_getdirect_grn.png) no-repeat;
	background-size: 16px;
}
.top-icons li a i.i-mail {
	background: url(../images/global/i_m_email_g.png) no-repeat;
	background-size: 16px;
	height: 13px;
	width: 16px;
}
.top-icons li:hover a.active i.i-mail,
.top-icons li a:hover i.i-mail,
.top-icons li a.active i.i-mail {
	background: url(../images/global/i_m_email_grn.png) no-repeat;
	background-size: 16px;
}
.top-icons li a i.i-call {
	background: url(../images/global/i_m_tel_g.png) no-repeat;
	background-size: 14px;
	height: 14px;
	width: 14px;
}
.top-icons li:hover a.active i.i-call,
.top-icons li a:hover i.i-call,
.top-icons li a.active i.i-call {
	background: url(../images/global/i_m_tel_grn.png) no-repeat;
	background-size: 14px;
}


.top-menu {
	position: absolute;
	right: 20px;
	top: 15px;
}
.top-menu .menu {
	color: #4d4c4d;
	cursor: pointer;
	font: 18px 'KittithadaRoman55', Arial, sans-serif;
	/*padding-left: 22px;*/
	position: relative;
	text-transform: uppercase;
	/*padding-bottom: 30px;*/
}

/*.triangle {*/
	/*background: url(../images/global/i_triangle.png) no-repeat;*/
	/*width: 30px;*/
	/*height: 22px;*/
	/*position: absolute;*/
	/*top: 34px;*/
	/*left: 50%;*/
	/*background-size: 30px;*/
	/*margin-left: -5px;*/
	/*z-index: 105;*/
	/*display: none;*/
/*}*/
/*.top-menu a:hover.menu .triangle {*/
	/*display: none;*/
/*}*/
.top-menu .menu:hover {
	color: #6f9755;
}
/*.top-menu .i-menu {*/
	/*background: url(../images/global/i_menu.png) no-repeat;*/
	/*height: 18px;*/
	/*left: 0;*/
	/*position: absolute;*/
	/*text-indent: -9999px;*/
	/*top: 3px;*/
	/*width: 18px;*/
/*}*/
/*!*.drop {*!*/
	/*position: relative;*/
/*}*/
/*.drop:hover .menu-container {*/
	/*opacity: 1;*/
	/*margin-top: 10px;*/
	/*top: 290px;*/
/*}*/
/*.menu-dropdown {*/
	/*left: 0;*/
	/*position: fixed;*/
	/*top: -230px;*/
	/*width: 100%;*/
	/*min-height: 200px;*/
	/*z-index: 2;*/
/*}*/

/*.menu-container {*/
	/*width: 100%;*/
	/*position: relative;*/
	/*margin-top: 0px;*/
	/*opacity: 1;*/
	/*-webkit-transition: all .2s ease-out;*/
	/*-moz-transition: all .2s ease-out;*/
	/*-ms-transition: all .2s ease-out;*/
	/*-o-transition: all .2s ease-out;*/
	/*transition: all .2s ease-out;*/
	/*background: url(../images/global/bg_menu.png) repeat;*/
	/*border-top: 2px solid #eaebe5;*/
	/*z-index: 100;*/
/*}	*/
/*.menu-block {*/
	/*margin: 15px 0;*/
/*}*/
/*.menu-block li {*/
	/*margin-right: 45%;*/
	/*position: relative;*/
/*}*/
/*.menu-block li a {*/
	/*border-radius: 4px;*/
	/*color: #4d4d4d;*/
	/*font: 22px 'KittithadaRoman55', Arial, sans-serif;*/
	/*padding: 6px 15px;*/
	/*position: relative;*/
	/*text-transform: capitalize;*/
/*}*/
/*.menu-block li a.active, .menu-block li a:hover {*/
	/*!*background: #eaebe5;*!*/
	/*color: #6f9755;*/
/*}*/
/*.menu-block li a i {*/
	/*position: absolute;*/
	/*left: -7px;*/
	/*top: 10px;*/
/*}*/
/*.menu-block li a i.i-home {*/
	/*background: url(../images/global/i_m_home_g.png) no-repeat;*/
	/*background-size: 14px;*/
	/*display: block;*/
	/*height: 16px;*/
	/*width: 14px;*/
/*}*/
/*.menu-block li a:hover i.i-home,*/
/*.menu-block li a.active i.i-home {*/
	/*background: url(../images/global/i_m_home_grn.png) no-repeat;*/
	/*background-size: 14px;*/
/*}*/
/*.menu-block li a.m-home {*/
	/*margin-left: 20px;*/
/*}*/
.stickymenu-project {
	display: none;
}


.search-container {
	display: none;
}
.getdirection-container {
	display: none;
}
.contact-container {
	display: none;
}

.topdropdown-container {
	background: rgba(231,230,230,0.9);
	position: fixed;
	top: 60px;
	right: 0;
	width: 400px;
	height: 655px;
	padding: 20px 40px 40px 40px;
}
.panel-block {
	position: relative;
}
.panel-close {
	background: url(../images/global/i_m_close.png) no-repeat left;
	background-size: 20px;
	cursor: pointer;
	position: absolute;
	right: 45px;
	top: 20px;
	-webkit-transition: opacity 0.5s, visibility 0.5s;
	transition: opacity 0.5s, visibility 0.5s;
	text-indent: -9999px;
	z-index: 10;
	width: 20px;
	height: 20px;
}

.topdropdown-container h3 {
	color: #6f9755;
	font: 36px 'KittithadaBold75', Arial, sans-serif;
	margin-bottom: 0px;
}
.topdropdown-container p {
	font: 22px 'KittithadaRoman55', Arial, sans-serif;
	margin-bottom: 20px;
}

.topdropdown-block, .search-block {
	position: relative;
	margin-bottom: 20px;
}
.searchBlock {
	background: #fff;
	cursor: pointer;
	font-size: 22px;
	padding: 8px 15px;
	position: relative;
	width: 100%;
	height: 42px;
	border-radius: 6px;
	border: 1px solid #dedede;
}
.search-icon-dropdown {
	background: #fff;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 39px;
	height: 39px;
	position: absolute;
	right: 0;
	top: 0;
}
.i-search-triangle {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid #9bb48a;
	position: absolute;
	right: 13px;
	top: 16px;
}
/*.topdropdown-block .i-search-triangle {*/
	/*border-top: 8px solid #9bb48a;*/
/*}*/
.search-block ul, .topdropdown-block ul {
	background: #fff;
	border: 1px solid #eaebe5;
	display: none;
	position: absolute;
	height: 300px;
	overflow-y: auto;
	top: 44px;
	width: 100%;
	z-index: 10;
}
.search-block ul li, .topdropdown-block ul li {
	cursor: pointer;
	padding: 6px 20px;
	font-size: 20px;
}
.search-block ul li:hover, .topdropdown-block ul li:hover {
	background: #eaebe5;
}

.btn-search {
	background: transparent url(../images/global/bg_menu.png) repeat;
	border: 1px solid #dedede;
	border-radius: 30px;
	display: block;
	font-size: 26px;
	width: 190px;
	margin: 0 auto;
	height: 49px;
	position: relative;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.getdirection-container .btn-search {
	margin-top: 90px;
}
.btn-search:hover {
	background: #6f9755;
	border: 1px solid #6f9755;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.btn-search i {
	background: url(../images/global/i_search.png) no-repeat;
	position: absolute;
	height: 23px;
	width: 23px;
	background-size: 23px;
	left: 35px;
	top: 11px;
}
.btn-search:hover i {
	background: url(../images/global/i_search_w.png) no-repeat;
	background-size: 23px;
}



/*
MENU - Sub menu
==============================*/
.top-submenu {
	cursor: pointer;
	letter-spacing: 2px;
	position: absolute;
	right: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.5s, visibility 0.5s;
	transition: opacity 0.5s, visibility 0.5s;
}
.top-submenu span {
	display: inline-block;
	height: 27px;
	line-height: 27px;
	padding-left: 25px;
	-webkit-transition: color 0.45s;
	transition: color 0.45s;
	vertical-align: middle;
}
.top-submenu .menu-line {
	background: #454545;
	width: 16px;
	height: 2px;
	position: absolute;
	left: 0;
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
}
.top-submenu .menu-line-1 {
	top: 8px;
}
.top-submenu .menu-line-2 {
	top: 13px;
}
.top-submenu .menu-line-3 {
	top: 18px;
}
.top-submenu:hover .menu-line-1 {
	top: 7px;
}

.top-submenu:hover .menu-line-3 {
	top: 19px;
}

.show-menu, .menu-close.show-menu {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s, visibility 0.5s;
	transition: opacity 0.5s, visibility 0.5s;
}
.menu-close, .menu-home-series-close {
	background: url(../images/global/i_m_close.png) no-repeat left;
	background-size: 18px;
	color: #6f9755;
	cursor: pointer;
	letter-spacing: 2px;
	line-height: 27px;
	padding-left: 25px;
	-webkit-transition: color 0.15s;
	transition: color 0.15s;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	right: 65px;
	top: 20px;
	-webkit-transition: opacity 0.5s, visibility 0.5s;
	transition: opacity 0.5s, visibility 0.5s;
	text-indent: -9999px;
	z-index: 10;
}



.submenu-bg {
	background: rgba(231,230,230,0.9);
	/*height: 100%;*/
	opacity: 0;
	padding: 30px 0;
	position: fixed;
	top: 60px;
	-webkit-transition: opacity 0.5s, visibility 0.5s;
	transition: opacity 0.5s, visibility 0.5s;
	visibility: hidden;
	width: 100%;
	z-index: 1001;
}
.submenu-bg.animate {
	opacity: 1;
	visibility: visible;
}
/*.submenu-container {*/
	/*background: rgba(231,230,230,0.8);*/
/*}*/
.submenu-title {
	color: #6bb36a;
	/*color: #4d4d4d;*/
	font: 24px 'KittithadaBold75', Arial, sans-serif;
	margin-bottom: 10px;
}
.submenu-block ul {
	margin-bottom: 20px;
}
.submenu-block li a {
	color: #7c7c7c;
	display: inline-block;
	padding: 3px 0;
}
.submenu-block li a:hover {
	color: #6f9755;
}

.submenu-tools {
	border-left: 1px solid #c1c1c1;
	padding: 15px 0px 50px 0;
}
.submenu-tools a.menu-tool-list {
	/*border-bottom: 1px solid #e0e0e0;*/
	color: #7f8084;
	font: 20px 'KittithadaBold75', Arial, sans-serif;
	line-height: 1em;
	padding: 25px 15px 25px 80px;
	position: relative;
}
.submenu-tools a:hover.menu-tool-list {
	color: #6f9755;
}
.submenu-tools a.menu-tool-list span {
	font: 18px 'KittithadaRoman55', Arial, sans-serif;
}
.submenu-tools a.menu-tool-list i {
	background-repeat: no-repeat;
	position: absolute;
	background-size: 50px;
	height: 50px;
	width: 50px;
	left: 15px;
	top: 10px;
}
.submenu-tools a.menu-tool-list i.i-subm-search,
i.i-subm-search {
	background-image: url(../images/global/i_subm_search.png);
}
.submenu-tools a.menu-tool-list i.i-subm-direction,
i.i-subm-direction {
	background-image: url(../images/global/i_subm_direction.png);
}
.submenu-tools a.menu-tool-list i.i-subm-email,
i.i-subm-email {
	background-image: url(../images/global/i_subm_email.png);
}
.submenu-tools a.menu-tool-list i.i-subm-call,
i.i-subm-call {
	background-image: url(../images/global/i_subm_call.png);
	top: 15px;
}


.submenu-list, .menu-col-left, .submenu-list {
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
.submenu-list.animate, .menu-col-left.animate, .submenu-list.animate {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}


.submenu-tool, .menu-col-right {
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
.submenu-tool.animate, .menu-col-right.animate {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}




/*
MENU - Home series
==============================*/
.menu-home-series {
	background: rgba(231,230,230,0.9);
	position: fixed;
	padding: 30px 0;
	top: 60px;
	left: 0;
	width: 100%;
	/*height: 100%;*/
	/*min-height: 200px;*/
	-webkit-transition: opacity 0.4s, visibility 0.4s;
	transition: opacity 0.4s, visibility 0.4s;
	visibility: hidden;
}
.submenu-innerpage {
	background: #fff;
	position: fixed;
	padding: 30px 0;
	top: 60px;
	left: 0;
	width: 100%;
	min-height: 200px;
	-webkit-transition: opacity 0.4s, visibility 0.4s;
	transition: opacity 0.4s, visibility 0.4s;
	visibility: hidden;
  }
.menu-home-series.animate, .submenu-innerpage.animate {
	opacity: 1;
	visibility: visible;
}
.menu-home-series-close {
	top: 90px;
	visibility: hidden;
	opacity: 0;
}
.project-menu-title {
	color: #7c7c7c;
	font: 24px 'KittithadaRoman55', Arial, sans-serif;
}
.project-menu-subtitle {
	color: #6bb36a;
	font: 20px 'KittithadaBold75', Arial, sans-serif;
}
.menu-home-series li {

}
.menu-home-series li a {
	color: #7c7c7c;
	display: inline-block;
	padding: 3px 0;
}
.menu-home-series li a:hover,
a:hover.project-menu-title {
	color: #6f9755;
}
a.project-menu-title {
	margin: 20px 0 0 0;
}
.project-menu-logo li {
	display: inline-block;
	margin-right: 15px;
}
.project-menu-logo li.m-block {
	display: block;
}
.project-menu-logo li a {
	width: 70px;
}
.project-menu-logo.m-line-2 li a {
	width: 90px;
}
.project-menu-logo li.l-inizio a {
	width: 105px;
}

.project-menu-logo li a img {
	width: 100%;
}


/*Submenu inner page*/
.submenu-innerpage {
	text-align: center;
	min-height: auto;
	padding: 0px 0 15px 85px;
}
.submenu-innerpage li {
	position: relative;
}
.submenu-innerpage li:after {
	content: "/";
	padding: 0 20px;
	position: absolute;
	top: 13px;
	right: -24px;
	/*font-size: 25px;*/
}
.submenu-innerpage li:last-child:after {
	content: "";
}
.submenu-innerpage li a {
	color: #7b7b7b;
	font-size: 20px;
	padding: 10px 20px;
}

.submenu-innerpage.contact li a {
	padding: 10px 20px 10px 45px;
	position: relative;
}

.submenu-innerpage.contact li a i {
	background-repeat: no-repeat;
	position: absolute;
	background-size: 35px;
	height: 35px;
	width: 35px;
	left: 5px;
	top: 5px;
}
.grey-h{
	color: #5e5e5e;
}



/*
FOOTER
==============================*/
footer {
	background: #fff;
	border-top: 40px solid #efefef;
	bottom: 0;
	height: 220px;
	position: absolute;
	width: 100%;
	z-index: 1;
}
a.scroll-top {
	background: url(../images/global/i_scrolltop.png) no-repeat;
	background-size: 57px;
	width:57px;
	height:57px;
	position: fixed;
	bottom: 24px;
	right: 24px;
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a.scroll-top.fadeIn {
	opacity: 0.6;
	visibility: visible;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.footer-container {
	padding: 50px 0;
}
.ft-social ul {
	margin-bottom: 15px;
	text-align: center;
}
.ft-social li {
	display: inline-block;
}
.ft-social li a {
	background: url(../images/global/ft_social.png) no-repeat;
	margin: 0 10px;
	padding: 5px;
	height: 32px;
	text-indent: -9999px;
	width: 32px;
}
.ft-social li a.ft-fb {
	background-position: -8px -5px;
}
.ft-social li a.ft-tw {
	background-position: -68px -5px;
}
.ft-social li a.ft-yt {
	background-position: -128px -5px;
}
.ft-social li a.ft-ig {
	background-position: -190px -5px;
}

.copyright-txt {
	color: #888;
	font: 20px 'KittithadaRoman55', Arial, sans-serif;
	text-align: center;
}




/*
Inner Content 
==============================*/
.content  {
	background: #fff;
	padding: 30px 0;
	position: relative;
	z-index: 1;
}

.content2  {
	background: #fff;
	padding: 70px 0;
	position: relative;
	z-index: 1;
}


.page-banner {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	/*height: 665px;*/
	overflow: hidden;
	padding: 0 10px;
}
.banner-container {
	height:100vh;
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
}
.banner-parallax {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0px;
	/*background-attachment: fixed;*/
	/*height: 660px;*/
}
.page-banner-lg {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	/*background-position: top center;*/
	/*background-repeat: no-repeat;*/
	/*background-size: 98.5% auto;*/
	/*background-position-y: 60px;*/
	/*background-attachment: fixed;*/
	/*width: 100%;*/
	/*overflow: hidden;*/
	height: 385px;
}

.page-banner-md {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	/*background-position: top center;*/
	/*background-repeat: no-repeat;*/
	/*background-size: 98.5% auto;*/
	/*background-position-y: 60px;*/
	/*background-attachment: fixed;*/
	/*width: 100%;*/
	/*overflow: hidden;*/
	height: 360px;
}
.page-banner-content {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	/*background-size: 100% auto;*/
	/*background-position-y: 203px;*/
	/*background-attachment: fixed;*/
	/*overflow: hidden;*/
	/*height: 510px;*/
}

.page-scroll {
	position: relative;
}
.parallax-window {
	background: transparent;
	/*height: 655px;*/
	/*min-height: 655px;*/
}

.i-scroll-next {
	background: url(../images/global/i_arrow_scroll.png) no-repeat;
	cursor: pointer;
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -25px;
	z-index: 20;
}
.i-scroll-next-grey {
	background: url(../images/global/i_arrow_scroll_grey.png) no-repeat;
	cursor: pointer;
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -25px;
	z-index: 20;
}


#bannerSlide {
	padding: 0 10px;
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
}
.bg-slide {
	background: url(../images/global/bg_grey.png) repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}
.banner-txt {
	position: relative;
}
.banner-txt h1 {
	color: #fff;
	font: 80px 'KittithadaRoman55', Arial, sans-serif;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px 3px 3px rgba(0, 0, 0,0.4);
}

.logo-brand {
	background-repeat: no-repeat;
	position: absolute;
	right: 35px;
	top: 35px;
	z-index: 10;
	-webkit-filter: drop-shadow(5px 5px 5px #000);
	filter:         drop-shadow(5px 5px 5px #000);
}
.brand-ladawan-rattanathibet {
	background-image: url(../images/logo_lg/lo_lg_ladawan_rattanathibet.png);
	background-size: 250px;
	width: 250px;
	height: 55px;
}
.banner-parallax{
	position: relative;
}


.brand-logo {
	position: absolute;
	right: 35px;
	top: 35px;
	z-index: 10;
	-webkit-filter: drop-shadow(5px 5px 5px #666);
	filter:         drop-shadow(5px 5px 5px #666);
}
.brand-logo {
	/*width: 250px;*/
	/*display: inline-block;*/
}
.brand-logo img {
	display: inline-block !important;
}
.lo-200 {
	width: 200px !important;
}
.lo-150 {
	width: 150px !important;
}
.lo-100 {
	width: 100px !important;
}
.lo-50 {
	width: 50px !important;
}


.heading-title {
	color: #6f9755;
	font: 30px 'KittithadaRoman55', Arial, sans-serif;
	text-transform: uppercase;
	position: relative;
}
p.heading-title {
	margin-bottom: 15px;
}
.heading-title.grey {
	color: #4d4c4d;
}
.heading-logo img {
	margin: 0 auto;
}
.title {
	color: #4d4c4d;
	font: 24px 'KittithadaBold75', Arial, sans-serif;
	margin-bottom: 0;
}
.title.green {
	color: #6f9755;
	text-transform: uppercase;
	
}
.title.gold {
	color: #a99a6f;
	text-transform: uppercase;
	
}
.title-gallery {
	color: #4d4c4d;
	font: 20px 'KittithadaRoman55', Arial, sans-serif;
	margin-bottom: 0;
	text-align:left;
	font-style: italic;
	margin-top: 5px;
}
.subtitle {
	color: #4d4c4d;
	font: 22px 'KittithadaRoman55', Arial, sans-serif;
	margin-bottom: 0;
}
p.green, span.green {
	color: #6f9755;
}
p.gold {
	color: #a99a6f;
}
.txt-22 {
	font-size: 22px;
}
.bold {
	font-family: 'KittithadaBold75', Arial, sans-serif;
}
p.txt-remark-sm {
	font-size: 16px;
}
p.txt-remark {
	font-size: 20px;
}


table.content-style {
	margin: 15px 0 20px 0;
}
table.content-style td {
	padding: 2px 15px 2px 0;
}
table.content-style a {
	color: #4d4c4d;
	display: inline-block;
}
table.content-style a:hover {
	color: #6f9755;
}
table.table-1 {

}
table.table-1 thead th {
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
	background: #eaebe5;
	line-height: 1.4em;
	padding: 5px 10px;
	text-align: center;
}
table.table-1 tbody td {
	background: #f5f7f6;
	line-height: 1.4em;
	padding: 5px 10px;
	text-align: center;
	vertical-align: top;
	border-right: 3px solid #fff;
}
table.table-1 thead th:last-child, table.table-1 tbody td:last-child {
	border-right: none;
}
table.table-1 tbody td.tb-plan-detail {
	text-align: left;
}

table.content-style.tbs1 {
	width: 100%;
}
table.content-style.tbs1 tbody tr:nth-child(odd) td {
	background: #f5f7f6;
}
table.content-style.tbs1 tbody tr:nth-child(even) td {
	background: #eaebe5;
}
table.content-style.tbs1 tbody tr {
	border-bottom: 3px solid #fff;
}
table.content-style.tbs1 tbody tr td {
	padding: 5px 20px;
}
.tb-2col .col-md-6.cl {
	padding-right: 0;
}
.tb-2col .col-md-6.cr {
	padding-left: 0;
}



.txt-bold {
	font-family: 'KittithadaBold75', Arial, sans-serif;
}
.txt-right {
	text-align: right;
}
.txt-center {
	text-align: center;
}
.content-style ul {
	list-style-image: url(../images/global/i_bullet.png);
	padding-left: 20px;
	margin: 15px 0 30px 0;
}
.content-style ul li {
	margin-bottom: 5px;
	padding-left: 10px;
}
.content ol li {
	margin-bottom: 5px;
	margin-left: 20px;
	padding-left: 10px;
	list-style: decimal;
}
.title-block {
	margin-bottom: 20px;
}
.content-img {
	margin-bottom: 20px;
}
.content-img img {
	width: 100%;
}

p.date {
	margin-bottom: 0;
}

a.back-to-prev {
	color: #6f9755;
	font: 24px 'KittithadaBold75', Arial, sans-serif;
	display: inline-block;
	margin-bottom: 20px;
	padding-left: 0px;
	position: relative;
}
a:hover.back-to-prev {
	color: #4d4c4d;
}

a.back-to-prev i {
	background: url(../images/global/i_arrow_back.png) no-repeat;
	height: 21px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 12px;
}


.list-item a, .list-item a p,
.relate-post a p {
	color: #4d4c4d;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

}
.list-item a:hover, .list-item a:hover p,
.relate-post a:hover p {
	color: #6f9755;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}


/*Slide Control*/
.owl-pagination {
	text-align: center;
	margin-top: 30px;
}
.page-banner .owl-controls {
	position: absolute;
	width: 100%;
	bottom: 15px;
}
.owl-dots {
	text-align: center;
	margin-top: 10px;
	margin-left: -20px;
}
.owl-dot {
	background: #dee4e2;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin: 5px;
	width: 10px;
}
.owl-dot.active, .owl-dot:hover {
	background: #6e9751;
}

.owl-nav {
	width: 100%;
}
.owl-nav div {
	background-repeat: no-repeat;
	height: 34px;
	width: 34px;
	position: absolute;
	top: 35%;
	text-indent: -9999px;
}
.owl-prev {
	background-image: url(../images/global/i_slide_prev.png);
	left: -60px;
}
.owl-next {
	background-image: url(../images/global/i_slide_next.png);
	right: -60px;
}

#modelThumb-pager .owl-controls {
	display: none;
}
#projectModelSlide .bx-wrapper .bx-controls-direction a {
	bottom: -15%;
}

.col-slide .owl-buttons div {
	top: 20%;
}
.col-slide .item {
	padding: 0 15px;
}


/*button */
.btn {
	border-radius: 20px;
	display: inline-block;
	font: 22px 'KittithadaRoman55', Arial, sans-serif;
	height: 40px;
	padding: 5px 0;
	width: 180px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.btn:hover {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.btn-seemore, .btn-submit, .btn-download {
	border: 1px solid #dedede;
	color: #6f9755;
	background: transparent;
	display: block;
        margin:auto;
}
a.btn-seemore {
	color: #6f9755;
}
.btn-seemore:hover, .btn-submit:hover {
	background: #6f9755;
	color: #fff;
}
.btn-register {
	border: 1px solid #6f9755;
	background: #6f9755;
	color: #fff;
}
.btn-register:hover {
	opacity: 0.9;
}
.btn-download {
	position: relative;
	padding-left: 35px;
}

/*.tag {*/
	/*background: #9ab588;*/
	/*border-radius: 50%;*/
	/*color: #fff;*/
	/*font: 24px/60px 'KittithadaLight45', Arial, sans-serif;*/
	/*right: 10px;*/
	/*padding: 5px;*/
	/*position: absolute;*/
	/*width: 70px;*/
	/*height: 70px;*/
	/*bottom: -30px;*/
	/*text-transform: uppercase;*/
	/*text-align: center;*/
/*}*/

/*.tag {*/
	/*background: #6f9755;*/
	/*color: #fff;*/
	/*font: 20px 'KittithadaLight45', Arial, sans-serif;*/
	/*left: -35px;*/
	/*padding: 5px;*/
	/*position: absolute;*/
	/*width: 150px;*/
	/*height: 35px;*/
	/*top: 23px;*/
	/*text-transform: uppercase;*/
	/*text-align: center;*/
	/*transform: rotate(-45deg);*/
	/*-webkit-transform: rotate(-45deg);*/
/*}*/

.tag {
	position: absolute;
	padding: 2px 0;
	background-color: #6f9856;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.tag a,
.tag a:hover {
	font-size: 18px;
	font-weight: 700;
	color: white;
	text-decoration: none;
	text-shadow: 0 -1px rgba(0,0,0,0.5);
	text-align: center;
	width: 200px;
	line-height: 20px;
	display: inline-block;
	padding: 2px 0;
	border-width: 1px 0;
	border-style: dotted;
	border-color: rgba(255,255,255,0.7);
	text-transform: uppercase;
}

.tag-sold {
	position: absolute;
	padding: 2px 0;
	background-color: #d20c36;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.tag-sold a,
.tag-sold a:hover {
	font-size: 18px;
	font-weight: 700;
	color: white;
	text-decoration: none;
	text-shadow: 0 -1px rgba(0,0,0,0.5);
	text-align: center;
	width: 200px;
	line-height: 20px;
	display: inline-block;
	padding: 2px 0;
	border-width: 1px 0;
	border-style: dotted;
	border-color: rgba(255,255,255,0.7);
	text-transform: uppercase;
}

.tag-box {
	width: 150px;
	height: 150px;
	position: absolute;
	overflow: hidden;
	top: 0;
	z-index: 9999;
}

.tag-box.fixed {
	position: fixed;
}

.tag-box.left {
	left: 0;
}
.tag-box.right {
	right: 0;
}


.tag-box.left .tag {
	top: 22px;
	left: -58px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.tag-box.right .tag-sold {
	top: 40px;
	left: -10px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.tagbox2 {
	background: url(../images/global/ribbon.png) no-repeat;
	background-size: 150px;
	height: 150px;
	width: 150px;
	position: absolute;
	top: -11px;
	left: 1px;
	z-index: 10;
}
.tagbox2 .tag2 {
	top: 33px;
	left: 3px;
	position: absolute;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.img100 {
	width: 100%;
}



/*TAB MENU*/
.tabs-container {

}
.tabs-menu {
	clear: both;
	padding: 0;
	width: 100%;
	position: relative;
	display: block;
	margin-bottom: 45px;

}
.tabs-menu.dropdown-menu {
	box-shadow: none;
	border: none;
	background: transparent;
}
.tabs-menu li {
	background: transparent;
	display: inline-block;
}
.tabs-menu li.current {
	position: relative;
	z-index: 5;
}
.tabs-menu li a {
	border-bottom: 4px solid transparent;
	padding: 5px 10px;
	position: relative;
	text-decoration: none;
	text-align: center;
	line-height: 100%;
	color: #b0babb;
	font: 24px 'KittithadaBold75', Arial, sans-serif;
	height:45px;
	width: 90px;
}
.tabs-menu li.current a, .tabs-menu li a:hover {
	background: transparent;
	border-bottom: 4px solid #6f9755;
	color: #6f9755;
}
.tab-content {
	display: none;
}
.tab-block {
	min-height: 200px;
}
#tab-1 {
	display: block;
}
.tab-content ul {
	margin: 15px 0;
}

/*for slider*/
.tabs-menu-plan-slide {
	clear: both;
	padding: 0;
	width: 100%;
	position: relative;
	display: block;
	margin-bottom: 45px;

}
.tabs-menu-plan-slide.dropdown-menu {
	box-shadow: none;
	border: none;
	background: transparent;
}
.tabs-menu-plan-slide li {
	background: transparent;
	display: inline-block;
}
.tabs-menu-plan-slide li.current {
	position: relative;
	z-index: 5;
}
.tabs-menu-plan-slide li a {
	border-bottom: 4px solid transparent;
	padding: 5px 10px;
	position: relative;
	text-decoration: none;
	text-align: center;
	line-height: 100%;
	color: #b0babb;
	font: 24px 'KittithadaBold75', Arial, sans-serif;
	height:45px;
	width: 90px;
}
.tabs-menu-plan-slide li.current a, .tabs-menu-plan-slide li a:hover {
	background: transparent;
	border-bottom: 4px solid #6f9755;
	color: #6f9755;
}



.sort-container {
	position: absolute;
	top: 0px;
	right: 0;
}
.sort-block {
	position: relative;
}
.sort {
	background: #fff;
	border-radius: 6px;
	border: 1px solid #dedede;
	cursor: pointer;
	padding: 5px 15px;
	position: relative;
	width: 240px;
	height: 33px;
}
.i-sort {
	background: url(../images/global/i_sort.png) no-repeat;
	height: 7px;
	position: absolute;
	right: 10px;
	top: 13px;
	width: 12px;
}
.sort-block ul {
	background: #fff;
	border: 1px solid #eaebe5;
	display: none;
	position: absolute;
	top: 35px;
	width: 100%;
	z-index: 10;
}
.sort-block ul li {
	cursor: pointer;
	padding: 5px 20px;
}
.sort-block ul li:hover {
	background: #eaebe5;
}


.view-block {
	float: left;
}
.view-block {
	margin-left: 10px;
}
.view-block li {
	float: left;
}
.view-block li a {
	background: url(../images/global/i_view.png) no-repeat;
	cursor: pointer;
	height: 32px;
	width: 31px;
	opacity: 0.5;
}
.view-block li a.i-view-list {
	background-position: 0 0;
}
.view-block li a.i-view-grid {
	background-position: -31px 0;
}
.view-block li a.i-view-grid-more {
	background-position: -61px 0;
}

.view-block li a.i-view-list:hover, .view-block li a.i-view-list.active {
	opacity: 1;
}

.view-block li a.i-view-grid:hover, .view-block li a.i-view-grid.active {
	opacity: 1;
}

.view-block li a.i-view-grid-more:hover, .view-block li a.i-view-grid-more.active {
	opacity: 1;
}

.header-margin {
	margin-bottom: 30px;
	text-transform: uppercase;
}

.form-group {
	margin-bottom: 20px;
}
.form-container input, .form-container textarea {
	background: #fff;
	border-radius: 6px;
	border: 1px solid #dedede;
	font-size: 22px;
	color: #4d4c4d;
	padding: 10px 20px;
	box-shadow: none;
}
.form-container input {
	height: 50px;
}
.form-container textarea {
	height: 170px;
}

input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label {
	cursor: pointer;
	margin-right: 30px;
}
input[type="checkbox"] + label span {
	display:inline-block;
	width: 24px;
	height: 24px;
	margin:-1px 10px 0 0;
	vertical-align:middle;
	background: #fff;
	border: 1px solid #dedede;
	cursor:pointer;
	border-radius: 1px;
}
input[type="checkbox"]:checked + label span {
	background: #fff url(../images/global/i_checkbox.png) center no-repeat;
	background-size: 15px;
}


/*radio circle*/
input[type="radio"] {
	display:none;
}
input[type="radio"] + label {
	cursor: pointer;
	margin-bottom: 10px;
}
input[type="radio"] + label span {
	display:inline-block;
	width:23px;
	height:23px;
	border: 4px solid #e9eae4;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	cursor:pointer;
	-moz-border-radius:  50%;
	border-radius:  50%;
	margin-right: 10px;
}

input[type="radio"] + label span {
	background-color: #e9eae4;
}

input[type="radio"]:checked + label span{
	border: 4px solid #e9eae4;
	background-color: #6d9853;
}
.radio-block {
	margin-bottom: 20px;
}


/*radio squre checkmark*/
.radio-checkmark input[type="radio"] + label {
	margin-right: 30px;
}
.radio-checkmark input[type="radio"] + label span {
	display:inline-block;
	width:23px;
	height:23px;
	border: none;
	background: #fff;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	cursor:pointer;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-right: 10px;
}

.radio-checkmark input[type="radio"] + label span {
	background-color: #fff;
}

.radio-checkmark input[type="radio"]:checked + label span{
	border: none;
	background-color: #fff;
	background-image: url(../images/global/i_checkbox_gd.png);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
}

.project-form .check-type-radio #date_appointment,
.project-form .check-type-radio #date_appointment_ft {
	display: none;
}
.project-form #check-appoint-ft:checked ~ #date_appointment_ft {
	display: block;
}

/*input[type="radio"] + label span,*/
/*input[type="radio"]:checked + label span {*/
	/*-webkit-transition:background-color 0.4s linear;*/
	/*-o-transition:background-color 0.4s linear;*/
	/*-moz-transition:background-color 0.4s linear;*/
	/*transition:background-color 0.4s linear;*/
/*}*/


p.title-label, label.title-label {
	font-size: 22px;
}


.info-logo-img {
	/*display: inline-block;*/
}
.info-logo-img img {
	margin: 0 auto 15px auto;
}

a.step-back {
	color: #6f9755;
	font: 24px 'KittithadaRoman55', Arial, sans-serif;
	display: inline-block;
	margin-top: 20px;
}


/*lightbox*/

iframe.lightbox {
	display: none;
}


/*icon*/

.content-style i {
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
}
.i-bullet {
	background-image: url(../images/global/i_bullet.png);
	height: 6px;
	width: 6px;
}
.i-info-time {
	background-image: url(../images/global/i_info_time.png);
	height: 20px;
	width: 20px;
}
.i-info-call {
	background-image: url(../images/global/i_info_tel.png);
	height: 20px;
	width: 20px;
}
.i-info-pin {
	background-image: url(../images/global/i_info_pin.png);
	height: 20px;
	width: 20px;
}
.i-info-email {
	background-image: url(../images/global/i_info_mail.png);
	height: 20px;
	width: 20px;
}
.i-info-appoint {
	background-image: url(../images/global/i_info_appoint.png);
	height: 20px;
	width: 20px;
}

.i-cal {
	background-image: url(../images/global/i_cal.png);
	height: 44px;
	width: 34px;
}

.i-view-360 {
	background: url(../images/global/i_360.png) no-repeat;
	background-size: 76px;
	position: absolute;
	height: 76px;
	width: 76px;
	margin: -38px 0 0 -38px;
	left: 50%;
	top: 50%;
	z-index: 5;
}
.i-view-vdo {
	background: url(../images/global/i_play_w.png) no-repeat;
	background-size: 76px;
	position: absolute;
	height: 76px;
	width: 76px;
	margin: -38px 0 0 -38px;
	left: 50%;
	top: 50%;
	z-index: 5;
}

.i-view-vdo-grey {
	background: url(../images/global/i_play.png) no-repeat;
	background-size: 76px;
	position: absolute;
	height: 76px;
	width: 76px;
	margin: -38px 0 0 -38px;
	left: 50%;
	top: 50%;
	z-index: 5;
}

.i-download {
	background: url(../images/global/i_download.png) no-repeat;
	height: 20px;
	position: absolute;
	left: 30px;
	top: 7px;
	width: 20px;
}
.i-attach {
	background: url(../images/global/i_attach.png) no-repeat;
	background-size: 20px;
	height: 20px;
	position: absolute;
	right: 12px;
	top: 10px;
	width: 20px;
}
.i-zoom {
	background-image: url(../images/global/i_zoom.png);
	cursor: pointer;
	height: 45px;
	width: 45px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}


.float-share {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.i-sharelists {
	background: url(../images/global/icon_share.png) no-repeat;
	background-size: 65px;
	width: 65px;
	height: 65px;
	display: block;

	/*background-color: rgba(150, 146, 150, 0.50);*/
	/*-webkit-border-radius: 50%;*/
	/*-moz-border-radius: 50%;*/
	/*border-radius: 50%;*/
	/*width: 50px;*/
	/*height: 50px;*/
	/*display: block;*/
}
/*.i-sharelists i {*/
	/*background: url(../images/global/i_share_w.png) no-repeat;*/
	/*background-size: 27px;*/
	/*width: 27px;*/
	/*height: 27px;*/
	/*position: absolute;*/
	/*top: 12px;*/
	/*left: 9px;*/
/*}*/

.ficon-shares {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #d0cece;
	width: 180px;
	height: 50px;
	position: fixed;
	bottom: 100px;
	right: 20px;
	padding: 10px 0;
	opacity: 0;
	visibility: hidden;
	z-index: 35;
	text-align: center;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.ficon-shares i {
	background-size: 30px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: block;
}
.ficon-shares a {
	display: inline-block;
	margin: 0 10px;
}
.ficon-shares i.i-fb {
	background-image: url(../images/global/i_s_fb_gy.png)
}
.ficon-shares i.i-tw {
	background-image: url(../images/global/i_s_tw_gy.png)
}
.ficon-shares i.i-ig {
	background-image: url(../images/global/i_s_ig_gy.png)
}
.ficon-triangle {
	background: url(../images/global/i_s_triangle.png) no-repeat;
	background-size: 32px;
	position: absolute;
	display: inline-block;
	width: 32px;
	height: 16px;
	/*border-style: solid;*/
	/*border-width: 16px 15px 0 15px;*/
	/*border-color: #fff transparent transparent transparent;*/
	top: 48px;
	right: 17px;
}


.map-container {
	position: relative;
}
.i-getdirection {
	background: url(../images/global/i_getdirection.png) no-repeat;
	background-size: 28px;
	border: 1px solid #e8e8e8;
	cursor: pointer;
	position: absolute;
	height: 63px;
	width: 28px;
	right: 10px;
	top: 75px;
	z-index: 5;
}
#map {
	height: 570px;
	width: 100%;
}

.datepicker {
	font: 22px 'KittithadaRoman55', Arial, sans-serif;
	width: 400px;
}
.datepicker table {
	width: 100%;
}
.datepicker table tr td.active {
	background-image: none !important;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active {
	background-color: #9bb48a !important;
}


.rps, .rps-footer-sticky,
.top-icons li.rps {display: none;}
.dsktp {display: block;}
.top-icons li.dsktp {display: inline-block;}

.featherlight-content {
	overflow: hidden !important;
}
.featherlight-next:hover, .featherlight-previous:hover {
	background: transparent !important;
}
.featherlight-next span, .featherlight-previous span {
	width: 34px !important;
}
.featherlight-next span {
	background-image: url(../images/global/i_slide_next.png);
	background-repeat: no-repeat;
	height: 34px;
	width: 34px;
	position: absolute;
	text-indent: -9999px;
}
.featherlight-previous span {
	background-image: url(../images/global/i_slide_prev.png);
	background-repeat: no-repeat;
	height: 34px;
	width: 34px;
	position: absolute;
	text-indent: -9999px;
}
.review-img {
	margin-bottom: 10px;
	position: relative;
}
.review-img img {
	width: 100%;
}
.list-item {
	padding: 0 1%;
	width: 32%;
}

.center {
	text-align: center;
}

.pd37 {
	padding-top: 37px;
}

.banner-rsp { display: none; }

.radio-checkmark input[type="radio"] + label span {
	border: 1px solid #dedede;
}
.radio-checkmark input[type="radio"]:checked + label span{
	background-image: url(../images/global/i_checkbox.png);
	border: 1px solid #dedede;
}

.contact-container {
	overflow-y: auto;
}


/*Project type logo*/
.prjt-logo {
	width: 150px;
}



/*
Responsive
==============================*/
@media (max-width: 1280px) {
	.owl-prev { left: -50px; }
	.owl-next { right: -50px; }
}
@media (max-width: 1200px) {
	/*.main-navigation { left: 190px; }*/
	.top-icons { right: 100px; }

}
@media (max-width: 992px) {
	.banner-dktp { display: none; }
	.banner-rsp { display: block; }
	.rps {display: block;}
	.top-icons li.rps {display: inline-block;}
	.dsktp, .top-icons li.dsktp {display: none;}

	#header { height:60px; }
	.main-logo { top: 17px; }
	.main-navigation, .top-menu { display: none !important; }
	.submenu-title { padding-left: 20px; padding-top: 10px; }

	.rps-footer-sticky { background: #9bb48a; position: fixed; bottom: 0px;
		display: block; height:50px; width: 100%; top: initial; left:0; right: initial;
		z-index: 1000;
	}
	.rps-footer-sticky ul { text-align: center}
	.rps-footer-sticky li {
		width: 21%;
		display: inline-block;
	}
	.rps-footer-sticky li a {
		border: 2px solid transparent;
		padding: 7px 15px;
		position: relative;
		text-align: center;
		height: 50px;
	}
	.rps-footer-sticky li a.active {
		/*border: 2px solid #6f9755;*/
	}
	.rps-footer-sticky li a span, .top-icons { display: none;}
	.rps-footer-sticky li a.active, .top-icons li:hover.menu-hover {
		background: transparent;
	}
	.rps-footer-sticky li a i { display: block; position: absolute; }

	.rps-footer-sticky li a i.i-home {
		background: url(../images/global/i_m_home_w.png) no-repeat;
		height: 23px;
		width: 20px;
		background-size: 20px;
		top: 10px;
		left: 21px;
	}
	.rps-footer-sticky li:hover a.active i.i-home,
	.rps-footer-sticky li a:hover i.i-home,
	.rps-footer-sticky li a.active i.i-home {
		background: url(../images/global/i_m_home_w.png) no-repeat;
		height: 24px;
		width: 24px;
		background-size: 24px;
	}

	.rps-footer-sticky li a i.i-search {
		background: url(../images/global/i_m_search_w.png) no-repeat;
		height: 26px;
		width: 24px;
		background-size: 24px;
		top: 10px;
		left: 20px;
	}
	.rps-footer-sticky li:hover a.active i.i-search,
	.rps-footer-sticky li a:hover i.i-search,
	.rps-footer-sticky li a.active i.i-search {
		background: url(../images/global/i_m_search_w.png) no-repeat;
		height: 26px;
		width: 24px;
		background-size: 24px;
	}

	.rps-footer-sticky li a i.i-direction {
		background: url(../images/global/i_m_getdirect_w.png) no-repeat;
		height: 26px;
		width: 26px;
		background-size: 26px;
		top: 10px;
		left: 20px;
	}
	.rps-footer-sticky li:hover a.active i.i-direction,
	.rps-footer-sticky li a:hover i.i-direction,
	.rps-footer-sticky li a.active i.i-direction {
		background: url(../images/global/i_m_getdirect_w.png) no-repeat;
		height: 26px;
		width: 26px;
		background-size: 26px;
	}

	.rps-footer-sticky li a i.i-mail {
		background: url(../images/global/i_m_email_w.png) no-repeat;
		height: 20px;
		width: 24px;
		background-size: 24px;
		top: 14px;
		left: 20px;
	}
	.rps-footer-sticky li:hover a.active i.i-mail,
	.rps-footer-sticky li a:hover i.i-mail,
	.rps-footer-sticky li a.active i.i-mail {
		background: url(../images/global/i_m_email_w.png) no-repeat;
		height: 20px;
		width: 24px;
		background-size: 24px;
	}
	.rps-footer-sticky li a i.i-call {
		background: url(../images/global/i_m_tel_w.png) no-repeat;
		height: 24px;
		width: 24px;
		background-size: 24px;
		top: 10px;
		left: 20px;
	}
	.rps-footer-sticky li:hover a.active i.i-call,
	.rps-footer-sticky li a:hover i.i-call,
	.rps-footer-sticky li a.active i.i-call {
		background: url(../images/global/i_m_tel_w.png) no-repeat;
		height: 24px;
		width: 24px;
		background-size: 24px;
	}

	footer { display: none; position: relative; height: 150px; margin-bottom: 50px; z-index: 1; }
	.footer-container { padding: 20px 0; }

	.rps-menu .ft-social { padding: 10px 0; }
	.rps-menu .ft-social ul {
		text-align: left;
		border: none;
		padding-left: 20px;
	}
	.rps-menu .ft-social li {
		border: none;
		display: inline-block;
		width: auto;
	}
	.rps-menu .ft-social li a { margin: 0 15px 0 0; }

	.sticky-block { padding-bottom: 40px; padding-top: 60px; }
	.ft-social ul, p.copyright-txt { margin-bottom: 5px; }
	/*.content { padding: 30px 0 20px 0; }*/
	.page-banner {
		height: auto;
	}
	.owl-nav { display: none; }
	.owl-nav div, .col-slide .owl-nav div {
		height: 15px;
		width: 13px;
		top: -30px;
		right: 10px;
	}
	.owl-nav div.owl-next {
		background-image: url(../images/global/i_rps_slide_next.png);
	}
	.owl-nav div.owl-prev {
		background-image: url(../images/global/i_rps_slide_prev.png);
		left: initial;
		right: 30px;
	}
	.pull-right, .pull-left, .left, .right { float: none !important; }
	.owl-carousel .item img, .tab img {
		width: 100%;
	}

	/*.col-slide .item { padding: 0; }*/

	.header-margin { margin-bottom: 15px; }
	.parallax-window {
		height: 505px;
		min-height: 0;
	}

	.topdropdown-container {
		background: #fff;
		padding: 35px 30px 30px 30px;
		top: 60px;
		left: 0;
		right: initial;
		width: 100%;
	}
	.contact-container {
		background: #fff;
		padding: 35px 30px 140px 30px;
	}

	.getdirection-container .btn-search {
		margin-top: 50px;
	}
	.topdropdown-container p, .topdropdown-block, .search-block {
		margin-bottom: 20px;
	}
	.topdropdown-container h3 {
		text-transform: uppercase;
		font: 30px 'KittithadaRoman55', Arial, sans-serif;
	}
	.topdropdown-container p {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.searchBlock {
		padding: 8px 20px;
		height: 42px;
		border-radius: 6px;
		border: 1px solid #dedede;
	}
	.search-icon-dropdown {
		background: transparent;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		
	}
	.i-search-triangle {
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 10px solid #9bb48a;
	}
	/*.topdropdown-block .i-search-triangle {*/
		/*border-top: 10px solid #6f9755;*/
	/*}*/
	.search-block ul, .topdropdown-block ul {
		background: #fff;
		top: 44px;
		height: 190px;
	}
	.search-block ul li, .topdropdown-block ul li {
		/*border-bottom: 1px solid #9bb48a;*/
		/*color: #fff;*/
	}
	.search-block ul li:last-child, .topdropdown-block ul li:last-child {
		border-bottom: none;
	}
	.search-block ul li, .topdropdown-block ul li {
		padding: 8px 20px;
	}
	.search-block ul li:hover, .topdropdown-block ul li:hover {
		color: #4d4c4d;
	}

	.page-banner {
		padding: 0;
	}
	.page-banner-content, .page-banner-md, .page-banner-lg {
		background-size: cover;
	}

	.tabs-menu {
		margin-bottom: 10px;
		margin-top: 5px;
	}
	.tab-dd .row { margin: 0; }
	.tab-block { min-height: auto; }


	iframe.lightbox, iframe, .featherlight-content iframe {
		width: 100%;
		height: auto;
	}
	iframe.lightbox.vdoview {
		height: 360px;
	}

	.pd37 {
		padding-top: 15px;
	}

	.info-logo-img img {
		margin: 0 auto 10px auto;
	}
	.content-img {
		margin-bottom: 15px;
	}
	.form-group {
		margin-bottom: 17px;
	}

	.brand-logo {
		right: 15px;
		top: 15px;
	}
	.brand-logo img {
		width: 130px !important;
	}
	.brand-logo img.lo-200 {
		width: 100px !important;
	}
	.brand-logo img.lo-150 {
		width: 75px !important;
	}
	.brand-logo img.lo-100 {
		width: 50px !important;
	}
	.brand-logo img.lo-50 {
		width: 35px !important;
	}
}

@media (max-width: 768px) {
	.content  { padding: 15px 0 30px 0; }
	h1 { margin-bottom: 5px; }
	h2 { margin-bottom: 15px; }
	#bannerSlide { padding: 0; }
	.page-banner-md { height: 170px; }
	.sort-container { position: initial; margin-bottom: 20px; }
	.sort { width: 100%; }
	.i-scroll-next, .i-scroll-next-grey { display: none; background-size: 40px; width: 40px; height: 40px; bottom: 40px; }

	p.heading-title {
		margin-bottom: 10px;
	}
	.subtitle {
		font-size: 24px;
		margin-bottom: 5px;
	}
	.banner-hide { display: none; }
	a.scroll-top {
		background-size: 40px;
		width:40px;
		height:40px;
		bottom: 60px;
		right: 10px;
	}
	.float-share {
		bottom: 55px;
		right: 10px;
	}
	.ficon-shares {
		right: 10px;
		bottom: 115px;
	}
	.ficon-triangle {
		background-size: 25px;
		width: 25px;
		height: 12px;
		right: 9px;
	}

	.i-view-vdo {
		background-size: 50px;
		height: 50px;
		width: 50px;
		margin: -25px 0 0 -25px;
	}

	.btn-seemore, .btn-submit, .btn-download { margin: 0 auto;}

	.page-banner .owl-controls {
		bottom: 0px;
	}

	.info-logo-img {
		display: block;
	}
	table.content-style.tbs1, .content-style ul.tbs1 {
		margin: 0;
	}

	.sort { width: 100%;  }
	.sort-container .view-block { display: none; }
	.mtr-15 { margin-top: 15px;}
	.title-gallery { margin-bottom: 15px;}

	#projectModelSlide .bx-wrapper .bx-controls-direction a {
		bottom: -28%;
	}
	#projectModelSlide .bx-wrapper .bx-prev { left: -2px; }
	#projectModelSlide .bx-wrapper .bx-next { right: -2px; }
	.mbr-15 { margin-bottom: 15px; }

	.tb-2col .col-md-6.cl {
		padding-right: 15px;
	}
	.tb-2col .col-md-6.cr {
		padding-left: 15px;
	}
	.panel-close { right:25px; }

	span.nl {
		display: block;
	}

	.featherlight .featherlight-content { width: 97%; }
	.featherlight .featherlight-content img { width: 100% !important; height: auto !important; }
	.i-zoom {
		right: 15px;
	}
	.line-space {
		margin-bottom: 7px;
		display: inline-block;
	}
	.i-sharelists {
		background-size: 45px;
		width: 45px;
		height: 45px;
	}

	.radio-checkmark input[type="radio"] + label {
		margin-right: 10px;
	}
	.datepicker {
		width: 90%;
	}
	.hide-mobile{

		display: none;
	}
}

@media (max-width: 400px) {
	.top-icons ul { text-align: center; }
	.top-icons li {
		width: 17%;
	}

	.radio-checkmark input[type="radio"] + label {
		margin-right: 0px;
	}
	.hide-mobile{

		display: none;
	}
}
