.news-page {
    margin: 50px 0;
}

.news-page h1 {
    margin-bottom: 60px;
}

.news-page img {
    width: 100%;
}

.news-title {
    color: #6f9755;
    margin-bottom: 5px;
}



.news-page ul {
    margin-left: 20px;
}
.news-page li {
    list-style: disc;
    margin-bottom: 15px;
}


.news-lists {
    margin: 40px 0 60px 0;
}

.news-lists tr td {
    background: #f7f7f7;
}

.news-lists tr:nth-child(even) td {
    background: #fff;
}
.news-lists td {
    padding: 15px 30px;
}

.news-lists td.news-date {
    border-right: 1px solid #ededed;
    color: #6f9755;
}
.news-lists tr span {
    color: #4d4c4d;
    margin-right: 5px;
}


.select-year-block {
    float: right;
    margin: 20px 10px 0px 0;
}

.select-year {
    background: #f5f5f5 url(../images/news/i_sort_blk.png) no-repeat 85% center;
    height: 34px;
    width: 80px;
    display: inline-block;
    margin-left: 5px;
}
.select-year select {
    display: inline-block;
    margin-left: 10px;
    border-radius: 0;
    border: none;
    padding: 5px;
    width: 60px;
    height: 34px;
    background: transparent;
}


#news tr {
    display:none;
}


/*
Responsive
==============================*/

@media (max-width: 992px) {
    .news-page h1 {
        margin-bottom: 30px;
    }

}

@media (max-width: 768px) {


}