.foreign-page {
    padding: 90px 0 30px 0;
}

.foreign-page h1 {
    margin-bottom: 50px;
}

.foreign-page h2 {
    color: #4e4c4d;
    font-size: 28px;
    margin-bottom: 30px;
}

p.mb5 {
    margin-bottom: 7px;
}

.foreign-block {
    margin: 60px 0 20px 0;
}
.topic-title-block {
    color: #6e9554;
    position: relative;
    padding-left: 145px;
    height: 110px;
}
.topic-title-block.fr2, .topic-title-block.fr3 {
    padding-left: 165px;
}
p.foreign-title {
    color: #6e9554;
    font-size: 27px;
    margin-left: 0px;
}
.foreign-th p.foreign-title {
    font-size: 36px;
    line-height: 32px;
}

p.foreign-title span {
    font-size: 45px;
    line-height: 25px;
}
.topic-icon {
    background-repeat: no-repeat;
    background-size: 80px;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
}

.topic-icon.tpi1 {
    background-image: url(../images/foreign/fr_i_1.jpg);
}
.topic-icon.tpi2 {
    background-image: url(../images/foreign/fr_i_2.jpg);
}
.topic-icon.tpi3 {
    background-image: url(../images/foreign/fr_i_3.jpg);
}




.topic-no {
    font-size: 100px;
    line-height: 66px;
    position: absolute;
    left: 86px;
}
.fr2 .topic-no, .fr3 .topic-no  {
    left: 95px;
}

.foreign-list {
    margin-bottom: 20px;
}
.foreign-list li {
    position: relative;
    padding-left: 30px;
}
.foreign-list li i {
    position: absolute;
    background-image: url(../images/foreign/i_fcheck.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    left: 0;
    top: 5px;
}

.foreigh-col-2 {
    padding-left: 50px;
}
.test {

}

/*
Responsive
==============================*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .foreign-block {
        margin: 20px 0 20px 0;
    }
}
@media (max-width: 490px) {
    .foreign-block {
        margin: 20px 0 20px 0;
    }
    .topic-title-block {
        padding-left: 120px;
        height: 100px;
    }
    .topic-icon {
        background-size: 60px;
        width: 60px;
        height: 60px;
    }
    .topic-no {
        font-size: 80px;
        line-height: 50px;
        left: 75px;
    }
    p.foreign-title {
        font-size: 22px;
        line-height: 30px;
    }
    .foreign-th p.foreign-title {
        font-size: 25px;
        line-height: 25px;
    }
    p.foreign-title span {
        font-size: 30px;
        line-height: 26px;
    }
    .foreigh-col-2 {
        padding-left: 0px;
    }
    .content-img {
        margin-bottom: 25px !important;
    }
    .fr2 .topic-no, .fr3 .topic-no {
        left: 75px;
    }
    .topic-title-block.fr2, .topic-title-block.fr3 {
        padding-left: 135px;
    }

}