#homeBanner {
    /*padding: 0 10px;*/
    position: relative;
    top: 0px;
    /*position: fixed;*/
    /*top: 60px;*/
    left: 0;
    width: 100%;
}

.bg-slide-home {
    background: url(../images/global/bg_grey.png) repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.banner-txt {
    position: relative;
}
.bg-slide-home h1 {
    color: #fff;
    font: 75px 'KittithadaRoman55', Arial, sans-serif;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px 3px 3px rgba(0, 0, 0,0.4);
}
.bg-slide-home h3 {
    color: #fff;
    font: 30px 'KittithadaRoman55', Arial, sans-serif;
    text-align: center;
    text-transform: capitalize;
    text-shadow: -1px 3px 3px rgba(0, 0, 0,0.5);
}

.home-slide-caption {
    background: url(../images/global/bg_blk.png) repeat;
    bottom: 70px;
    position: absolute;
    padding: 20px 0;
    width: 100%;
}

.home-slide-caption h1 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.home-slide-caption p {
    color: #fff;
    font-size: 24px;
    margin-bottom: 5px;
}
.home-slide-caption p.txt-remark {
    color: #d4dacd;
    font-size: 26px;
    margin-bottom: 10px;
}
.home-slide-caption .btn-register {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 22px;
    height: 40px;
    padding: 7px;
    width: 170px;
    position: absolute;
    top: 50px;
    right: 0;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.home-slide-caption .btn-register:hover {
    background: #6f9755;
    border: 1px solid #6f9755;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#homeBanner .owl-dots { margin-top: 0; }


.main-navigation {
    opacity: 0;
    visibility: hidden;
    display: none;
}

#slideVdo {
    /*background: url(../images/home/banner_home5.jpg) no-repeat;*/
    /*position: fixed;*/
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /*z-index: -100;*/
    /*-ms-transform: translateX(-50%) translateY(-50%);*/
    /*-moz-transform: translateX(-50%) translateY(-50%);*/
    /*-webkit-transform: translateX(-50%) translateY(-50%);*/
    /*transform: translateX(-50%) translateY(-50%);*/
    /*background-size: cover;*/

}
.vdo-control {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
}
.play-block {
    position: absolute;
    left: 50%;
    top: 42%;
    margin: -50px 0 0 -37px;
}
.vdoPlay {
    background: url(../images/global/i_vdo_play.png) no-repeat;
    background-size: 70px;
    height: 70px;
    width: 70px;
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 2;
}
.vdoPause {
    background: url(../images/global/i_vdo_pause.png) no-repeat;
    background-size: 70px;
    height: 70px;
    width: 70px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
.vdo-icon {
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btnshown {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btnhide {
    opacity: 0 !important;
    visibility: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.mute-block {
    position: relative;
    height: auto;
    /*bottom: 170px;*/
    /*right: 100px;*/
}
.i-mute {
    right: 30px;
}
#vdoMute {
    background: url(../images/global/i_vdo_mute.png) no-repeat;
    background-size: 50px;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
}
#vdoUnmute, #vdoMute:hover {
    background: url(../images/global/i_vdo_unmute.png) no-repeat;
    background-size: 50px;
    height: 50px;
    width: 50px;
    position: absolute;
}
#vdoMute:hover {
    background: url(../images/global/i_vdo_mute_grn.png) no-repeat;
    background-size: 50px;
    height: 50px;
    width: 50px;
    position: absolute;
}

#vdoUnmute:hover {
    background: url(../images/global/i_vdo_unmute_grn.png) no-repeat;
    background-size: 50px;
    height: 50px;
    width: 50px;
    position: absolute;
}
#vdoUnmute {
    display: none;
}



/*.i-scroll-next {*/
    /*opacity: 0.4;*/
/*}*/

.home-section {
    margin-bottom: 30px;
}
/*.home-section p.heading-title {*/
    /*margin-bottom: 15px;*/
/*}*/
.slide-highlight {

}
.highlight-descrp {
    padding-top: 30px;
}
.highlight-descrp .btn {
    margin-top: 50px;
}


.hm-commu-list-c1 {
    padding-top: 90px;
}
.hm-commu-list-c3 {
    padding-top: 50px;
}
.hm-commu-list-c2 img,
.hm-commu-list-c3 img{
    width: 100%;
}
.hm-commu-list-c4 {
    padding-top: 115px;
}


.hm-tip a, .hm-tip a p, .hm-commu-list a p {
    color: #4d4c4d;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.hm-tip a:hover, .hm-tip a:hover p, .hm-commu-list a:hover p {
    color: #6f9755;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.hm-tip .btn {
    color: #6f9755;
    margin: 45px auto 10px auto;
}
.hm-tip a.btn-seemore:hover {
    color: #fff;
}

.rps-vdobg {
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
}


/*
Responsive
==============================*/
@media (max-width: 1200px) {
    .page-banner {
        /*height: 500px;*/
    }
}
@media (max-width: 992px) {
    .home-slide-caption {
        bottom: 120px;
    }
    .page-banner {
        padding: 0;
    }
    .home-slide-caption .btn-register {
        position: static;
        float: right;
    }
    .highlight-descrp {
        padding-top: 10px;
    }
    .highlight-descrp .btn {
        margin: 20px auto 0 auto;
    }
    .hm-commu-list-c1, .hm-commu-list-c4 {
        padding-top: 10px;
    }
    .hm-commu-list-c3 {
        padding-top: 0px;
    }

    #vdoPlay, #vdoPause {
        background-size: 50px;
        height: 50px;
        width: 50px;
    }
    #vdoMute, #vdoUnmute, #vdoMute:hover, #vdoUnmute:hover {
        background-size: 35px;
        height: 35px;
        width: 35px;
    }
    .home-section {
        margin-bottom: 30px;
    }
    .list-item { padding: 0 15px; }

    .rps-footer-sticky {
        background: #8ab783;
    }
}

@media (max-width: 768px) {
    #homeBanner { padding: 0; }
    .list-item { width: 100%; }
    .banner-rps { display: block; }
    .banner-dktp { display: none; }
    .bg-slide-home h1 { font-size: 38px; }
    .bg-slide-home h3 { font-size: 22px; }
    .rps-vdobg { display: block; }
    .review-lists { margin: 0px; }
    .i-scroll-next { display: block; }
    /*#homeHighlightSlide img{*/
        /*height:191.28px;*/
        /*width:100%;*/
    /*}*/
    /*.home-section p.heading-title {*/
        /*margin-bottom: 10px;*/
        /*!*line-height: 1em;*!*/
    /*}*/
}