.invest-page {
    margin: 50px 0;
}

.invest-page h1 {
    margin-bottom: 60px;
}

.invest-list li {
    height: 100px;
}
.invest-list li a {
    color: #333;
    font-size: 24px;
    position: relative;
    padding-left: 100px;
}
.invest-list li a:hover {
    color: #6f9755;
}
.invest-list li a i {
    position: absolute;
    left: 0;
    top: -30px;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    background-size: 90px;
}
.invest-list li a i.inv-budget {
    background-image: url(../images/investor/inv_ic_1.png);
}
.invest-list li a i.inv-report {
    background-image: url(../images/investor/inv_ic_2.png);
}
.invest-list li a i.inv-calendar {
    background-image: url(../images/investor/inv_ic_3.png);
}
.invest-list li a i.inv-meeting {
    background-image: url(../images/investor/inv_ic_4.png);
}
.invest-list li a i.inv-claim {
    background-image: url(../images/investor/inv_ic_5.png);
}
.invest-list li a i.inv-form {
    background-image: url(../images/investor/inv_ic_6.png);
}

.invest-list li a i.download,
.inv-report-list i.download {
    position: relative;
    background: url(../images/global/i_download.png) no-repeat;
    width: 20px;
    height: 20px;
    top: 0;
    left: inherit;
    display: inline-block;
    margin-left: 20px;
}


.invest-page .corp-menu-tab {
    text-align: left;
}
.invest-page .corp-menu-tab li:first-child {
    margin-left: 0;
}

.select-year-block {
    float: right;
    margin: 20px 10px 0px 0;
}

.select-year, .date-select {
    background: #f5f5f5 url(../images/news/i_sort_blk.png) no-repeat 85% center;
    height: 34px;
    width: 80px;
    display: inline-block;
    margin-left: 5px;
}
.select-year select, .date-select select {
    display: inline-block;
    margin-left: 10px;
    border-radius: 0;
    border: none;
    padding: 5px;
    width: 60px;
    height: 34px;
    background: transparent;
}

.date-select, .date-divide {
    float: left;
}
.date-select {
    margin-right: 5px;
}
.date-divide {
    padding-top: 7px;
    margin-right: 5px;
}
.submit-date {
    background: #fff;
    border: 1px solid #cdcbcc;
    height: 34px;
    margin-left: 10px;
}


.invest-page .corp-block h2 {
    /*color: #4d4c4d;*/
    font: normal 26px 'KittithadaRoman55', Arial, sans-serif;
    margin-bottom: 30px;
}
.invest-p-txt {
    padding-top: 30px;
}

.table-budget {
    margin-top: 30px;
    width: 100%;
}
.table-budget thead, .table-historical-price thead,
.table_historical_price thead {
    background: #6f9755;
    color: #fff;
    font-size: 24px;
}
.table-budget thead th {
    padding: 5px;
    width: 50%;
}
.table_historical_price thead th {
    padding: 5px;
}
.table-budget td {
    padding: 40px 10px 10px 10px;
}

.table-budget td p {
    margin-bottom: 5px;
}
.table-budget td ul {
    list-style: disc;
    margin-left: 20px;
}
.table-budget td li {
    margin-bottom: 5px;
}
.table-budget td li a {
    color: #4d4c4d;
    font-size: 23px;
}
.table-budget td li a:hover {
    color: #6f9755;
}

.table_historical_price tr td {
    padding: 5px;
}
.table_historical_price tr.row1 td {
    background: #f3f3f3;
}
.table_historical_price .si_left {
    padding-left: 15px;
}
.table_historical_price .tb-right {
    padding-right: 30px;
    text-align: right;
}
p.txt-stockremark {
    font-size: 20px;
    margin-top: 30px;
}


.table-historical-price thead th {
    padding: 5px;
    text-align: center;
}
.table-historical-price thead th.tb-title {
    padding: 5px 15px;
    text-align: left;
}

.table-historical-price tbody .row-title td.tb-descp {
    font-size: 25px;
    color: #6f9755;
    padding: 20px 15px 5px 15px;
}
.table-historical-price tbody tr.row-highlight {
    background: #f3f3f3;
    padding: 30px 15px 5px 15px;
}
.table-historical-price tbody td {
    text-align: right;
    padding-right: 30px;
}

.table-historical-price tbody td.tb-descp {
    text-align: left;
    padding: 5px 15px 5px 15px;
}


.table-historical-price.analyst-reports thead th,
.table-historical-price.analyst-reports tbody td {
    text-align: left;
    padding: 7px 15px 7px 15px;
}
.table-historical-price.analyst-reports tbody tr:nth-child(even) td {
    background: #f3f3f3;
}

.table-historical-price.analyst-reports tbody td a {
    color: #6f9755;
}
.table-historical-price.analyst-reports thead th.center,
.table-historical-price.analyst-reports tbody td.center {
    text-align: center;
}


.inv-report-list {
    border-left: 1px solid #d9d9d9;
    margin-top: 50px;
    padding: 5px 10px;
    /*width: 250px;*/
    float: left;
}
.inv-report-list.list-first {
    border-left: none;
}
.ic-report {
    background: url(../images/investor/inv_ic_7.png) no-repeat;
    background-size: 70px;
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 5px;
}
.inv-report-detail {
    /*width: 250px;*/
    padding-top: 10px;
    float: left;
}
.inv-report-detail span {
    color: #808080;
}
.inv-report-detail a {
    color: #4d4c4d;
}

.inv-report-block .owl-stage {
    width: 2300px !important;
}
.inv-report-block .owl-item  {
    width: 10.3% !important;
}

.inv-report-block .owl-nav div {
    background-size: 34px;
    top: 55%;
}
.inv-report-block .owl-prev {
    background-image: url(../images/investor/inv_i_prev.png);
}
.inv-report-block .owl-next {
    background-image: url(../images/investor/inv_i_next.png);
}

.request-form {
    background: #ebebeb;
    margin: 30px 0;
    padding: 20px;
    width: 80%;
}
.request-form td {
    padding: 5px;
}
.request-form .tb-label {
    text-align: right;
}
.request-form td input {
    background: #f5f5f5;
    border: none;
    height: 33px;
    padding: 5px 10px;
    width: 300px;
}
.request-form td select {
    background: transparent;
    border: none;
    border-radius: 0;
    height: 33px;
    padding: 5px 10px;
    margin: 0 0 10px 5px;
}

.request-form td.select-arrow {
    background: #f5f5f5 url(../images/news/i_sort_blk.png) no-repeat 95% center;
    height: 33px;
    width: 300px;
    display: inline-block;
    padding: 0;
    margin: 5px;
}

.si_marginBottom {
    margin-bottom: 10px;
    font-size: 20px;
}
#recaptcha_widget {
    margin: 10px 0;
}

.request-form input.submit {
    background: #6f9755;
    border-radius: 20px;
    border: 1px solid #6f9755;
    color: #fff;
    display: inline-block;
    font: 22px 'KittithadaRoman55', Arial, sans-serif;
    height: 40px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
}



.stock-block {
    background: #ebebeb;
    margin-top: 30px;
}
.table_stock {
    margin: 20px;
    width: 100%;
}

.table_stock td {
    padding: 5px 10px 5px 0;
    border-bottom: 10px solid #ebebeb;
}
.table_stock td.price {
    background: #f5f5f5;
    height: 33px;
    padding: 5px;
}
.table_stock td.tb-label {
    text-align: right;
}
.stock-img {
    width: 100%;
    padding-right: 20px;
}
.cal-block {
    padding: 20px;
}
.tableCal input {
    background: #f5f5f5;
    border: none;
    height: 33px;
    padding: 0 10px;
}

.tableCal td {
    border-bottom: 10px solid #ebebeb;
    padding: 0 5px;
}
.tableCal td.tb-label {
    text-align: right;
}

.table_historical_price {

}

.txt-grey {
    color: #818181;
}


/*
Responsive
==============================*/

@media (max-width: 992px) {
    .invest-page h1 {
        margin-bottom: 30px;
    }

    .table_stock {
        width: 90%;
    }
    .tableCal {
        width: 100%;
    }
    .table_stock td, .tableCal td {
        display: block;
        width: 100%;
    }
    .table_stock td.tb-label, .tableCal td.tb-label, .emailalert td.tb-label {
        text-align: left;
    }
    .table_stock td.price {
        height: 40px;
    }
    .tableCal td input {
        width: 100%;
    }

    .request-form {
        width: 100%;
    }
    .emailalert td {
        display: block;
        width: 100%;
    }
    .date-select {
        margin-bottom: 10px;
    }

}

@media (max-width: 768px) {
    .invest-list { margin-top: 15px; }
    .inv-report-list { margin-top: 20px; }
    .invest-p-txt {
        padding-top: 0px;
    }
}