.content {
    padding: 30px 0 70px 0;
}
table.project-search-list {
    margin-bottom: 40px;
}
table.project-search-list thead th {
    font: 24px 'KittithadaBold75', Arial, sans-serif;
    padding: 10px 15px;
}
table.project-search-list tbody td {
    margin-bottom: 20px;
    padding: 10px 15px;
}
table.project-search-list tbody td a {
    color: #6f9755;
    font: 24px 'KittithadaBold75', Arial, sans-serif;
}
table.project-search-list tbody td a:hover {
    color: #4d4c4d;
}
table.project-search-list tbody td.tb-no,
table.project-search-list th.tb-no {
    text-align: center;
}
table.project-search-list tbody tr:nth-child(odd) td {
    background: #eaebe5;
}

.txt-center {
    text-align: center;
}


/*TAB MENU*/
.tabs-container {
    margin: 15px 0 0 0;
    position: relative;
}
.tab-dd {
    border-bottom: 5px solid #f5f5f5;
    margin-bottom: 75px;
}
.tabs-menu {
    margin-bottom: 0
}
.tabs-menu li a {
    border: 2px solid #f5f5f5;
    border-bottom: none;
    padding: 15px 35px;
    color: #4d4c4d;
    height: 60px;
    width: auto;
}
.tabs-menu li.current a, .tabs-menu li a:hover {
    background: #f5f5f5;
    border-bottom: none;
    color: #6f9755;
}


.select-container {
    position: absolute;
    top: 90px;
    right: 0;
}
.select-block {
    position: relative;
    display: inline-block;
}
.sort {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #dedede;
    cursor: pointer;
    padding: 5px 15px;
    position: relative;
    width: 200px;
    height: 33px;
}
.i-sort {
    background: url(../images/global/i_sort.png) no-repeat;
    height: 7px;
    position: absolute;
    right: 10px;
    top: 13px;
    width: 12px;
}
.select-block ul {
    background: #fff;
    border: 1px solid #eaebe5;
    display: none;
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 10;
}
.select-block ul li {
    cursor: pointer;
    padding: 5px 20px;
}
.select-block ul li:hover {
    background: #eaebe5;
}
.hide-dsktp {
    display: none;
}

.indent {
    padding: 10px 30px;
}
ul.job-lists {
    list-style-type: disc;
    margin-left: 20px;
}
.job-lists li {
    margin: 4px 0;
}


/*Apply Job form*/
.job-form {
    display: none;
}
a.btn-backjob {
    color: #6f9755;
    font: 24px 'KittithadaRoman55', Arial, sans-serif;
}
a#backJobLists {
    margin-bottom: 15px;
}
a#backJobListsBtm {
    margin-top: 15px;
}
.apply-job-container {
    padding: 0 20px;
}
.apply-job-container .form-title {
    color: #6f9755;
    font: 24px 'KittithadaBold75', Arial, sans-serif;
    margin-bottom: 15px;
}
.apply-job-container .form-section p.title {
    font-size: 20px;
}
.apply-job-container .form-section {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.apply-job-container .form-row {
    margin-bottom: 10px;
}
.apply-job-container label, .flabel {
    padding-top: 12px;
}
.apply-job-container input[type="text"] {
    width: 100%;
}
.apply-job-container input {
    height: 40px;
}
.apply-job-container input, .apply-job-container textarea {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #dedede;
    font-size: 22px;
    color: #4d4c4d;
    padding: 6px 10px;
    box-shadow: none;
}


.apply-job-container .select-block {
    background: url(../images/global/i_sort.png) no-repeat 96% 50%;
    height: 40px;
    overflow: hidden;
    width: 100%;
}

.apply-job-container .select-block select {
    background: transparent;
    border-radius: 6px;
    border: 1px solid #dedede;
    font-size: 20px;
    height: 40px;
    padding: 6px 10px;
    width: 100%;
}
.txtOther {
    margin-right: 15px;
}
.wrap-tab-btn {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
}
.tab-btn a {
    padding: 5px;
    color: #4d4c4d;
    text-align: center;
}

.col-20 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
}
.apply-job-container .select-block.block-2-col {
    width: 48%;
    float: left;
    margin: 0 1%;
}
.wrap-btns {
    margin: 15px auto 25px auto;
    text-align: center;
}
.form-section textarea {
    width: 100%;
}
/*.select-block {*/
    /*background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;*/
    /*height: 34px;*/
    /*width: 240px;*/
/*}*/

/*.select-block select {*/
    /*border: 1px solid #ccc;*/
    /*font-size: 16px;*/
    /*height: 34px;*/
    /*width: 268px;*/
/*}*/


.f-required {
    color: #F00;
}
.show-mobile {
    display: none;
}


/*
Responsive
==============================*/

@media (max-width: 1200px) {
    .tabs-menu li a {
        padding: 20px 10px;
    }


}
@media (max-width: 992px) {
    .tabs-menu li a {
        padding: 17px 7px;
        font-size: 20px;
    }
    .tab-dd {
        margin-bottom: 25px;
    }
    .select-container {
        position: initial;
        margin-bottom: 15px;
    }
    .indent {
        padding: 0;
    }
    .tabs-menu li a {
        padding: 20px 10px;
        height: 63px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    .step-label { margin-bottom: 15px; }
    table.project-search-list thead th {
        padding: 10px 15px
    }
    table.project-search-list tbody td {
        padding: 15px 5px
    }
    table.project-search-list thead tr th,
    table.project-search-list tbody tr td,
    table.project-search-list tbody tr a{ font-size: 18px; padding: 10px 5px; }

    .project-name {
        margin-bottom: 20px;
    }
    .complain-step3 .complain-form {
        text-align: center;
    }
    .complain-step3 .complain-form p, .complain-form input {
        text-align: left;
    }
    .complain-step3 .btn.btn-submit {
        display: inline-block;
    }
    .btn.btn-submit { display: block; }
    .pmargin { margin: 0 0 20px 0; }
    input.input-file[readonly] { width: 100px; }

    .tabs-menu li a {
        height: 63px;
        font-size: 20px;
        width: 160px;
    }

    .sort {
        width: 160px;
    }

    .owl-nav { display: block; }
    .owl-nav div, .col-slide .owl-nav div {
        height: 21px;
        width: 12px;
        top: -38px;
    }
    .owl-nav div.owl-prev {
        background-image: url(../images/global/i_tarrow_back.png);
        right: 38px;
    }
    .owl-nav div.owl-next {
        background-image: url(../images/global/i_tarrow_next.png);
    }
    .hide-rps {
        display: none;
    }
    .hide-dsktp {
        display: block;
    }
    .show-mobile {
        display: block;
    }
    .col-20 {
        width: 100%;
        float: none;
    }
    .form-section {
        width: 100%;
    }
    .select-block {
        margin-bottom: 15px;
    }

}