.menu-livingtip {
    margin-bottom: 20px;
}
.menu-livingtip li {
    display: inline-block;
    margin-right: 25px;
}
.menu-livingtip li a {
    color: #4d4d4d;
    font: 22px 'KittithadaRoman55', Arial, sans-serif;
    position: relative;
    padding-left: 30px;
    text-transform: uppercase;
}
.menu-livingtip li a:hover {
    color: #6f9755;

}

.i-homeliving {
    background: url(../images/global/i_tips_1.png) no-repeat;
    position: absolute;
    height:20px;
    width: 14px;
    left: 0;
    top: 3px;
}
.i-concept {
    background: url(../images/global/i_tips_2.png) no-repeat;
    position: absolute;
    height: 18px;
    width: 20px;
    left: 0;
    top: 3px;
}




/*.livingtip-lists {*/
.livingtip-lists p.title {
    position: relative;
    padding-left: 30px;
}
.livingtip-lists p {
    padding-left: 30px;
}


/*
Responsive
==============================*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .review-img { margin-bottom: 10px; }
    .list-item { margin-bottom: 15px; padding: 0 15px; width: 100%; }
    .livingtip-lists { margin: 0px; }
    .list-item p { margin: 0px; }
    .menu-livingtip li a { font-size: 20px; }
    .i-homeliving {
        top: 6px;
    }
}

@media (max-width: 768px) {
    .list-item .btn-seemore {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}