.news-project-page p.subtitle {
    margin-bottom: 30px;
}

.news-project-page .btn {
    margin-top: 10px;
    display: inline-block;
}
.news-project-page .btn-register {
    margin-left: 20px;
}
.news-block {
    margin-top: 30px;
    margin-bottom: 90px;
    text-align: center;
}
.news-block p {
    text-align: left;
}
.news-images-block {
    margin-top: 35px;
    position: relative;
}



.logo-project, .logo-project2 {
    margin: 0 auto 0px auto;
}

.item img {
    width: 100%;
}
#tpl5-img, #tpl4-img {
    margin: 0 15px;
}
.tpl5-img-1,.tpl5-img-3 {
    width: 30%;
}
.tpl5-img-2 {
    width: 65%;
}
.tpl5-img-4 {
    width: 40%;
}
.tpl5-img-5 {
    width: 35%;
}

.tpl4-img-1 {
    width: 70%;
}
.tpl4-img-2 {
    width: 30%;
}
.tpl4-img-3 {
    width: 20%;
}
.tpl4-img-4 {
    width: 40%;
}

.for-mobile{
    display: none;
}
.txt-center p {
    text-align: center;
}

.logo-project {
    padding-top: 0px;
    max-width: 150px;
    /*width: 140px;*/
}
#bannerSlide h1 {
    color: #fff;
    font: 48px 'KittithadaRoman55', Arial, sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 196px;
    text-shadow: -1px 3px 3px rgba(0, 0, 0,0.4);
}



/*
Responsive
==============================*/
@media (max-width: 992px) {

    .news-block { text-align: center; margin-top: 20px; margin-bottom: 30px; }
    /*.news-block p { text-align: left; }*/
    .news-block h3 { margin-bottom: 20px; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5,
    .tpl4-img-1, .tpl4-img-2, .tpl4-img-3, .tpl4-img-4 {
        width: 50%;
    }
    /*.banner-parallax, .page-banner{
        height: 180px !important;
    }*/
    .for-desktop{
        display: none;
    }
    .for-mobile{
        display: block;
    }
    .news-images-block {
        margin-top: 15px;
    }
    #tpl5-img, #tpl4-img {
        margin-bottom: 15px;
    }
    .owl-dots { margin-top: 0; }
    .logo-project {
        padding-top: 0px;
        /*width: initial;*/
    }

}

@media (max-width: 768px) {
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5,
    .tpl4-img-1, .tpl4-img-2, .tpl4-img-3, .tpl4-img-4 {
        width: 100%;
        padding-right: 0px;
    }
    .news-project-page .btn { margin-top: 20px; width: 130px; }
    .news-project-page .btn-register { margin-left: 15px; }

    #bannerSlide h1 {
        font-size: 40px; line-height: 1em;
        padding: 10px;
        margin: 0 20px;
        top: 55px;
    }
    .page-banner .owl-controls {
        bottom: 5px;
    }
    .owl-dots {
        top: -30px;
        z-index: 20;
        position: relative;
    }

}

@media (max-width: 500px) {
    .news-images-block {
        margin-right: 15px;
        margin-left: 15px;
    }
}