body, #header, .content {
    background: #1a2c40;
}
h1, p.green, span.green, .title span,
p.heading-title, .title.green,
.btn-seemore, .btn-submit, a.btn-seemore, a:focus.btn-seemore {
    color: #fff;
}
.btn-seemore, .btn-submit {
    border: 1px solid #fff;
}
.btn-seemore:hover, .btn-submit:hover, a:hover.btn-seemore,
.owl-dot.active, .owl-dot:hover {
    background: #9e8f3c;
}
.submenu-bg, .menu-home-series {
    background: rgba(220, 224, 226, 0.9);
}
.submenu-innerpage {
    background: #1a2c40;
}
.menu-close {
    background-image: url(../images/global/i_m_close_w.png);
}
.menu-home-series-close {
    background-image: url(../images/global/i_m_close_blu.png);
}
.main-navigation li a, .top-menu .menu {
    color: #d8b93a;
}
.main-navigation li a:hover,
.top-menu .menu:hover {
    color: #9e8f3c;
}
.top-submenu .menu-line {
    background: #d8b93a;
}
.top-submenu:hover .menu-line {
    background: #9e8f3c;
}
.responsive-menu li.hasSubmenu {
    background: url(../images/global/i_rsp_mhassub_db.png) no-repeat 96% 18px;
    background-size: 11px;
}

.submenu-title, .project-menu-subtitle,
.submenu-tools a:hover.menu-tool-list,
.main-navigation li a:hover, .main-navigation li a.active,
.submenu-block li a:hover,
.title {
    color: #1a2c40;
}
.project-type-block h2, p,
.subtitle, .content ol li,
.content-style ul li,
.title-gallery,
.radio-checkmark input[type="radio"] + label,
input[type="checkbox"] + label {
    color: #fff;
}

.i-sort {
    background-image: url(../images/global/i_sort_blu.png);
}
input[type="checkbox"]:checked + label span {
    background-image: url(../images/global/i_checkbox_blu.png);
}
.content-style ul {
    list-style-image: url(../images/global/i_bullet_blu.png);
}

.topdropdown-container h3 {
    color: #1a2c40;
}
.panel-close {
    background: url(../images/global/i_m_close_blu.png) no-repeat left;
    background-size: 20px; 
}
.i-search-triangle {
    border-top: 8px solid #1a2c40;
}
.btn-search:hover {
    background: #6f9755;
    border: 1px solid #6f9755;
}

.content.project-info-page {
    padding: 10px 0 60px 0;
}
/*.main-navigation {*/
    /*margin-left: -280px;*/
/*}*/
/*slider*/
#pjHomeBanner {
    /*padding: 0 10px;*/
    position: relative;
    top: 0px;
    /*position: fixed;*/
    /*top: 60px;*/
    left: 0;
    width: 100%;
}

/* BANNER SLIDE*/
/*.slider,
.owl-carousel,
.slide { height: 100%; }
.slide { position: relative; }*/

/*p concept*/
.slide p.p-in-banner { opacity: 0; visibility: hidden; }
.slide p.p-in-banner {
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;  }
.animate2 .slide p.p-in-banner {
    color: #4d4c4d;
    font: 30px 'KittithadaRoman55', Arial, sans-serif;
    margin-bottom: 10px;
    position:relative;
    opacity: 1;
    visibility: visible;
}

/*h1 logo*/
.slide h1 {
    opacity: 0; visibility: hidden;
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;
}
.animate2 .slide h1 {
    color: #4d4c4d;
    font: 75px 'KittithadaRoman55', Arial, sans-serif;
    margin-bottom: 10px;
    position:relative;
    opacity: 1;
    visibility: visible;
}

/*img logo*/
.slide .background-logo {
    opacity: 0; visibility: hidden;
    font-family: monospace; font-size: 3em;
    line-height: 1; color: #000;
    text-align: center;  }
.slide .background-logo {
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;  }
.animate .slide .background-logo {
    opacity: 1; visibility: visible;  }

/*background  slide*/
.slide .background-show {
    opacity: 0; visibility: hidden;
    z-index:-1;
    width:100%;
    position: absolute;
}
.slide .background-show {
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;  }
.animate3 .slide .background-show {
    opacity: 1;
    visibility: visible;
    position: inherit;
    height: 100%;
}


.slider { -webkit-backface-visibility: visible; backface-visibility: visible; }
/*.page-banner .owl-controls {
    bottom: 95px;
}*/


.h1-in-banner {
    color: #4d4c4d;
    size: 40px ;
    font-family: 'KittithadaRoman55', Arial, sans-serif;
}
.p-in-banner {
    color: #4d4c4d;
    size: 24px ;
    font-family: 'KittithadaRoman55', Arial, sans-serif;
}
/*end slider*/

.page-banner-content {
    background-size: cover;
    background-position-y: 0;
}
.project-info-page h3 {
    color: #4d4c4d;
    font: 36px 'KittithadaBold75', Arial, sans-serif;
}

.project-info-container {
    background: #1a2c40,;
    margin: 0 10px 0px 10px;
    padding: 30px 0;
}
.info-logo-img img {
    width: 220px;
    margin: 0 auto 30px auto;
}

.project-info-detail-block {

}
.project-info-detail-block p.heading-title {
    margin-bottom: 0px;
}

.txt-slogan {
    font-size: 30px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}

.banner-activity p.title-acty {
    color: #9e8f3c;
}
.link-acty {
    background: url(../images/temp6/i_arrow_next_blue.png) no-repeat;
    background-size: 10px;
}
.banner-activity.banner-rsp .close-acty {
    background: url(../images/temp6/i_close_act_blue.png) no-repeat;
    background-size: 15px;
}

.projecttype-descrp p.title {
    margin-bottom: 5px;
}
.facility-block {
    margin-bottom: 30px;
}
.facility-img-block {
    position: relative;
    padding-bottom: 30px;
}
.facility-img-block .item {
    padding: 0 15px;
}
/*.facility-img-block .owl-controls {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*bottom: 10px;*/
/*}*/
.owl-nav div {
    top: 25%;
}
.roomplan-detail {
    padding: 60px 0 0 20px;
}

.i-infos {
    margin-bottom: 20px;
}
.item img {
    width: 100%;
}
.tpl5-img #tpl5-img .item
{
    width: 30%;
}
.tpl5-img #tpl5-img .item:nth-child(5n + 2){
    width: 65%;
}
/*.tpl5-img-1,.tpl5-img-3 {
    width: 30%;
}
.tpl5-img-2 {
    width: 65%;
}
.tpl5-img-4 {
    width: 45%;
}
.tpl5-img-5 {
    width: 30%;
}*/

.gallery-block {

}
.project-info-other-block {

}

.project-info-other-img {
    margin-bottom: 10px;
    position: relative;
}
.project-info-other-img img { width: 100%; height: 256px; }


.map-container {
    height: 540px;
    margin-bottom: 90px;
    width: 100%;
}
.project-location-block p.title {
    /*margin-bottom: 10px;*/
}
.project-form .btn {
    display: block;
    margin: 40px auto 0 auto;
}
.promo-descrp {
    padding-top: 20px;
}
.promo-descrp .btn-seemore {
    display: block;
    margin: 90px auto 0 auto;
}


.block-margin {
    margin-bottom: 30px;
}

.title span {
    color: #9e8f3c;
}

.title.green span, #sec-contact span {
    color: #fff;
}

.progress-detail {
    padding: 0 20px;
}
.progress-detail p.title {
    font-size: 30px;
}
.prjprogress-list {
    border-left: 2px solid #dfdede;
    position: relative;
    margin: 15px 15px;
}
.prjprogress-list.first {
    margin-top: 30px;
}
.prjprogress-list:before {
    content: "";
    background: #dfdede;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    position: absolute;
    top: -4px;
    left: -5px;
}
.prjprogress-list.even:before {
    content: none;
}
.prjprogress-list.even:after {
    content: "";
    background: #dfdede;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    position: absolute;
    bottom: -4px;
    left: -5px;
}


/*TAB MENU*/
.tabs-container {
    margin: 15px 0 0 0;
}
.tab-dd {
    border-bottom: 5px solid #f5f5f5;
    margin-bottom: 45px;
}
.tabs-menu {
    margin-bottom: 0;
}
.tabs-menu li a {
    border-bottom: none;
    padding: 20px;
    color: #4d4c4d;
    height:65px;
    width: 270px;
}
.tabs-menu li.current a, .tabs-menu li a:hover {
    background: #f5f5f5;
    border-bottom: none;
    color: #977c13;
}


.space-left {
    padding-left: 70px;
}
#sec-projectprogress {
    position: relative;
}
.mb15 {
    margin-bottom: 15px;
}

.featherlight .featherlight-content,
.featherlight .featherlight-close-icon {
    background: #edece7;
}

.radio-checkmark input[type="radio"]:checked + label span {
    background-image: url(../images/global/i_checkbox_blu.png); }

.distinctive2 {
    color: #fff;
}

.responsive-menu li.hasSubmenu a.active {
    background: #1a2c40 url(../images/global/i_rsp_mshow_w.png) no-repeat 96% 20px;
    background-size: 13px;
    background-color: #1a2c40;
}



/*
Responsive
==============================*/
@media (max-width: 992px) {
    /*.banner-dktp { display: block; }*/
    .block-margin { margin-bottom: 20px; }
    #map { height: 300px; margin-bottom: 20px; }

    .promo-descrp { padding-top: 0px; }
    .txt-right { text-align: left; }
    .promo-descrp .btn-seemore { display: block; margin: 20px auto 0 auto; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 50%;
    }
    .tpl5-img #tpl5-img .item{
        width: 50%;
    }
    .space-left {
        padding-left: 0px;
    }

    #main-nav { display: none !important;}

    .roomplan-detail {
        padding: 15px 0 0 0;
    }

    .rps-footer-sticky {
        background: #9e8f3c;
    }
    .rps-footer-sticky li a i.i-search { background-image: url(../images/global/i_m_search_db.png); }
    .rps-footer-sticky li a i.i-direction { background-image: url(../images/global/i_m_getdirect_db.png); }
    .rps-footer-sticky li a i.i-mail { background-image: url(../images/global/i_m_email_db.png); }
    .rps-footer-sticky li a i.i-call { background-image: url(../images/global/i_m_tel_db.png); }
    .burger-menu {
        background: url(../images/global/i_burgermenu_gd.png) no-repeat;
    }

    .contact-container .radio-checkmark input[type="radio"] + label,
    .contact-container input[type="checkbox"] + label {
        color: #4d4c4d;
    }
    .content.project-info-page {
        padding: 10px 0 0px 0;
    }

}

@media (max-width: 768px) {
    .animate2 .slide h1 { font-size: 28px; }
    .animate2 .slide p.p-in-banner { font-size: 22px; }
    #pjHomeBanner { padding: 0; }
    .page-banner .owl-controls {
        bottom: 125px;
    }
    .slide .background-show {
        opacity: 1; visibility: visible;
    }
    .tabs-menu li a {
        padding: 15px 15px;
        font-size: 20px;
        height: 50px;
        width: auto;
    }
    .tab-dd { margin-bottom: 20px; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 100%;
    }
    .tpl5-img #tpl5-img .item{
        width: 100%;
    }
    .map-container { height: 300px; margin-bottom: 65px; }

    .prjprogress-list { border-left: none; margin: 0; }
    .prjprogress-list:before, .prjprogress-list:after { display: none;}
    .progress-detail { padding: 0; }
    .prjprogress-list.first { margin-top: 0; }
    /*.page-banner.page-scroll, .banner-container.banner-parallax{
        height: 200px !important;
    }*/
    .project-info-container {
        margin: 0 10px 15px 10px;
    }
    .project-info-other-block .col-md-6 {
        margin-bottom: 15px;
    }


}