.project-type-block {
    position: relative;
}

.project-type-block h2 {
    color: #4d4c4d;
}
.projecttype-descrp {
    text-align: center;
}
.projecttype-descrp.grid2 {
    min-height: 340px;
}
.item.col-lg-4 .projecttype-descrp.grid2 {
    min-height: 400px;
}
.projecttype-list .projecttype-descrp img, .projecttype-descrp img {
    margin: 0 auto 15px auto;
    width: auto;
}
.projecttype-descrp .btn {
    margin: 30px auto 0 auto;
}


.sort-block, .view-block {
    float: left;
}
.sort {
    width: 280px;
}


/*
    list , grid swap
    */

    .item.list-group-item
    {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
    }
    .item.list-group-item .list-group-image
    {
        margin-right: 10px;
    }
    .item.list-group-item .thumbnail
    {
        margin-bottom: 0px;
    }
    .item.list-group-item .caption
    {
        padding: 9px 9px 0px 9px;
    }

    .item.list-group-item:before, .item.list-group-item:after
    {
        display: table;
        content: " ";
    }

    .item.list-group-item img
    {
        float: left;
    }
    #products .thumbnail {
        padding: 0px;
        line-height: 1.42857143;
        background-color: transparent;
        border: none;
        border-radius: 0;
        transition: initial;
        position: relative;
    }
    .caption .projecttype-descrp .btn {
        margin-top: 30px;
    }
    #products .grid1 { margin-bottom: 20px; }
    .projecttype-list { margin-bottom: 30px; }
    .projecttype-list img {width: 100%;}


    .banner-txt h1 img {
        width: initial !important;
        margin: 0 auto;
    }

    #products .col-xs-4 .thumbnail{
       min-height:197px;
   }

   #products .col-xs-6 .thumbnail{
       min-height:304px;
   }
/*
Responsive
==============================*/
@media (max-width: 992px) {
    .projecttype-descrp {
        padding-top: 15px;
    }
    .projecttype-descrp .btn {
        margin: 20px auto 0 auto;
    }
    
}

@media (max-width: 768px) {
    .sort-block { float: none; margin-bottom:22px; }
    .view-block { float: right !important; margin-bottom:20px; }
    .projecttype-list img { width: 100%; }
    .projecttype-descrp img { width: initial; }
    .sort { width: 100%; }

   /* .page-banner, .banner-parallax {
        height: 180px !important;
        }*/

        .banner-txt h1{
            font-size:38px;
            top:10px;
        }


    }

    @media (max-width: 500px) {
        .projecttype-list .projecttype-descrp img, .projecttype-descrp img {
            width: auto;
            max-width: 150px;
        }
    }