.content.project-info-page {
    padding: 0px 0 0px 0;
}
/*.main-navigation {
    margin-left: -170px;
}*/

#pjHomeBanner {
    /*padding: 0 10px;*/
    position: relative;
    top: 0px;
    /*position: fixed;*/
    /*top: 60px;*/
    left: 0;
    width: 100%;
    /*height: 20px;*/
}

/* BANNER SLIDE*/
/*.slider,*/
/*.owl-carousel,*/
/*.slide { height: 100%; }*/
/*.slide { position: relative; }*/

/*p concept*/
.slide p.p-in-banner { opacity: 0; visibility: hidden; }
.slide p.p-in-banner {
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;  }
.animate2 .slide p.p-in-banner {
    color: #4d4c4d;
    font: 30px 'KittithadaRoman55', Arial, sans-serif;
    margin-bottom: 10px;
    position:relative;
    opacity: 1;
    visibility: visible;
}

/*h1 logo*/
.slide h1 {
    opacity: 0; visibility: hidden;
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;
}
.animate2 .slide h1 {
    color: #4d4c4d;
    font: 65px 'KittithadaRoman55', Arial, sans-serif;
    margin-bottom: 10px;
    position:relative;
    opacity: 1;
    visibility: visible;
}
p.p-in-banner {
    width: 70%;
    margin: 0 auto;
}

/*img logo*/
.slide .background-logo {
    opacity: 0; visibility: hidden;
    font-family: monospace; font-size: 3em;
    line-height: 1; color: #000;
    text-align: center;  }
.slide .background-logo {
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;  }
.animate .slide .background-logo {
    opacity: 1; visibility: visible;  }

/*background  slide*/
.slide .background-show {
    opacity: 0; visibility: hidden;
    z-index:-1;
    width:100%;
    position: absolute;
}
.slide .background-show {
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;  }
.animate3 .slide .background-show {
    opacity: 1;
    visibility: visible;
    position: inherit;
    height: 100%;
}


.slider { -webkit-backface-visibility: visible; backface-visibility: visible; }
    /*position: relative;*/
    /*bottom: 110px;*/
/*}*/
.mb0 {
    margin-bottom: 0;
}

/* BANNER SLIDE*/



/*#main-nav.stick {*/
    /*height: 0px;*/
    /*opacity: 0;*/
    /*margin-top: -70px;*/
/*}*/
/*#main-nav {*/
    /*height: 70px;*/
    /*opacity: 1;*/
    /*will-change: height;*/
    /*-webkit-transition: height 1s cubic-bezier(.19,1,.22,1);*/
    /*-moz-transition: height 1s cubic-bezier(.19,1,.22,1);*/
    /*-o-transition: height 1s cubic-bezier(.19,1,.22,1);*/
    /*-ms-transition: height 1s cubic-bezier(.19,1,.22,1);*/
    /*transition: height 1s cubic-bezier(.19,1,.22,1);*/

    /*-webkit-transform: translateZ(0);*/
    /*-moz-transform: translateZ(0);*/
    /*-o-transform: translateZ(0);*/
    /*-ms-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
/*}*/

/*.stickymenu-block {*/
    /*left: 220px;*/
    /*position: absolute;*/
    /*top: 12px;*/
/*}*/
/*.stickymenu-project {*/
    /*!*background: url(../images/global/bg_menu.png) repeat;*!*/
    /*background: #ddd;*/
    /*height: 0;*/
    /*margin-top: 0px;*/
    /*position: absolute;*/
    /*opacity: 1;*/
    /*top: 0;*/
    /*left: 220px;*/
    /*!*width: 100%;*!*/
    /*visibility: visible;*/
    /*!*z-index: 99;*!*/
    /*!*display: none;*!*/

    /*!*will-change: height;*!*/

    /*!*-webkit-transition: height 1s cubic-bezier(.19,1,.22,1);*!*/
    /*!*-moz-transition: height 1s cubic-bezier(.19,1,.22,1);*!*/
    /*!*-o-transition: height 1s cubic-bezier(.19,1,.22,1);*!*/
    /*!*-ms-transition: height 1s cubic-bezier(.19,1,.22,1);*!*/
    /*!*transition: height 1s cubic-bezier(.19,1,.22,1);*!*/

    /*!*-webkit-transform: translateZ(0);*!*/
    /*!*-moz-transform: translateZ(0);*!*/
    /*!*-o-transform: translateZ(0);*!*/
    /*!*-ms-transform: translateZ(0);*!*/
    /*!*transform: translateZ(0);*!*/
/*}*/
/*.stickymenu-project.stick {*/
    /*height: 70px;*/
    /*opacity: 1;*/
/*}*/
/*.stickymenu-project li {*/
    /*display: inline-block;*/
    /*!*width: 30%;*!*/
/*}*/
/*#main-nav a {*/
    /*color: #4d4c4d;*/
    /*font: 20px 'KittithadaRoman55', Arial, sans-serif;*/
    /*padding: 25px 12px;*/
    /*position: relative;*/
    /*text-transform: capitalize;*/
/*}*/
/*#main-nav a.active, #main-nav a:hover {*/
    /*color: #6f9755;*/
/*}*/
/*.stickymenu-project .stickymenu-block {*/
    /*!*margin: 10px 140px;*!*/
/*}*/

/*.stickysubmenu-project {*/
    /*background: url(../images/global/bg_menu.png) repeat;*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*left: 0;*/
    /*top: 70px;*/
/*}*/
/*.stickysubmenu-project li {*/
    /*display: inline-block;*/
    /*width: 30%;*/
/*}*/
/*.stickymenu-project .stickysubmenu-project {*/
    /*margin: 10px 140px;*/
/*}*/


.project-submenu {
    position: relative;

}
.project-submenu:hover .project-submenu-block {
    opacity: 1;
    margin-top: 10px;
    top: 290px;
}
.project-submenu-container {
    left: 0;
    position: fixed;
    top: -230px;
    width: 100%;
    z-index: 2;

}

.project-submenu-block {
    height: 65px;
    width: 100%;
    padding: 0px;
    position: relative;
    margin-top: 0px;
    opacity: 1;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    background: url(../images/global/bg_menu.png) repeat;
    border-top: 2px solid #eaebe5;
    z-index: 100;
}

.stickymenu-project ul ul a { padding: 10px; }
/*.main-navigation #nav-proj-home {*/
    /*left: 220px;*/
    /*position: absolute;*/
    /*top: 12px;*/
/*}*/
/*.main-navigation #nav-proj-home li a {*/
    /*color: #4d4c4d;*/
    /*font: 20px 'KittithadaRoman55', Arial, sans-serif;*/
    /*padding: 10px 12px;*/
/*}*/



.project-info-container {
    background: #f2f2f2;
    margin: 0 10px 0px 10px;
    padding: 30px 0;
}

.project-info-detail-block {

}
.project-info-detail-block p.heading-title {
    margin-bottom: 0px;
}


.txt-slogan {
    font-size: 30px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.mb15 {
    margin-bottom: 15px;
}


.i-infos {
    margin-bottom: 20px;
}
.item img {
    width: 100%;
}

.tpl5-img #tpl5-img .item
{
    width: 30%;
}
.tpl5-img #tpl5-img .item:nth-child(5n + 2){
    width: 65%;
}

/*.tpl5-img-1,.tpl5-img-3 {
    width: 30%;
}
*/


/*.tpl5-img-4 {
    width: 45%;
}*/

/*.tpl5-img-5 {
    width: 30%;
}*/

.gallery-block {

}
.project-info-other-block {

}

.project-info-other-img {
    margin-bottom: 10px;
    position: relative;
}
.project-info-other-img img { width: 100%; }


.map-container {
    height: 540px;
    margin-bottom: 90px;
    width: 100%;
}

.project-location-block p.title {
    margin-bottom: 10px;
}
.project-form .btn {
    border: 1px solid #dedede;
    color: #6f9755;
    display: block;
    margin: 40px auto 0 auto;
}
.project-form .btn:hover {
    color: #fff;
}

#projectModelSlide{
    font-size: 0;
}

#projectModelSlide > div{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#projectModelSlide > .col-md-8{
    max-width: 100%;
}

#projectModelSlide > .col-md-4{
    padding-bottom: 70px;
}

/*.promo-descrp {
    margin-top: 60px;
}*/
.promo-descrp .btn-seemore {
    display: inline-block;
    margin-top: 50px;
    margin-left: 32%;
}

#modelThumb .owl-dot {
    background: transparent;
    border-radius: 0;
    display: inline-block;
    height: 75px;
    margin: 5px 5px 0 0;
    width: 105px;
}
#modelThumb-pager a {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 95px;
    float: left;
    opacity: 1;
}
#modelThumb-pager a.active, #modelThumb-pager a:hover {
    opacity: 1;
}

#otherHome .item a:hover p.title {
    color: #6f9755;
}

.block-margin {
    margin-bottom: 30px;
}

.other-home-sec {
    margin-bottom: 40px;
    position: relative;
}
.other-home-sec .heading-title span {
    float: right;
    color: #4d4c4d;
    font-size: 24px;
}

.title span {
    color: #6f9755;
}
.title.green span {
    color: #4d4c4d;
}
.other-home-img {
    margin-bottom: 22px;
    position: relative;
}

.tagbox2_sold.sm-tag {
    background-size: 90px;
    height: 90px;
    width: 90px;
    top: -5px;
    right: -5px;
}
.tagbox2_sold.sm-tag .tag2 {
    top: 15px;
    font-size: 16px;
    left: -2px;

}

.tagbox2_sold.xs-tag {
    background-size: 90px;
    height: 90px;
    width: 90px;
    top: -17px;
    right: 8px;
}

.tagbox2_sold.xs-tag .tag2 {
    top: 15px;
    font-size: 16px;
    left: -2px;
}


.radio-checkmark input[type="radio"] + label span {
    border: 1px solid #dedede;
}
.radio-checkmark input[type="radio"]:checked + label span{
    background-image: url(../images/global/i_checkbox.png);
    border: 1px solid #dedede;
}

/*TAB MENU*/
.tabs-container {
    margin: 15px 0 0 0;
}
.tab-dd {
    border-bottom: 5px solid #f5f5f5;
    margin-bottom: 45px;
}
.tabs-menu {
    margin-bottom: 0;
}
.tabs-menu li a {
    border-bottom: none;
    padding: 20px;
    color: #4d4c4d;
    height:65px;
    width: 270px;
}
.tabs-menu li.current a, .tabs-menu li a:hover {
    background: #f5f5f5;
    border-bottom: none;
    color: #6f9755;
}



#projectSlide { margin-bottom: 10px; }


#projectSlide .owl-nav div {
    background-color: rgba(255,255,255,0.6);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 46%;
    z-index: 2;
}
#projectSlide .owl-next {
    background-image: url("../images/global/i_arrow_next.png");
    right: 0px;
}
#projectSlide .owl-prev {
    background-image: url("../images/global/i_arrow_back.png");
    left: 0px;
}

.space-left {
    padding-left: 40px;
}


.popup-promotion {
    background: url(../images/global/bg_blk50.png) repeat;
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
}
.i-close-popup {
    background: url(../images/global/i_close_popup.png) no-repeat;
    background-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    z-index: 10;
}
.popup-promo-img img {
    width: 100%;
}
.popup-promo-detail {
    padding: 20px 40px 10px 10px;
}
.popup-promo-detail p {
    color: #fff;
    font-size: 26px;
}
/*.owl-dots { margin-left: -20px; }*/

#sec-home-sale {
    margin-top: 20px;
}
/*#sec-home-sale .custom-prev,#sec-home-sale .custom-next{*/
    /*!*display: none;*!*/
.slide-thumb .owl-item img {
    height: 70px;
    object-fit: cover;
}

#otherHome{
    margin-top: -10px;
}

#otherHome > div{
    padding-top: 10px;
}

#otherHome .owl-dots{
    display: none;
}
/*}*/
/*
Responsive
==============================*/
@media (max-width: 992px) {

    .project-info-other-block .col-md-6 {
        margin-bottom: 15px;
    }
    .project-info-other-img img { width: 100%; }
    .block-margin { margin-bottom: 20px; }
    #map { height: 300px; margin-bottom: 20px; }

    .txt-right { text-align: left; }
    .promo-descrp .btn-seemore { display: block; margin: 20px auto 0 auto; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 50%;
    }
    .tpl5-img #tpl5-img .item{
        width: 50%;
    }
    .space-left {
        padding-left: 0px;
    }

    .stickymenu-project .stickymenu-block {
        margin: 10px 10px;
    }
    .stickymenu-project li {
        width: 29%;
    }
    #main-nav {
        display: none !important;}

    .animate2 .slide p.p-in-banner {
        font: 22px 'KittithadaRoman55', Arial, sans-serif;
    }
    .animate2 .slide h1 {
        font: 28px 'KittithadaRoman55', Arial, sans-serif;
    }

    .i-scroll-next, .i-scroll-next-grey {
        background-size: 46px;
        width: 76px;
        height: 47px;
        bottom: 57px;
    }
    #projectSlide .owl-nav { display: block;}
    #sec-home-sale {
        margin-top: 0px;
    }


}

@media (max-width: 768px) {
    #header {
        will-change: initial;
        transition: initial;
        transform: initial;
    }
    #header.stick { height: 70px; opacity: 1; margin-top: 0; }

    .stickymenu-project { display: none !important;}
    .tabs-menu li a {
        padding: 15px 15px;
        font-size: 20px;
        height: 50px;
        width: auto;
    }
    .tab-dd { margin-bottom: 20px; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 100%;
    }
    .tpl5-img #tpl5-img .item{
        width: 100%;
    }
    #pjHomeBanner { padding: 0; }

    .map-container { height: 300px; margin-bottom: 50px }

    #modelThumb-pager { margin: 0 10px; }
    #modelThumb-pager a { margin-right: 0px; }

    /*.page-banner.page-scroll, .banner-container.banner-parallax{
        height: 200px !important;
    }*/
    .i-scroll-next, .i-scroll-next-grey {
        background-size: 46px;
        width: 76px;
        height: 47px;
        bottom: 57px;
    }

    .slide .background-show {
        opacity: 1; visibility: visible;
    }
    #sec-home-sale .bx-prev,#sec-home-sale .bx-next{
        display: none;
    }

    .project-info-container { margin: 0 10px 15px 10px; }
    .promo-descrp { margin-top: 44px; }
    .promo-descrp p { margin-bottom: 0; }

    #projectPromoSlide {
        margin-bottom: 20px;
    }


    .tagbox2_sold.sm-tag .tag2 {
        top: 9px;
        font-size: 9px;
        left: -2px;
    }
    .tagbox2_sold.sm-tag {
        background-size: 45px;
        height: 45px;
        width: 45px;
        top: -5px;
        right: -5px;
    }

    .tagbox2_sold.xs-tag {
        background-size: 60px;
        height: 60px;
        width: 60px;
        top: -5px;
        right: 0px;
    }

    .tagbox2_sold.xs-tag .tag2 {
        top: 8px;
        font-size: 14px;
        left: -2px;
    }

    /*#projectModelSlide {*/
        /*position: relative;*/
    /*}*/
    /*#sec-home-sale .slide-arrow {*/
        /*background: #F5F5F5 no-repeat center;*/
        /*width: 36px;*/
        /*height: 36px;*/
        /*position: absolute;*/
        /*top: 65px;*/
        /*z-index: 2;*/
        /*opacity: 0.7;*/
    /*}*/
    /*#sec-home-sale .background-arrow-left{*/
        /*background-image: url("../images/global/i_arrow_back.png");*/
        /*left: 15px;*/
    /*}*/
    /*#sec-home-sale .background-arrow-right{*/
        /*background-image: url("../images/global/i_arrow_next.png");*/
        /*right: 15px;*/
    /*}*/

    .slide-thumb .owl-item img {
        height: auto;
    }

    #projectModelSlide > .col-md-4{
        width: 100%;
    }



}