.activity-block {
    margin-bottom: 40px;
}
.activity-block .label-date, .activity-block .label-date span {
    width: 110px;
}
.activity-block .lb-date {
    line-height: 1em;
    height: 50px;
}
.activity-block .lb-month {
    height: 45px;
}
.activity-detail {
    margin: 10px 0;
}
.activity-list .btn {
    margin: 25px auto 0 auto;
}

.promotion-block {
    position: relative;
}


.activity-list a:hover p.title, .activity-list a:hover p {
    color: #6f9755;
}
/*.list-item-img {*/
    /*height: 310px;*/
/*}*/



/*
Responsive
==============================*/
@media (max-width: 992px) {
    .list-item-img {
        height: 200px;
    }

}

@media (max-width: 768px) {
    .activity-list .btn {
        margin: 25px auto;
    }
    .list-item-img {
        height: auto;
    }
}
