.float-share {
    display: none;
}
.complain-form-block {
    margin-top: 0px;
}

.step-label {
    background: #709957;
    color: #fff;
    font: 24px 'KittithadaBold75', Arial, sans-serif;
    border-radius: 30px;
    height: 43px;
    padding: 7px;
    width: 120px;
    text-align: center;
    text-transform: uppercase;
}

.complain-form-block .form {
    margin: 20px 0;
}
.complain-form-block .btn {
    width: 110px;
    padding: 6px;
}
.txt-suggest {
    margin: 20px 0;
}
.txt-form-remark {
    margin-top: 15px;
}

table.project-search-list {
    margin-bottom: 40px;
}
table.project-search-list thead th {
    font: 24px 'KittithadaBold75', Arial, sans-serif;
    padding: 10px 60px
}
table.project-search-list tbody td {
    margin-bottom: 20px;
    padding: 20px 60px
}
table.project-search-list tbody td a {
    color: #4d4c4d;
}
table.project-search-list tbody td a:hover {
    color: #6f9755;
}
table.project-search-list tbody td.tb-no,
table.project-search-list th.tb-no {
    text-align: center;
}
table.project-search-list tbody tr:nth-child(odd) td {
    background: #eaebe5;

}


input.input-file[readonly] {
    display: inline-block;
    width: 350px;
    outline: none;
    background: transparent;
    box-shadow: none;
}
input.input-file[readonly]:focus {
    outline: none;
}
.upload-file {
    background: #fff;
    border: 1px solid #979797;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #6e9c54;
    cursor: pointer;
    display: inline-block;
    font: 24px 'KittithadaRoman55', Arial, sans-serif;;
    height: 40px;
    padding: 4px;
    margin: 0 15px;
    position: relative;
    width: 115px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.upload-file:hover {
    background: #6e9c54;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.project-name {
    border-left: 5px solid #6f9856;
    padding: 0 0 20px 20px;
}
.project-name .title span {
    font-family: 'KittithadaRoman55', Arial, sans-serif;
}
.pmargin {
    margin: 30px 0;
}

.form.step4 {
    margin: 30px 0 30px 0;
}
.other-complain {
    display: inline-block;
    width: 250px;
    margin-left: 10px;
}


.btn.btn-submit {display:inline-block; }
.btn.btn-submit.clear { color: #4d4c4d; background: #eee; margin-right: 15px; }

.col-md-3.pdr0 {
    padding-right: 0;
    margin-left: 13%;
}
.btn.btn-submit {
    display: inline-block;
    width: 150px;
}
.bullet-list {
    list-style-type: disc;
    margin-left: 20px;
}
span {
    line-height: 1.65em;
}
li {
    line-height: 1.65em;
}
.btn {
    text-transform: none;
}

.report-btns {
    text-align: center;
    width: 100%;
}
.report-btns .btn-submit {
    margin: 0 5px;
}

.content {
    padding-bottom: 50px;
}

/*
Responsive
==============================*/

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .complain-form-block {
        margin-top: 0px;
    }
    .step-label { margin-bottom: 15px; }
    table.project-search-list thead th {
        padding: 10px 15px
    }
    table.project-search-list tbody td {
        padding: 15px 5px
    }
    .project-name {
        margin-bottom: 20px;
    }
    .complain-step3 .complain-form {
        text-align: center;
    }
    .complain-step3 .complain-form p, .complain-form input {
        text-align: left;
    }
    .complain-step3 .btn.btn-submit {
        display: inline-block;
    }
    .pmargin { margin: 0 0 20px 0; }
    input.input-file[readonly] { width: 100px; }
}