.float-share {
    display: none;
}
.complain-form-block {
    margin-top: 30px;
}

.complain-form-block .form {
    margin: 20px 0;
}
.complain-form-block .btn {
    width: 110px;
    padding: 6px;
}

.form-details label {
    display: inline-block;
    width: 30%;
}
.form-details p {
    display: inline-block;
}



input.input-file[readonly] {
    display: inline-block;
    width: 350px;
    outline: none;
    background: transparent;
    box-shadow: none;
}
input.input-file[readonly]:focus {
    outline: none;
}
.upload-file {
    background: #fff;
    border: 1px solid #979797;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #6e9c54;
    cursor: pointer;
    display: inline-block;
    font: 24px 'KittithadaRoman55', Arial, sans-serif;;
    height: 40px;
    padding: 4px;
    margin: 0 15px;
    position: relative;
    width: 115px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.upload-file:hover {
    background: #6e9c54;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.project-name {
    border-left: 5px solid #6f9856;
    padding: 0 0 20px 20px;
}
.project-name .title span {
    font-family: 'KittithadaRoman55', Arial, sans-serif;
}
.pmargin {
    margin: 30px 0;
}

.form.step4 {
    margin: 30px 0 30px 0;
}
.other-complain {
    display: inline-block;
    width: 213px;
    margin-left: 10px;
    border-radius: 48px;
}


.btn.btn-submit {display:inline-block; }
.btn.btn-submit.clear { color: #4d4c4d; background: #eee; margin-right: 15px; }

.col-md-3.pdr0 {
    padding-right: 0;
    margin-left: 13%;
}
.btn.btn-submit {
    display: inline-block;
    width: 150px;
}

.form-group input {
    height: 50px;
    font-size: 22px;
}

.col-md-1.number-report{
    margin: 0;
    padding: 0;
}
.number-report{
    height: 48px;
    color: #9bb48a;
    font: 50px/44px 'KittithadaBold75', Arial, sans-serif;
    position: relative;
    text-align: center;
}
.btn {
    text-transform: none;
}

.btn-delete {
    margin-left: 50px;
}

/*
Responsive
==============================*/

@media (max-width: 992px) {
    .btn-delete {
        margin-left: 10px;
    }
    .report-btns {
        text-align: center;
        width: 100%;
    }

    .form-time label {
        display: block;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .complain-form-block {
        margin-top: 0px;
    }
    .project-name {
        margin-bottom: 20px;
    }
    .complain-step3 .complain-form {
        text-align: center;
    }
    .complain-step3 .complain-form p, .complain-form input {
        text-align: left;
    }
    .complain-step3 .btn.btn-submit {
        display: inline-block;
    }

    .pmargin { margin: 0 0 20px 0; }
    input.input-file[readonly] { width: 100px; }
}