.review-content {
    margin-bottom: 60px;
}
.content-block {
    margin-bottom: 60px;
}


.page-nav {
    margin-bottom: 0px;
    padding-top: 30px;
}
.page-nav h1, .page-nav p {
    display: inline-block;
}
.page-nav p {
    margin-left: 30px;
}
/*.page-nav h1 {*/
    /*color: #4d4c4d;*/
    /*font: 24px 'KittithadaBold75', Arial, sans-serif;*/
    /*padding-left: 35px;*/
    /*display: inline-block;*/
    /*margin-bottom: 20px;*/
/*}*/
/*.page-nav a {*/
    /*color: #6f9755;*/
    /*font: 30px 'KittithadaRoman55', Arial, sans-serif;*/
    /*display: inline-block;*/
/*}*/
/*a.back-to-prev {*/
    /*margin-bottom: 10px;*/
    /*padding-left: 25px;*/
/*}*/


.share-content {
    margin-bottom: 10px;
}
.share-content p {
    color: #4d4c4d;
    font: 24px 'KittithadaBold75', Arial, sans-serif;
}
.share-content p, .icons-share {
    float: left;
}

.icons-share li {
    float: left;
    margin: 0 10px;
}
.icons-share li a {
    background: url(../images/temp2/i_social_grn.png) no-repeat;
    height: 30px;
    width: 30px;
    opacity: 0.9;
}
.icons-share li a:hover {
    opacity: 1;
}
.icons-share li a.i-sfb {
    background-position: -5px 0;
}
.icons-share li a.i-stw {
    background-position: -51px 0;
}
.icons-share li a.i-sig {
    background-position: -101px 0;
}

.relate-post {
    margin-bottom: 10px;
}
.relate-post .review-img {
    margin-bottom: 10px;
    position: relative;
}
.relate-post .btn {
    margin: 30px auto 0 auto;
}

.review-share {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.i-review-share {
    background: rgba(0,0,0,0.25) url(../images/global/i_share.png) center no-repeat;
    background-size: 32px;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;

}
.page-nav {
    position: relative;
}
.page-banner {
    position: relative;
}

.review-share .lnk-icons {
    background: rgba(0,0,0,0.25);
    border-radius: 7px;
    width: 150px;
    position: absolute;
    right: 0px;
    top: 55px;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
}
.share-triangle {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 13px 7px;
    border-color: transparent transparent rgba(0,0,0,0.25) transparent;
    top: -13px;
    right: 14px;
}
.review-icons-share li {
    display: inline-block;
    margin: 7px 10px;
}
.review-icons-share li a {
    background-repeat: no-repeat;
    background-size: 25px;
    display: block;
    width: 25px;
    height: 25px;
}
.review-icons-share li a.i-sfb {
    background-image: url(../images/global/i_s_fb_w.png);
}
.review-icons-share li a.i-stw {
    background-image: url(../images/global/i_s_tw_w.png);
}
.review-icons-share li a.i-sig {
    background-image: url(../images/global/i_s_ig_w.png);
}

.page-nav p.rps { display: none; }

/*
Responsive
==============================*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .page-nav h1 { padding-top: 10px; }
    .page-nav { padding-top: 0px; }
    .page-nav p.dsktp { display: none; }
    .page-nav p.rps { display: block; }
    .page-nav p {
        margin-left: 0px;
        margin-bottom: 20px
    }
    .share-content { display: none; }
    /*.page-banner, .page-banner-content { height: 250px !important; }*/
    .content-block {
        margin-bottom: 30px;
    }
    .review-share {
        display: block;
    }
    .content-block {
        margin-bottom: 0px;
    }
    .review-content {
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .content-block img {
        width: 100% !important;
        height: auto !important;
    }
}