.content.search-result {
    padding: 20px 0;
}
h1 {
    margin-bottom: 5px;
}
.search-result p.title {
    margin-bottom: 15px;
}


.list-item-img {
    overflow: hidden;
}
.list-item p.title {
    margin-bottom: 0px;
}
.list-item p {
    margin-bottom: 10px;
}
.item p.title {
    margin-bottom: 0px;
}
/*.list-item {*/
    /*position: relative;*/
/*}*/

#searchResult {
    color: #6f9755;
    font: 20px 'KittithadaBold75', Arial, sans-serif;
    line-height: 1em;
    padding: 0 0 0 50px;
    position: absolute;
    right: 80px;
    top: 55px;
    margin-right: 7%;
}

#searchResult i.i-subm-search {
    background-image: url(../images/global/i_subm_search.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 40px;
    height: 40px;
    width: 40px;
    left: 0px;
    top: -10px;
}

.tagbox2 {
    left: -10px;
}

.item {
    position: relative;
}
.item img {
    width: 100%;
}
.tpl5-img-1,.tpl5-img-3 {
    width: 30%;
}
.tpl5-img-2 {
    width: 65%;
}
.tpl5-img-4 {
    width: 45%;
}
.tpl5-img-5 {
    width: 60%;
}


/*
Responsive
==============================*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .tagbox2 { left: 4px}
    #searchResult {
        display: none;
    }
    .tab-dd { margin-bottom: 20px; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 100%;
    }
}


