.page-banner-content {
    background-size: cover;
    background-position-y: 0;
}


.furnishedhome-block {
    position: relative;
}
p.heading-title {
    margin-bottom: 5px;
}
.project-type-block {
    margin: 30px 0 0 0;
}
.projecttype-descrp {
    text-align: center;
}
.projecttype-descrp img {
    margin: 0 auto 15px auto;
}
.search-block img {
    width: 100%;
}


.sort-block, .view-block {
    float: left;
}


.projecttype-list {
    margin-bottom: 30px;
}
.projecttype-list img {
    width: 100%;
}
.projecttype-descrp {
    padding-top: 60px;
    padding-bottom: 11px;
}
.projecttype-list .projecttype-descrp img, .projecttype-descrp img {
    margin: 0 auto 15px auto;
    width: initial;
}
.projecttype-descrp .btn {
    margin: 30px auto 0 auto;
}
.projecttype-descrp .subtitle {
    margin-bottom: 20px;
}


/*
    list , grid swap
*/

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
#products .thumbnail {
    padding: 0px;
    line-height: 1.42857143;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: initial;
}
.caption .projecttype-descrp .btn {
    margin-top: 30px;
}
#products .grid1 { margin-bottom: 20px; }

#products .grid1 .projecttype-descrp.grid2 {
    padding-top: 0;
}


/*
Responsive
==============================*/
@media (max-width: 992px) {
    .banner-detail-container {
        width: 100%;
        height:410px;
        left: 50%;
        margin: -205px 0 0 -50%;
        top: 50%;
    }

    .projecttype-descrp {
        padding-top: 0px;
    }
    .projecttype-descrp .btn {
        margin: 20px auto 0 auto;
    }
    .projecttype-list { margin-bottom: 30px; margin-top: 80px; }
}

@media (max-width: 768px) {
 /*   .page-banner.page-scroll, .banner-parallax{
        height: 200px !important;
    }*/

    .banner-txt h1 { font-size: 38px; }
    .banner-detail-container {
        width: 100%;
        height: auto;
        left: 0;
        margin: -40% 0 0 0;
        top: 50%;
    }
    .furnishedhome-block .subtitle { font-size: 20px; margin-bottom: 15px; }

    .sort-block { float: none; margin-bottom:15px; }
    .view-block { float: right !important; margin-bottom:20px; }
    .projecttype-list img { width: 100%; }
    .projecttype-descrp img { width: initial; }
    .project-type-block { margin: 0; }
    .projecttype-list {
        margin-bottom: 15px;
        margin-top: 0px;
    }
    .projecttype-descrp {
        padding-top: 10px;
        padding-bottom: 5px;
    }
}