.tpl1-block-1, .tpl1-block-2 {
    margin-bottom: 60px;
}
.tpl1-block-descrp {
    padding-top: 150px;
}
.tpl1-block-item-img {
    position: relative;
}

.vdo-lg-cover {
    width: 100%;
    height: 420px;
    object-fit: cover;
}


/*
Responsive
==============================*/
@media (max-width: 992px) {
    .tpl1-block-item-img img {
        width: 100%;
    }
    .tpl1-block-descrp {
        padding-top: 10px;
    }
    .tpl1-block-1, .hm-tip { margin-bottom: 20px; }
    .tpl1-block-2 { margin-bottom: 0; }
    .hm-tip p {
        line-height: 1em;
    }
    .vdo-lg-cover {
        height: auto;
    }

}

@media (max-width: 768px) {


}