*{
    font-family:"Helvetica",sans-serif;
    /*courier,arial;*/
}
p {
    font-size: 14px;
}


.p_size{
    font-weight: 600;
    font-size: 15px;
        text-align: left;
}

.p_center{
  text-align: center;  
}

.p_line{
    border-bottom: 1px solid #7d7d7d;
    padding-left: 0;
    min-width: 200px;
    display: inline-block;
    line-height: 1.2;   
}


.container{
    padding: 9.3125rem;
    padding-top: 0;
}
table{
    margin-top:1.25rem;
    width: 100%;
    height: 20px;
    border:1px solid lightgray;
    table-layout:auto;
}

th {
    /*height: 0.625rem;*/
    text-align: left;
   /* padding: 8px;*/
    background-color: #003365;
    color: white;
    padding: 5px 20px;
}

.personal td p,.position td p,.interview td p{
   
   margin-left:2.25rem;
    
}

td h3{
   
  /* margin-left:2.25rem;*/    
}

h2,h5{
    
    line-height: 0.25rem;
    margin-top:3%;
    padding-bottom:-3%;
}

#app {
    float: left;
    padding: 78px 0px 0px 65px;
    font-size: 16px;
    /* width: 65%; */
    text-align: center;
}

.logo img{
    width: 25%;
    height:auto;
    float:left;
    margin: 5px;
}

.profile img{
    height : 12.625rem;
    width: auto;
    float:right;
    margin-left: : 2%;
    max-width: 170px;
    padding: 0px 4px 16px 0px;
}

.position_p{
   margin-left: 0 !important
}
.text_span{
    line-height: 3;
}


 .personal input, .skills input, .position input, .education input {
    background-color:transparent;
    border:none;
    font-style: none;
    width:100%;
    height:16px;

   
}
 .position input,.personal input{
     border-bottom: 1px solid #7d7d7d;
     padding-left: 0;
    }
textarea{
    background-color:transparent;
    border:none;
    font-style: italic;
    width:100%;
    /*border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #DDDDDD;*/
    /*display: block;*/
    line-height: 25px;
    margin: 2% auto;
    padding: 4px 20px 0 40px;
    resize: none;
    width: 530px;
    
   /* height: 500px;
    background-image: -moz-linear-gradient(top , transparent, transparent 24px,#E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%);
    background-image: -webkit-linear-gradient(top , transparent, #fff 24px,#999 1px);
    
    -webkit-background-size:  100% 25px;
    background-size: 100% 25px;*/
    background: url(../images/line.jpg);
    background-position: 0px -1px
}


 td{
    height: 2.0rem !important;
    margin-top: 0px;
    width:auto;
}
.psersonal td img{
    padding-top:0.625rem;
}

.infoPosition input{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid #7d7d7d;
    font-style: none;
    width:70%;
    
}
.interview{
    text-align: center;
}

.interview input{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid #7d7d7d;
    font-style: italic;
    width:80%;
}

.comment textarea{
    background-color:transparent;
    width:80%;
    margin:2% 0 2% 0;
}

.comment td{
    text-align: center;
   
}

.middleline{
    border-left:1px solid #7d7d7d;
    
}

.education td, .skills td{
    text-align: center;
 
}

.education td p, .skills td p{
    margin-left:0px;
}

/*.topic{
    text-align:left;
    color:white;
     background-color: #003365 !important;
    -webkit-print-color-adjust: exact; 
}*/

.evaSize td{
    width: 3.25rem;
}


.typing input{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid #7d7d7d;
    font-style: italic;
    width:10%;

}

.marital input{

    background-color:transparent;
    border:none;
    font-style: none;
    width:20%;
    text-align:center;

}

.family td {
    
     margin-left:0px;
     text-align: center;
}


.employment input, .family input, .general input, .reference input{
    background-color:transparent;
    border:none;
    font-style: none;
    width:100%;
    text-align:center;

}
.further-info table {

    border:0px;
}
.further-info textarea{
    width: 90%;
    border:0px;
    background-color: transparent;
    margin-left: 46px;
}

.signature input{
    background-color:transparent;
    border:none;
    border-bottom:1px solid black;
    font-style: none;
    width:30%;
    text-align:center;
}

.signature table,.reference table, .general table{

    text-align: center;
}

.education table, .education td , .skills table , .skills td, .family table, .family td, .general table , .general td, .reference table, .reference td, .further-info table,.further-info td,.employment table,.employment td{
    border:1px solid #7d7d7d;
    border-collapse: collapse;
}

.underline-fam input{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid #7d7d7d;
    font-style: italic;
    width:10%;

}

input:disabled, textarea:disabled {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 15px;
}


.family tbody > tr:nth-child(3) > td:nth-child(n+2) p {
    text-align: center;
}
.family td p {
    text-align: left;
    padding-left: 8px;
}
