/*@page {
    size: A4;
    margin: 0;
    }*/
@media print {
html, body {
    width: 250mm;
    height: 297mm;     
}
/*@page {
    size: A4 portrait;
    max-height:100%;
    max-width:100%
    }*/
.container{
   /* width:100%;
    padding:0px;*/
    width: 250mm;
    height: 297mm;
    padding: 4.3125rem; 
    /*padding-top: 50px;*/
}
.logo img{
    width: 25%;
    height:auto;
    float:left;
    padding-right: 30px;
}
.info img{
    height : 10rem;
    margin-right: 3.125rem;
   
}
.personal td p{
    font-size:0.7rem;
    margin-left:1rem;
    margin-right:0.5rem;
    display:inline;
}
p{
    font-size:0.7rem;
}
span.p_line{
    border-bottom: 1px solid #7d7d7d;
    padding-left: 2px;
    margin-left :15px;
}

.personal input{
    padding-left:0.95rem;
    padding-right:0.5rem;
}
tr p{
    font-size:0.875rem;
   
}
table{
    /*margin-top:.25rem;*/
     margin-top:1.25rem;
    width: 100%;
    height: 20px;
    border:1px solid lightgray; 
}
td{
    padding-top:0px;
    padding-bottom: 0px;
    height: 3rem;
    width:auto;
}
h2{
    font-size:1.25em;
}
h3{
   /* font-size: 0.6rem;*/
}
th{
    color: white;
    background-color: #003365 !important;
    -webkit-print-color-adjust: exact; 
}
.employment table{
    text-align: center;
    align-items: center;
}
.text_span{
    line-height: 3;

}
.education, .general{
    padding-top: 50px;
    padding-right: auto;
    padding-left: auto; 
    page-break-before: always;
}

tr.linecolor {
    background-color: #003365 !important;
    -webkit-print-color-adjust: exact; 
}

textarea{
    -webkit-print-color-adjust: exact; 
    background: url(../images/line_print.jpg);
    background-position: 0px -1px
    background-size: 100% 30px;
}

.education table, .education td , .skills table , .skills td, .family table, .family td, .general table , .general td, .reference table, .reference td, .further-info table,.further-info td{
    border:1px solid #7d7d7d;
    border-collapse: collapse;
}

.employment table, .employment td{
    border:1px solid #7d7d7d;
    border-collapse: collapse;
}

.personal input {
     padding-left: 2px;
     margin-left: 15px;
     width: 80%;
}