.project-info-detail-block {
    margin-bottom: 50px;
    position: relative;
}
.heading-logo {
    margin: 20px 0;
}
.top-header-title {
    font: 24px 'KittithadaBold75', Arial, sans-serif;
    text-align: center;
    margin: 30px 0 20px 0;
}
.top-header-title span {
    color: #4d4c4d;
}

.home-detail-block p {
    font-size: 24px;
    margin-bottom: 15px;
}
.home-detail-block p.heading-title {
    color: #6f9755;
    font: 30px 'KittithadaRoman55', Arial, sans-serif;
}
.home-detail-block p.heading-title.bold {
    font-family: 'KittithadaBold75', Arial, sans-serif;
    margin-bottom: 30px;
}
.project-info-plan-img {
    position: relative;
}
.i-zoom {
    background-image: url(../images/global/i_zoom.png);
    cursor: pointer;
    height: 45px;
    width: 45px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.home-detail-block p.txt-remark-sm {
    font-size: 16px;
    padding-left: 45px;
    position: relative;
}
.txt-remark-sm i {
    position: relative;
    left: 0px;
    top: -12px;
}
.txt-remark-sm i {
    position: absolute;
}

table.content-style {
    margin: 0px 0 30px 0;
}
table.tb-home-detail thead th {
    background: #eaebe5;
    font-size: 24px;
    padding: 5px;
    text-align: center;
}
table.tb-home-detail tbody tr {
    background: #fff;
}
table.tb-home-detail tbody tr:nth-child(even) {
    background: #f5f7f7;
}
table.tb-home-detail tbody tr td {
    padding: 8px 10px 8px 20px;
}


.item img {
    width: 100%;
}
.tpl5-img-1,.tpl5-img-3 {
    width: 30%;
}
.tpl5-img-2 {
    width: 65%;
}
.tpl5-img-4 {
    width: 45%;
}
.tpl5-img-5 {
    width: 30%;
}






/*TAB MENU*/
.tabs-container {

}
.tabs-menu {
    clear: both;
    padding: 0;
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 45px;

}
.tabs-menu.dropdown-menu {
    box-shadow: none;
    border: none;
    background: transparent;

}
.tabs-menu li {
    background: transparent;
    display: inline-block;
}
.tabs-menu li.current {
    position: relative;
    z-index: 5;
}
.tabs-menu li a {
    border-bottom: 4px solid transparent;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    color: #b0babb;
    font: 24px 'KittithadaBold75', Arial, sans-serif;
    height:45px;
    width: 90px;
}
.tabs-menu li a:hover {
    background: transparent;
    border-bottom: 4px solid #6f9755;
    color: #6f9755;
}
.tabs-menu li.current a {
    background: transparent;
    border-bottom: 4px solid #6f9755;
    color: #6f9755;
}
.tab-content {
    display: none;
}
.tab-block {
    min-height: 200px;
}
#tab-1 {
    display: block;
}





/*
Responsive
==============================*/
@media (max-width: 992px) {
    .content { padding: 30px 0 60px 0; }
    .logo-right { float: right !important; }
    .top-header-title {
        position: relative;
        left: 0;
        bottom: initial;
        top: 15px;
    }
    .page-banner {
        height: 505px;
    }
    .tabs-menu {
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .tab-dd .row { margin: 0; }
    .tab-block { min-height: auto; }
    .i-bullet.right { float: left !important; margin-left: 6px; }
    td.tb-bullet { width: 10px; }

    .project-info-furnished-page .sort-container { margin-bottom: 45px; }
    .block-margin-20 .col-md-6 { margin-bottom: 20px; }
    .owl-buttons div, .col-slide .owl-buttons div { right: 20px; }
    .owl-buttons div.owl-prev { right: 40px; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 100%;
    }
    .tabs-menu li a { width: 75px; }
    table.content-style {
        margin: 15px 0 20px 0;
    }
}