.content {
    padding-bottom: 90px;
}
.airplus-content {
    padding-bottom: 60px;
}
.i-view-vdo {
    cursor: pointer;
}
.banner-container video {
    width: 100%;
}
.airplus-lists-container {
    background: #f3f3f3;
    padding: 50px 0;
}
.airplus-lists {
    position: relative;
    padding-bottom: 270px;
}
.ap-li {
    margin-top: 15px;
}
.ap-li li {
    list-style-image: url(../images/global/i_bullet.png);
    margin-bottom: 15px;
}
.vdo-banner {
    width: 100%;
}

.airplus-lists .title {
    line-height: 24px;
    margin-bottom: 15px;
    text-align: center;
}
.airplus-list span.apicon {
    background-repeat: no-repeat;
    display: block;
    height: 82px;
    margin: 0 auto 15px auto;
    width: 82px;
}
.i-aplist-1 {
    background-image: url(../images/global/air_icon_1.png);
}
.i-aplist-2 {
    background-image: url(../images/global/air_icon_2.png);
}
.i-aplist-3 {
    background-image: url(../images/global/air_icon_3.png);
}

.img-leafs {
    background: url(../images/temp3/air_3.jpg) no-repeat;
    display: block;
    height: 310px;
    position: absolute;
    width: 250px;
    left: -80px;
    bottom: -70px;
    background-size: 250px;
}
.img-girl {
    background: url(../images/temp3/air_4.jpg) no-repeat;
    display: block;
    height: 227px;
    position: absolute;
    width: 400px;
    right: -40px;
    bottom: -50px;
    background-size: 400px;
}


.vdo-control {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
}
.play-block {
    position: absolute;
    left: 50%;
    top: 42%;
    margin: -50px 0 0 -37px;
}
.vdoPlay {
    background: url(../images/global/i_vdo_play.png) no-repeat;
    background-size: 70px;
    height: 70px;
    width: 70px;
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 2;
}
.vdoPause {
    background: url(../images/global/i_vdo_pause.png) no-repeat;
    background-size: 70px;
    height: 70px;
    width: 70px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
.vdo-icon {
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btnshown {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btnhide {
    opacity: 0 !important;
    visibility: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#bannerSlide{
    padding: 0;
}



/*
Responsive
==============================*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .airplus-content {
        padding-bottom: 20px;
    }
    .airplus-content img {
        margin-bottom: 15px;
    }
    .ap-li li {
        margin: 0 0 15px 15px;
    }
    .airplus-lists-container {
        padding: 40px 0;
    }
    .airplus-list {
        margin-bottom: 15px;
    }
    .airplus-lists {
        padding-bottom: 90px;
    }
    .img-leafs {
        height: 150px;
        width: 120px;
        left: 0;
        bottom: -80px;
        background-size: 120px;
    }
    .img-girl {
        height: 108px;
        width: 170px;
        right: -15px;
        bottom: -50px;
        background-size: 170px;
    }

    .play-block {
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
    .vdoPlay, .vdoPause {
        background-size: 50px;
        height: 50px;
        width: 50px;
    }
    .banner-container video { width: 100%; }

}

@media (max-width: 768px) {

}