
.project-info-other-img {
    margin-bottom: 10px;
    position: relative;
}
.project-info-other-img img { width: 100%; }

.promo-descrp {
    padding-top: 20px;
}
.promo-descrp .btn-seemore {
    display: block;
    margin: 70px auto 0 auto;
    /*margin-left: 32%;*/
}

#projectSlide { margin-bottom: 10px; }


#projectSlide .owl-nav div {
    background-color: rgba(255,255,255,0.6);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 46%;
    z-index: 2;
}
#projectSlide .owl-next {
    background-image: url("../images/global/i_arrow_next.png");
    right: 0px;
}
#projectSlide .owl-prev {
    background-image: url("../images/global/i_arrow_back.png");
    left: 0px;
}

/*#modelThumb .owl-dot {*/
    /*background: transparent;*/
    /*border-radius: 0;*/
    /*display: inline-block;*/
    /*height: 75px;*/
    /*margin: 5px 5px 0 0;*/
    /*width: 105px;*/
/*}*/
/*#modelThumb-pager a {*/
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    /*width: 95px;*/
    /*float: left;*/
    /*opacity: 1;*/
/*}*/
/*#modelThumb-pager a.active, #modelThumb-pager a:hover {*/
    /*opacity: 1;*/
/*}*/

#otherHome .item a:hover p.title {
    color: #6f9755;
}
#otherHome .item p {
    margin-bottom: 0;
}

.other-home-img {
    margin-bottom: 10px;
}

.block-margin {
    margin-bottom: 30px;
}

.other-home-sec .heading-title span {
    float: right;
    color: #4d4c4d;
    font-size: 24px;
}

.other-home-sec {
    margin-bottom: 40px;
}


.title span {
    color: #6f9755;
}
.title.green span {
    color: #4d4c4d;
}


/*
Responsive
==============================*/
@media (max-width: 992px) {
    .project-info-other-block .col-md-6 {
        margin-bottom: 15px;
    }
    .project-info-other-img img { width: 100%; }
    .block-margin { margin-bottom: 20px; }

    .promo-descrp {
        padding: 10px 0px;
    }
    .promo-descrp .btn-seemore {margin: 20px auto 0 auto; }


    #projectSlide .owl-nav { display: block;}

}

@media (max-width: 768px) {

    #modelThumb-pager { margin: 0 10px; }
    #modelThumb-pager a { margin-right: 0px; }

    /*.banner-parallax { height: 170px !important; }*/
    .promo-descrp p { margin-bottom: 0; }
}

