.project-info-detail-block {
    margin-bottom: 40px;
}

.top-header-title {
    position: absolute;
    left: 15px;
    bottom: 0;
}
.info-logo-img p.heading-title {
    text-align: center;
}
.project-info-detail-block p.heading-title {
    margin-bottom: 15px;
    /*text-align: center;*/
}
.page-banner-content {
    background-position-y: 0px;
    background-size: cover;
}

.project-sale-logo {
    margin-bottom: 20px;
}

.project-info-plan-img {
    position: relative;
}

.item img {
    width: 100%;
}
.tpl5-img-1,.tpl5-img-3 {
    width: 30%;
}
.tpl5-img-2 {
    width: 65%;
}
.tpl5-img-4 {
    width: 45%;
}
.tpl5-img-5 {
    width: 30%;
}



.table-1 .tb-title-1st {width: 395px;}



/*
Responsive
==============================*/
@media (max-width: 1200px) {
    .table-1 .tb-title-1st {width: 230px;}
}
@media (max-width: 992px) {
    .logo-right { float: right !important; }
    .top-header-title {
        position: relative;
        left: 0;
        bottom: initial;
        top: 40px;
    }
/*    .page-banner {
        height: 505px;
    }
    */

    table.tablesaw tbody td {
        padding: 0;
        text-align: left;
        border-bottom: 1px solid #fff;
    }
    table.tablesaw tbody td .tablesaw-cell-label {
        background: #eaebe5;
        padding: 15px 10px;
        line-height: 1em;
        vertical-align: middle;
    }
    .tablesaw-cell-content {
        line-height: 1;
        padding: 5px 10px;
        vertical-align: middle;
    }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 50%;
    }
    .project-info-detail-block p.heading-title {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 100%;
    }

    table.tablesaw tbody td.tb-plan-detail b { height: 90px; }
    /*.page-banner, .banner-parallax { height: 175px !important; }*/
    .page-banner .owl-controls { bottom: 0px; }
}