.chart-page {
    margin: 50px 0;
}

.chart-page h1 {
    margin-bottom: 60px;
}

.chart-img {
    width: 100%;
}

.chart-block {
    margin-top: 30px;
}



/*
Responsive
==============================*/

@media (max-width: 992px) {
	.chart-page h1 {
	    margin-bottom: 30px;
	}

}

@media (max-width: 768px) {


}