.concept-lists {
    margin-bottom: 20px;
}
.cont-pl {
    padding-left: 5%;
}
.cont-pr {
    padding-right: 5%;
}

.cc-block-pt35 {
    padding-top: 35%;
}
.cc-ct-mg15 {
    margin: 15% 0;
}
.cc-ct-mg25 {
    margin: 25% 0;
}
.concept-detail ul {
    margin: 0 20px;
}
.concept-detail li {
    list-style: disc;
}





/*
Responsive
==============================*/
@media (max-width: 992px) {
    .cc-ct-mg15, .cc-ct-mg25 {
        margin: 10px 0;
    }
    .cc-block-pt35 {
        padding-top: 15px;
    }
    .cont-pr {
        padding-right: 0;
    }
    .cont-pl {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    /*.page-banner.page-scroll, .banner-container.banner-parallax{
        height: 200px !important;
    }*/
}