.contact-form .title-label {
    font-family: 'KittithadaBold75', Arial, sans-serif;
}
.contact-form .searchBlock {
    border-radius: 0;
    height: 50px;
    padding: 14px 15px;
}
.contact-form .search-icon-dropdown {
    border-radius: 0;
    height: 50px;
    width: 50px;
}
.contact-form .i-search-triangle {
    right: 18px;
    top: 21px;
}
.contact-form .search-block ul {
    top: 50px;
}
.contact-form .search-block ul li {
    cursor: pointer;
    padding: 9px 20px;
    font-size: 22px;
}
.contact-form .btn {
    margin-top: 20px;
}
.search-icon-dropdown {
    background: transparent;
}

.ct-radio {
    display: inline-block;
    width: 90%;
}

.sort {
    padding: 13px 15px;
    position: relative;
    width: 100%;
    height: 50px;
}
.i-sort {
    top: 24px;
    width: 12px;
}
.sort-block ul {
    top: 52px;
}



/*Report*/
.txt-inform {
    font-size: 20px;
    margin-top: 50px;
}
input.input-file[readonly] {
    float: left;
    width: 85%;
    outline: none;
    background: transparent;
    box-shadow: none;
}
input.input-file[readonly]:focus {
    outline: none;
}
.upload-file {
    background: #6f9655;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
    float: left;
    font: 24px 'KittithadaRoman55', Arial, sans-serif;;
    height: 50px;
    padding: 12px 0 12px 25px;
    position: relative;
    margin: 0 0 0 -1%;
    width: 16%;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.upload-file:hover {
    opacity: 0.9;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.i-browse {
    background: url(../images/temp5/i_browse.png) no-repeat;
    width: 25px;
    height: 21px;
    background-size: 25px;
    position: absolute;
    left: 25px;
    top: 14px;
}

.button-contact {
    position: relative;
    left: 50%;
    margin-left: -200px;
}
button.btn-contact {
    border: 1px solid #6f9655;
    display: inline-block;
    margin: 0 15px;
}
button:hover.btn-contact, .btn.btn-contact:focus {
    border: 1px solid #dedede;
}


/*
Responsive
==============================*/

@media (max-width: 992px) {
    .ct-radio {
        width: 85%;
    }

    input.input-file[readonly] { width: 85%; }
    .upload-file { width: 20%; }
}

@media (max-width: 768px) {
    input.input-file[readonly] { width: 60%; }
    .upload-file { width: 40%; }
    .i-browse {
        left: 15px;
    }
}

@media (max-width: 400px) {
    .button-contact { margin-left: -185px; }
    button.btn-contact { width: 150px; }
}