.content {
    padding-bottom: 90px;
}
.profilecomp-block {
    margin-bottom: 50px;
}
.profilecomp-block img {
    width: 100%;
}
.profile-content {
    padding-top: 30px;
}
.profile-block {
    margin-bottom: 30px;
}
.detail-block {
    margin-bottom: 30px;
}
.company-register p {
    color: #8a8a8a;
}
a.download-pdf {
    color: #6f9755;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 44px;
    border-radius: 20px;
    border: 1px solid #eaeaea;
    width: 200px;
    height: 40px;
    margin-top: -8px;
    padding-top: 8px;
}
a.download-pdf i {
    left: 15px;
    top: 7px;
}

p.txt-quote {
    font-size: 26px;
    color: #ababab;
}


/*.history-title {*/
    /*font-size: 30px;*/
    /*padding-left: 35px;*/
    /*margin-bottom: 0;*/
/*}*/
/*.history-detail {*/
    /*padding: 0 20px;*/
/*}*/
/*.history-list {*/
    /*border-left: 2px solid #dfdede;*/
    /*position: relative;*/
    /*margin: 5px 0px 15px 5px;*/
    /*padding: 5px 0 20px 0;*/
/*}*/
/*.history-block .item.first, .history-block .item.fourth {*/
    /*margin-top: 50px;*/
/*}*/
/*.history-block .item.third {*/
    /*margin-top: 80px;*/
/*}*/
/*.history-list:before {*/
    /*content: "";*/
    /*background: #dfdede;*/
    /*border-radius: 50%;*/
    /*height: 9px;*/
    /*width: 9px;*/
    /*position: absolute;*/
    /*top: -4px;*/
    /*left: -5px;*/
/*}*/
/*.subtitle {*/
    /*font-size: 23px;*/
    /*margin-bottom: 15px;*/
/*}*/
/*.history-list li {*/
    /*color: #4d4c4d;*/
/*}*/

/*.history-detail-block ul {*/
    /*margin-left: 20px;*/
/*}*/
/*.history-detail-block li {*/
    /*font-size: 23px;*/
/*}*/


.year-details {
    display: none;
}
.year-details.current {
    display: block;
}
.affiliate-block {
    margin-top: 20px;
    text-align: center;
}
.affiliate-img {
    height: 75px;
    margin-bottom: 20px;
    white-space: nowrap;
}
.affiliate-img span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.affiliate-img img {
    display: inline-block;
    width: initial;
    vertical-align: middle;
    max-height: 75px;
}
.affiliate-name {
    font-size: 26px;
}
.center-block {
    text-align: center;
    margin: 20px auto 0 auto;
}



/*History*/
.history-container {
    position: relative;
    margin-bottom: 50px;
}

.htry-line {
    background: #e7e7e7;
    width: 100%;
    height: 7px;
    position: absolute;
    top: 180px;
}
#historyLists {

}
#historyLists .history-title {
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
}
.htry-top {
    position: relative;
    left: 50px;
}
.htry-top-right {
    position: relative;
    /*left: 570px;*/
    top: 45px;
}
.htry-btm {
    position: relative;
    top: 64px;
    left: 100px;
    margin-bottom: 60px;
}
.htry-btm-right {
    position: relative;
    top: 94px;
    left: 30px;
    margin-bottom: 60px;
}
.htry-select {
    width: 80%;
    position: relative;
}
.htry-select .history-list {
    background: #909889;
    color: #fff;
    font: 22px 'KittithadaBold75', Arial, sans-serif;
    position: relative;
    border-radius: 21px;
    padding: 8px 8px 8px 50px;
    z-index: 5;
}
.htry-select.active .history-list, .htry-select.active .htry-circle.c2,
.htry-select.active .htry-year-line {
    background: #6f9856;
}
.htry-select.active .htry-year-line {
    z-index:1;
}
.htry-year-line {
    background: #909889;
    width: 3px;
    position: absolute;
    left: 20px;

}
.htry-year-line.y2556, .htry-year-line.y2551 {
    height: 125px;
    top: 55px;
}
.htry-year-line.y2554 {
    height: 80px;
    top: 55px;
}
.htry-year-line.y2555 {
    height: 200px;
    bottom: 55px;
}
.htry-year-line.y2553 {
    height: 117px;
    bottom: 55px;
}

.htry-select .htry-circle {
    border-radius: 50%;
    background: #fff;
    position: absolute;

}
.htry-select .htry-circle.c1 {
    width: 32px;
    height: 32px;
    left: 5px;
    top: 5px;
}
.htry-select .htry-circle.c2 {
    background: #909889;
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
}
.htry-select .htry-circle.c3 {
    width: 14px;
    height: 14px;
    left: 5px;
    top: 5px;
}
.htry-select .history-detail {
    padding-left: 45px;
}
.htry-select .history-detail li {
    color: #4d4c4d;
}

.history-detail-block {
    /*margin-top: -310px;*/
}
p.profile-header {
    margin: 60px 0 40px 0;
}


/*
Responsive
==============================*/
@media (max-width: 1200px) {
    .htry-top {
        left: 10px;
    }
    .htry-select {
        width: 95%;
    }
    .htry-btm {
        top: 41px;
        left: 10px;
    }
    .htry-btm-right {
        top: 68px;
        left: 0px;
    }
    .htry-year-line.y2555 {
        height: 177px;
    }
}
@media (max-width: 992px) {
    .history-block .item.first, .history-block .item.fourth, .history-block .item.third {
        margin-top: 0px;
    }

    .htry-btm {
        top: 60px;
    }
    .htry-year-line.y2555 {
        height: 150px;
    }
    .htry-btm-right {
        top: 94px;
    }

}

@media (max-width: 768px) {
    .profilecomp-block {
        margin-bottom: 30px;
    }
    .detail-block {
        margin-bottom: 0px;
    }
    .profile-content {
        padding-top: 15px;
    }
    .profile-block {
        margin-bottom: 20px;
    }

    .affiliate-block {
        margin-bottom: 30px;
    }
    .affiliate-img {
        height: auto;
    }

    .htry-top {
        left: 0;
    }
    .htry-select {
        width: 100%;
    }

    p.profile-header {
        margin: 0px 0 20px 0;
    }

    .history-detail-block {
        margin-top: -80px;
    }
    .htry-btm {
        top: 64px;
        left: 0;
        margin-bottom: 100px;
    }
    .htry-year-line.y2555 {
        height: 133px;
    }

    .htry-year-line.y2554 {
        height: 99px;
    }
    .htry-top-right {
        top: 26px;
    }
    .htry-btm-right {
        top: 93px;
        left: 0;
    }

    .owl-nav {
         display: block;
    }
    .owl-prev {
        background-image: url(../images/global/i_slide_prev.png);
        left: 0px;
    }
    .owl-next {
        background-image: url(../images/global/i_slide_next.png);
        right: 0px;
    }
}

@media (max-width: 414px) {
    .htry-year-line.y2555 {
        height: 246px;
    }
    .htry-year-line.y2553 {
        height: 167px;
    }
}

@media (max-width: 375px) {
    .htry-btm {
        top: 41px;
        left: 0;
    }
    .htry-btm-right {
        top: 50px;
    }
    .htry-year-line.y2553 {
        height: 147px;
    }
}
@media (max-width: 375px) {
    .history-detail p, .htry-select .history-detail li {
        font-size: 20px;
    }
}