/*
FONTS
**********************/

@font-face {
    font-family: 'KittithadaBold75';
    src: url('fonts/KittithadaBold75.eot?#iefix') format('embedded-opentype'),  url('fonts/KittithadaBold75.woff') format('woff'), url('fonts/KittithadaBold75.ttf')  format('truetype'), url('fonts/KittithadaBold75.svg#KittithadaBold75') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KittithadaRoman55';
    src: url('fonts/KittithadaRoman55.eot?#iefix') format('embedded-opentype'),  url('fonts/KittithadaRoman55.woff') format('woff'), url('fonts/KittithadaRoman55.ttf')  format('truetype'), url('fonts/KittithadaRoman55.svg#KittithadaRoman55') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KittithadaLight45';
    src: url('fonts/KittithadaLight45.eot?#iefix') format('embedded-opentype'),  url('fonts/KittithadaLight45.woff') format('woff'), url('fonts/KittithadaLight45.ttf')  format('truetype'), url('fonts/KittithadaLight45.svg#KittithadaLight45') format('svg');
    font-weight: normal;
    font-style: normal;
}

