.content {
    padding-bottom: 0;
}
#info-window {
    display: none;
}
.info-details {
    padding-top: 10px;
}
.info-details p {
    font: 24px 'KittithadaRoman55', Arial, sans-serif;
}
.info-details p span {
    color: #ccc;
}
.heading-title a {
    float: right;
    color: #6f9755;
    font: 30px 'KittithadaRoman55', Arial, sans-serif;
    text-transform: uppercase;
    position: relative;
}
.heading-title i {
    width: 50px;
    height: 41px;
    position: absolute;
    z-index: 5;
    right: 308px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.heading-title {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}


.getpage #topGetdirection {
    color: #6f9755;
    font: 20px 'KittithadaBold75', Arial, sans-serif;
    line-height: 1em;
    padding: 0 0 0 50px;
    position: absolute;
    right: 45px;
    top: 39px;
}

.getpage #topGetdirection i.i-subm-direction {
    background-image: url(../images/global/i_subm_direction.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 40px;
    height: 40px;
    width: 40px;
    left: 0px;
    top: -14px;
}



/*
Responsive
==============================*/
@media (max-width: 992px) {
    #map {
        height: 445px;
    }
    .info-logo img { width: 100%; }
}

@media (max-width: 768px) {
    .heading-title i ,.heading-title a{
        display: none;
    }
    .heading-title {
        margin-left: 19px;
        margin-right: 0;
        margin-top: 0;
    }
    form {
        margin-top: 28px;
    }
    .getdirection-container .btn-search {
        margin-top: 45px;
    }
    .getpage #topGetdirection {
        display: none;
    }
    h1 {
        margin-bottom: 15px;
        line-height: 28px;
    }
    .background-logo { width: 100px; }

}

