.ethic-page .corp-block h2.title-gov {
    color: #828483;
    font: 28px 'KittithadaRoman55', Arial, sans-serif;
    margin: 0 0 20px 0;
}
h3.title-gov {
    color: #6f9755;
    font: 24px 'KittithadaRoman55', Arial, sans-serif;
}
h4.title-gov {
    color: #6f9755;
    font: 23px 'KittithadaRoman55', Arial, sans-serif;

}
.ethic-page .corp-block h2.title-gov-p2, h3.title-gov {
    margin: 0 0 10px 0;
}

.col-govern-50 {
    width: 47%;
    float: left;
    margin-right: 5%;
}
.col-govern-50.col-govern-right {
    margin-right: 0;
}

.govern-block {
    margin-bottom: 30px;
}
.corp-page a {
    display: inline-block;
}
.tb-disclose td {
    padding: 2px 5px;
}


a.download-pdf {
    position: relative;
    padding-left: 30px;
    color: #4d4c4d;
}
a:hover.download-pdf {
    color: #6f9755;
}
.download-pdf .i-download {
    left:0;
    top: 3px;
}

.pdl-40 {
    padding-left: 40px;
}

.govern-ul ul {
    margin: 20px 0;
}
.govern-ul li {
    margin-bottom: 20px;
}
.govern-p p {
    margin-bottom: 40px;
}
.govern-img {
    margin-bottom: 60px;
}

.govern-p ul li li {
    list-style: none;
}

.govern-underline {
    text-decoration: underline;
    display: block;
}



.share-info-page .corp-menu-tab {
    text-align: left;
    margin-top: 50px;
}
.share-info-page .corp-menu-tab li:first-child {
    margin-left: 0;
}
.list-style-none li {
    position: relative;
    list-style: none;
    margin-left: 0px;
    margin-bottom: 20px;
}
.list-style-none li a {
    color: #6f9755;
    padding-left: 35px;
}
.list-style-none li a:hover {
    color: #333;
}
.list-style-none li a i.download {
    position: absolute;
    background: url(../images/global/i_download.png) no-repeat;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
}

.share-info-page h3.title-gov {
    color: #6f9755;
    font: 26px 'KittithadaRoman55', Arial, sans-serif;
    margin-bottom: 30px;
}
.table-shareholder .tb-center {
    text-align: center;
}
.table-shareholder .tb-left,
.table-shareholder2 .tb-left {
    text-align: left;
}
.table-shareholder tr td {
    padding: 5px;
}
.table-shareholder tr:nth-child(even) td {
    background: #f3f3f3;
}
.table-historical-price tbody td.tb-pdr40 {
    padding-right: 40px;
}
.table-historical-price tbody td.tb-summary {
    color: #6f9755;
}

.table-shareholder2 tr td {
    padding: 5px;
}
.table-shareholder2 tr.row-highlight td {
    background: #f3f3f3;
}

.table-shareholder2 td.tb-title {
    padding-top: 30px;
}
.table-shareholder2 .tb-left {
    padding-left: 15px;
}
#corpBlock5 p.title-share {
    margin-bottom: 5px;
}
#corpBlock5 p {
    margin-bottom: 25px;
}



.table-analyst td a {
    color: #333;
}
.table-analyst td a:hover {
    color: #6f9755;
}
.table-analyst tbody tr td {
    padding: 5px;
    text-align: left;
}
.table-analyst tbody tr td.tb-left {
    padding-left: 15px;
}

.table-analyst tr:nth-child(even) td {
    background: #f3f3f3;
}



.tabs-container {

}
.tabs-menu {
    clear: both;
    padding: 0;
    position: relative;
    display: block;
    text-align: center;
    /*border-bottom: 2px solid #e6e6e6;*/
    /*width: 70%;*/
    /*margin: 0 auto 45px auto;*/
}
.tabs-menu.dropdown-menu {
    box-shadow: none;
    border: none;
    background: transparent;
}
.tabs-menu li {
    background: transparent;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
}
.tabs-menu li.current {
    position: relative;
    z-index: 5;
}
.tabs-menu li a {
    border: 1px solid #e6e6e6;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    color: #808080;
    font: 24px 'KittithadaRoman55', Arial, sans-serif;
    height:45px;
    width: auto;
}
.tabs-menu li.current a, .tabs-menu li a:hover {
    background: transparent;
    border-bottom: 1px solid #e6e6e6;
    color: #6f9755;
}
.tab-content {
    display: none;
}
.tab-block {
    min-height: 200px;
}
#tab-1 {
    display: block;
}
.tab-content ul {
    margin: 15px 0;
}


.table-shareholder3 thead {
    background: #6f9755;
    color: #fff;
    font-size: 24px;
}
.table-shareholder3 thead th {
    padding: 5px;
    text-align: center;
}
.table-shareholder3 td {

}
.table-shareholder3 tr:nth-child(even) td {
    background: #f7f7f7;
}
.table-shareholder3 tr td {
    padding: 5px;
    text-align: center;
}
.table-shareholder3 tr td.tb-left {
    padding-left: 15px;
    text-align: left;
}

.mb30 {
    margin-bottom: 30px;
}

.mb50 {
    margin-bottom: 50px;
}

.ul-list {
    margin-left: 30px;
    margin-bottom: 20px;
}
.ul-list li {
    list-style: disc;
    margin-bottom: 5px;
}


.invest-addr {
    margin: 20px auto 30px auto;
    width: 85%;

}
.invest-addr p {
    color: #6f9755;
}

a.download {
    color: #6f9755;
    position: relative;
    padding-left: 25px;
    font-size: 20px;
    margin-bottom: 20px;
}
a.download i.i-download {
    position: absolute;
    background: url(../images/global/i_download.png) no-repeat;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
}


.invest-calendar {
    margin-bottom: 20px;
    position: relative;
}
.invest-calendar ul {
    margin-bottom: 0px;
}
.invest-calendar .tabs-menu li {
    margin-right: -3px;
}
.invest-calendar .tabs-menu li a {
    border: 2px solid #e6e6e6;
    padding: 3px 15px;
    height: 38px;
}
.line-tab {
    background: #e6e6e6;
    position: absolute;
    height: 3px;
    width: 66%;
    top: 36px;
    left: 58.3%;
    margin-left: -40%;
}


/*
Responsive
==============================*/
@media (max-width: 1200px) {
    .line-tab {
        width: 81%;
        left: 51.5%;
    }
}
@media (max-width: 992px) {
    .col-govern-50 {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .pdl-40 {
        padding-left: 20px;
    }
    .govern-p p, .govern-img {
        margin-bottom: 20px;
    }
    .line-tab {
        width: 87%;
        left: 48.5%;
    }

}

@media (max-width: 768px) {
    .pdl-40 {
        padding-left: 0px;
    }
    .corp-page ul.pdl-40 {
        margin-bottom: 0px;
    }
    .line-tab {
        width: 100%;
        left: 50%;
        top: 74px;
        margin-left: -50%;
    }


}