.project-info-detail-block {
    margin-bottom: 40px;
}
.project-sale-logo {
    margin-bottom: 40px;
    text-align: center;
}
.project-sale-logo img {
    margin: 0 auto;
}
.project-sale-logo p {
    margin-top: 20px;
}

.project-info-plan-img {
    position: relative;
}

.project-sample {
    position: relative;
}

.project-info-other-img {
    margin-bottom: 15px;
}
.project-info-other-img img {
    width: 100%;
}

.project-onsale a, .project-onsale a p {
    color: #4d4c4d;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.project-onsale a:hover, .project-onsale a:hover p {
    color: #6f9755;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.project-onsale .btn {
    color: #6f9755;
    margin: 45px auto 0 auto;
}
.project-onsale a.btn-seemore:hover {
    color: #fff;
}



.item img {
    width: 100%;
}
.tpl5-img-1,.tpl5-img-3 {
    width: 30%;
}
.tpl5-img-2 {
    width: 65%;
}
.tpl5-img-4 {
    width: 45%;
}
.tpl5-img-5 {
    width: 30%;
}

p.mb0 { margin-bottom: 0px; }
/*.owl-dots {
    margin-top: -90px;
}*/


/*
Responsive
==============================*/
@media (max-width: 992px) {
    .content { padding: 30px 0 60px 0; }
    .logo-right { float: right !important; }
    .top-header-title {
        position: relative;
        left: 0;
        bottom: initial;
        top: 15px;
    }
    /*.page-banner {
        height: 505px;
    }*/
    .i-bullet.right { float: left !important; margin-left: 6px; }
    td.tb-bullet { width: 10px; }

    /*.project-info-furnished-page .sort-container { margin-bottom: 45px; }*/
    .block-margin-20 .col-md-6 { margin-bottom: 20px; }
    .owl-buttons div, .col-slide .owl-buttons div { right: 20px; }
    .owl-buttons div.owl-prev { right: 40px; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 100%;
    }
    .tabs-menu li a { width: 75px; }
    table.content-style {
        margin: 15px 0 20px 0;
    }

    /*.page-banner, .banner-parallax {
        height: 200px !important;
    }*/
    .i-scroll-next { display:none; }
    p.mb0 { margin-bottom: 10px; }
    .project-info-other-img {
        margin-bottom: 10px;
    }
    .project-info-block {
        margin-bottom: 10px;
    }
    .project-info-detail-block {
        margin-bottom: 20px;
    }

    .project-sale-logo {
        margin-bottom: 10px;
        text-align: center;
    }
    .project-sale-logo p {
        margin-top: 15px;
        margin-bottom: 5px;
    }
}