

/*----*/
table.tb-job-news tbody th.tb-date, table.tb-job-news tbody td.tb-date {
    /*padding-left: 20px;*/
    text-align: center;
}
table.tb-job-news tbody td {
    padding: 15px 15px;
}
table.tb-job-news tbody td a {
    color: #4d4c4d;
    font: 22px 'KittithadaRoman55', Arial, sans-serif;
}
table.tb-job-news tbody td a:hover {
    color: #6f9755;
}
.select-year {
    background: #f5f5f5 url(../images/news/i_sort_blk.png) no-repeat 85% center;
    height: 34px;
    width: 80px;
    display: inline-block;
    margin-left: 5px;
}
.select-year select {
    display: inline-block;
    margin-left: 10px;
    border-radius: 0;
    border: none;
    padding: 5px;
    width: 60px;
    height: 34px;
    background: transparent;
}
.select-year-block {
    position: absolute;
    right: 0;
    top: 95px;
}
.jobnews-img {
    margin: 40px 0;
}
.jobnews-img img {
    width: 100%;
}
h2.jobnews-title {
    color: #818181;
    font: 28px 'KittithadaRoman55', Arial, sans-serif;
}
a.btn-backjob {
    margin-top: 60px;
    color: #6f9755;
    font: 24px 'KittithadaRoman55', Arial, sans-serif;
}



/*
Responsive
==============================*/


@media (max-width: 768px) {



    /*----*/
    table.project-search-list tbody td.tb-date {
        padding-left: 0px;
    }
    .select-year-block {
        position: static;
        right: 0;
        top: 95px;
        margin: 15px 0;
        float: right;
    }

}