.lhslide {
    margin-top: 60px;
}

.project-section p.heading-title {
    font-size: 26px;
    text-transform: capitalize;
}
.hm-tip {
    padding-bottom: 5px;
    position: relative;
    /*height: 430px;*/
}
.hm-tip a.btn-seemore {
    bottom: 0;
    position: absolute;
    left: 50%;
    margin-left: -90px;
}

.owl-nav div {
    top: 18%;
}

/*
Responsive
==============================*/
@media (max-width: 992px) {
    .hm-tip {
        height: auto;
    }
    .hm-tip a.btn-seemore {
        position: initial;
        left: 0;
        margin-left: auto;
    }
}

@media (max-width: 768px) {

}
@media (max-width: 490px) {


}