.masonry-lists {
    margin: 0 -10px;
}
.masonry-lists .list-item {
    margin-bottom: 20px;
    padding: 0 1%;
    width: 32%;
}
.list-item-img {
    position: relative;
    /*overflow: hidden;*/
}
.list-item-img img {
    margin-bottom: 10px;
    width: 100%;
}

.label-date {
    float: left;
    margin-right: 20px;
}
.label-date span {
    display: block;
    line-height: 1em;
    width: 95px;
    text-align: center;
}
.lb-date {
    background: #6f9755;
    color: #fff;
    font: 45px 'KittithadaBold75', Arial, sans-serif;
    height: 45px;
}
.lb-month {
    background: #efefef;
    color: #000;
    font: 30px 'KittithadaRoman55', Arial, sans-serif;
    height: 40px;
    padding: 5px 0;
    text-transform: uppercase;
}





/*
Responsive
==============================*/
@media (max-width: 992px) {
    .masonry-lists .list-item { width: 100% !important; padding: 0 15px; }
}

@media (max-width: 768px) {

}

