body, #header, .content {
    background: #edece7;
}
h1, p.green, span.green, .title span,
p.heading-title, .title.green,
.btn-seemore, .btn-submit, a.btn-seemore {
    color: #977c13;
}
a:focus.btn-seemore {
    color: #fff !important;
}
.btn-seemore, .btn-submit {
    border: 1px solid #977c13;
}
.btn-seemore:hover, .btn-submit:hover, a:hover.btn-seemore,
.owl-dot.active, .owl-dot:hover {
    background: #977c13;
}
.submenu-innerpage {
    background: #edece7;
}
/*.main-navigation {*/
    /*margin-left: -280px;*/
/*}*/
.i-sort {
    background-image: url(../images/global/i_sort_gd.png);
}

.project-type-block {
    position: relative;
}

.project-type-block h2 {
    color: #4d4c4d;
}
.projecttype-descrp {
    text-align: center;
}
.projecttype-descrp.grid2 {
    min-height: 300px;
}
.item.col-lg-4 .projecttype-descrp.grid2 {
    min-height: 390px;
}
.projecttype-list .projecttype-descrp img, .projecttype-descrp img {
    margin: 0 auto 15px auto;
    width: initial;
}
.projecttype-descrp .btn {
    margin: 30px auto 0 auto;
}


.sort-block, .view-block {
    float: left;
}
.sort {
    width: 280px;
}
.submenu-title {
    color: #977c13;
}
.submenu-tools a:hover.menu-tool-list {
    color: #977c13;
}
.main-navigation li a:hover, .main-navigation li a.active {
    color: #977c13;
}
.submenu-block li a:hover {
    color: #977c13;
}
.project-info-container {
    background: white;
}

/*
    list , grid swap
*/

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
#products .thumbnail {
    padding: 0px;
    line-height: 1.42857143;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: initial;
}
.caption .projecttype-descrp .btn {
    margin-top: 30px;
}
#products .grid1 { margin-bottom: 20px; }
.projecttype-list { margin-bottom: 30px; }
.projecttype-list img { width: 100%; }

.radio-checkmark input[type="radio"]:checked + label span{
    background-image: url(../images/global/i_checkbox_gd.png);
    border: 1px solid #dedede;
}

/*
Responsive
==============================*/
@media (max-width: 992px) {
    .projecttype-descrp {
        padding-top: 15px;
    }
    .projecttype-descrp .btn {
        margin: 20px auto 0 auto;
    }

    .rps-footer-sticky {
        background: #c5bd98;
    }
    .rps-footer-sticky li a i.i-search { background-image: url(../images/global/i_m_search_w.png); }
    .rps-footer-sticky li a i.i-direction { background-image: url(../images/global/i_m_getdirect_w.png); }
    .rps-footer-sticky li a i.i-mail { background-image: url(../images/global/i_m_email_w.png); }
    .rps-footer-sticky li a i.i-call { background-image: url(../images/global/i_m_tel_w.png); }


}

@media (max-width: 768px) {
    .sort-block { float: none; margin-bottom:22px; }
    .view-block { float: right !important; margin-bottom:20px; }
    .projecttype-list img { width: 100%; }
    .projecttype-descrp img { width: initial; }
    .sort { width: 100%; }

    /*.page-banner, .banner-parallax {
        height: 180px !important;
    }*/

    .banner-txt h1{
        font-size:38px;
        top:10px;
    }


}
@media (max-width: 500px) {
    .projecttype-list .projecttype-descrp img, .projecttype-descrp img {
        width: auto;
        max-width: 150px;
    }
}