body, #header, .content {
    background: #1a2c40;
}
#header .lang-switch-m a{
 color: #d8b93a;
}
h1, p.green, span.green, .title span,
p.heading-title, .title.green,
.btn-seemore, .btn-submit, a.btn-seemore, a:focus.btn-seemore {
    color: #fff;
}
.btn-seemore, .btn-submit {
    border: 1px solid #fff;
}
.btn-seemore:hover, .btn-submit:hover, a:hover.btn-seemore,
.owl-dot.active, .owl-dot:hover {
    background: #9e8f3c;
}
.submenu-bg, .menu-home-series {
    background: rgba(220, 224, 226, 0.9);
}
.submenu-innerpage {
    background: #1a2c40;
}
.menu-close {
    background-image: url(../images/global/i_m_close_w.png);
}
.menu-home-series-close {
    background-image: url(../images/global/i_m_close_blu.png);
}
.main-navigation li a, .top-menu .menu {
    color: #d8b93a;
}
.main-navigation li a:hover,
.top-menu .menu:hover {
    color: #9e8f3c;
}
.top-submenu .menu-line {
    background: #d8b93a;
}
.top-submenu:hover .menu-line {
    background: #9e8f3c;
}
.responsive-menu li.hasSubmenu {
    background: url(../images/global/i_rsp_mhassub_db.png) no-repeat 96% 18px;
    background-size: 11px;
}

.submenu-title, .project-menu-subtitle,
.submenu-tools a:hover.menu-tool-list,
.main-navigation li a:hover, .main-navigation li a.active,
.submenu-block li a:hover {
    color: #1a2c40;
}

.topdropdown-container h3 {
    color: #1a2c40;
}
.panel-close {
    background: url(../images/global/i_m_close_blu.png) no-repeat left;
    background-size: 20px; 
}
.i-search-triangle {
    border-top: 8px solid #1a2c40;
}
.btn-search:hover {
    background: #6f9755;
    border: 1px solid #6f9755;
}

/*.main-navigation {*/
    /*margin-left: -280px;*/
/*}*/
.i-sort {
    background-image: url(../images/global/i_sort_blu.png);
}

.project-type-block {
    position: relative;
}

.project-type-block h2, p {
    color: #fff;
}

.lux-logo {
    background-size: 100px;
    padding-top: 30px;
}

.projecttype-descrp {
    text-align: center;
}
.projecttype-descrp.grid2 {
    min-height: 320px;
}
.item.col-lg-4 .projecttype-descrp.grid2 {
    min-height: 320px;
}
.projecttype-list .projecttype-descrp img, .projecttype-descrp img {
    margin: 0 auto 15px auto;
    width: 200px;
}
.projecttype-descrp .btn {
    margin: 30px auto 0 auto;
}


.sort-block, .view-block {
    float: left;
}
.sort {
    width: 280px;
}

.project-info-container {
    background: white;
}

/*
    list , grid swap
*/

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
#products .thumbnail {
    padding: 0px;
    line-height: 1.42857143;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: initial;
    position: relative;
}
.caption .projecttype-descrp .btn {
    margin-top: 30px;
}
#products .grid1 { margin-bottom: 20px; }
.projecttype-list { margin-bottom: 30px; }
.projecttype-list img { width: 100%; }

.radio-checkmark input[type="radio"]:checked + label span{
    background-image: url(../images/global/i_checkbox_gd.png);
    border: 1px solid #dedede;
}
.responsive-menu li.hasSubmenu a.active {
    background: #1a2c40 url(../images/global/i_rsp_mshow_w.png) no-repeat 96% 20px;
    background-size: 13px;
    background-color: #1a2c40;
}


/*
Responsive
==============================*/
@media (max-width: 992px) {
    .projecttype-descrp {
        padding-top: 15px;
    }
    .projecttype-descrp .btn {
        margin: 20px auto 0 auto;
    }

    .rps-footer-sticky {
        background: #9e8f3c;
    }
    .rps-footer-sticky li a i.i-search { background-image: url(../images/global/i_m_search_db.png); }
    .rps-footer-sticky li a i.i-direction { background-image: url(../images/global/i_m_getdirect_db.png); }
    .rps-footer-sticky li a i.i-mail { background-image: url(../images/global/i_m_email_db.png); }
    .rps-footer-sticky li a i.i-call { background-image: url(../images/global/i_m_tel_db.png); }
    .burger-menu {
        background: url(../images/global/i_burgermenu_gd.png) no-repeat;
    }

}

@media (max-width: 768px) {
    .sort-block { float: none; margin-bottom:22px; }
    .view-block { float: right !important; margin-bottom:20px; }
    .projecttype-list img { width: 100%; }
    .projecttype-descrp img { width: initial; }
    .sort { width: 100%; }

    /*.page-banner, .banner-parallax {
        height: 180px !important;
    }*/

    .banner-txt h1{
        font-size:38px;
        top:10px;
    }

    
    .brand-ladawan-rattanathibet {
        background-size: 120px;
        width: 120px;
        height: 27px;
        right: 20px;
        top: 20px;
    }


}
@media (max-width: 500px) {
    .projecttype-list .projecttype-descrp img, .projecttype-descrp img {
        width: auto;
        max-width: 150px;
    }
}