.menu-review {
    margin-bottom: 40px;
}
.menu-review li {
    display: inline-block;
    margin-right: 25px;
}
.menu-review li a {
    color: #4d4d4d;
    font: 22px 'KittithadaRoman55', Arial, sans-serif;
}
.menu-review li a:hover {
    color: #6f9755;

}
.btn-seemore:hover, .btn-submit:hover {
    background: #6f9755;
    color: #fff !important;
}



/*.review-lists {*/


/*
Responsive
==============================*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .review-img { margin-bottom: 10px; }
    .list-item { margin-bottom: 20px; padding: 0 15px; width: 100%; }
    .review-lists { margin: 0px; }
}