.float-share {
    display: none;
}
/*STEP1*/
.service-form .title-label {
    color: #4d4c4d;
    font: 24px 'KittithadaBold75', Arial, sans-serif;
    text-transform: uppercase;
}
.service-form .btn {
    width: 110px;
}
.service-form .btn-submit {
    background: #6f9755;
    border: 1px solid #6f9755;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
}
.service-form .btn-submit:hover {
    opacity: 0.8;
}
.service-form .btn-cancel {
    border: 1px solid #dedede;
    color: #6f9755;
    background: transparent;
    display: inline-block;
}


.service-details p span, .service-details a {
    color: #6f9755;
}
.service-details a {
    display: inline-block;
}
.service-details a:hover {
    text-decoration: underline;
}
.service-details ul {
    margin-top: 20px;
}
.service-details ul li {
    margin-bottom: 15px;
    margin-left: 20px;
    list-style: disc;
}



/*STEP2*/
.customer-info {
    margin-bottom: 40px;
}
.customer-info p.title {
    margin-bottom: 30px;
}

.customer-info .btn {
    width: 200px;
    margin-top: 30px;
}
.customer-info a {
    color: #6f9755;
}
a.customer-view-btn {
    color: #6f9755;
    border: 1px solid #6f9755;
    border-radius: 20px;
    padding: 4px;
    width: 75px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
}
a.customer-view-btn:hover {
    background: #6f9755;
    color: #fff;
}

.service-history-block {
    margin-top: 20px;
}


/*STEP3*/
.page-nav {
    margin-bottom: 0px;
    padding-top: 20px;
}
.page-nav h1 {
    color: #4d4c4d;
    font: 24px 'KittithadaBold75', Arial, sans-serif;
    /*padding-left: 35px;*/
}
.page-nav a {
    color: #6f9755;
    font: 30px 'KittithadaRoman55', Arial, sans-serif;
}
a.back-to-prev {
    margin-bottom: 10px;
}

table.tb-history thead tr th {
    padding: 15px;
    text-align: center;
    font: 24px 'KittithadaBold75', Arial, sans-serif;
}
table.tb-history tbody tr td {
    background: #fff;
    padding: 15px;
    text-align: center;
}
table.tb-history tbody tr:nth-child(odd) td {
    background: #eaebe5;
}


a.lnk-detail {
    color: #6f9755;
    /*text-decoration: underline;*/
}
a.lnk-detail:hover {
    color: #4d4c4d;
}


/*
Responsive
==============================*/

@media (max-width: 992px) {
    .service-form {margin-bottom: 20px;}
}

@media (max-width: 768px) {

    .content {
        padding: 30px 0 50px 0;
    }
    .customer-info {
        margin-bottom: 20px;
    }
    a.customer-view-btn {
        margin: 10px 0 20px 0;
    }
    table.tb-history thead tr th,
    table.tb-history tbody tr td { font-size: 18px; padding: 10px 5px; }

    .page-nav {
        padding-top: 0;
    }
    .page-nav h1 {
        padding-left: 0px;
    }
}