h1 {
    margin-bottom: 30px;
}

.service-page {
    margin: 30px 0 50px 0;
}
.service-title {
    color: #808082;
    font: 30px 'KittithadaRoman55', Arial, sans-serif;
    margin-top: 30px;
}

.tb-history {
    margin-top: 30px;
}
.tb-history thead th {
    background: #6f9856;
    color: #fff;
    padding: 10px 5px;
    text-align: center;
}
.tb-history tr td {
    padding: 10px 5px;
    text-align: center;
}
.tb-history tr:nth-child(odd) td {
    background: #f2f2f2;
}

.customer-view-btn {
    margin-left: 10px;
    text-transform: uppercase;
}
.service-label {
    width: 100px;
    display: inline-block;
}
.service-label.txt-long {
    width: 150px;
}
.service-detail-label {
    width: 210px;
    display: inline-block;
}

.edit-profile input {
    width: 250px;
    display: inline-block;
    margin-left: 10px;
}

.service-page button, .service-page a.btn {
    border: 1px solid #6f9655;
    margin-top: 50px;
}
.button-service {
    margin-top: 50px;
    position: relative;
    left: 50%;
    margin-left: -250px;
    display: inline-block;
}
.btn-service {
    display: inline-block;
    margin: 0 15px;
}


.update-profile {
    text-align: center;
}
.update-profile p {
    margin: 0;
}
.i-update {
    margin: 50px auto 10px auto;
    width: 50px;
}
.update-profile a.btn {
    width: 230px;
    margin-top: 90px;
}

#block2List {
    margin-top: 30px;
}

.txt-grey {
    color: #808080;
}

.tb-dst {
    display: table-cell;
}
.tb-rps, .rps-row {
    display: none;
}


/*
Responsive
==============================*/

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}


@media (max-width: 480px) {

    .tb-history tr td.tb-rps {
        display: table-cell;
        text-align: left;
        padding: 10px;
    }
    .rps-row {
        display: table-row;
    }
    .rps-row strong {
        font-weight: bold;
    }
    .tb-dst {
        display: none;
    }

    .tb-history .line-rps td {
        border-bottom: none;
    }

    .tb-history.tb-history-rps tr:nth-child(4n) td, .tb-history.tb-history-rps tr:nth-child(4n-1) td {
        background: #fff;
    }
    .tb-history.tb-history-rps tr:nth-child(4n-2) td, .tb-history.tb-history-rps tr:nth-child(4n-3) td {
        background: #f2f2f2;
    }


}
