
        .input-group-btn .btn-file {
            overflow: visible;
        }

        .input-group-btn .btn-file .error {
            position: absolute;
            bottom: -32px;
            right: 30px;
        }
        .fileinput-remove-button {
            font-size: 14px;
            background-color: #F44336;
        }
        div.btn.btn-primary.btn-file {
            font-size: 14px;
            margin-left: -5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .kv-fileinput-caption {
            font-size: 16px;
        }
        .file-preview-frame {
            margin: 6px !important;
            padding: 5px !important;
        }
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            width: 80px;
            top: -1px;
            right: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            padding: 6px 12px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
        .thumb-image{float:left;width:100px;position:relative;padding:5px;}
        textarea {
            resize: none;
        }
        .file-drop-zone-title {
            padding: 0px 0px !important;
        }
        .back-to-top {
            cursor: pointer;
            position: fixed;
            bottom: 20px;
            right: 20px;
            display:none;
        }
        .progress_line{width: 700px;}
        .highlight {
            padding: 9px 14px;
            margin-bottom: 14px;
            border: 1px solid #e1e1e8;
            border-radius: 4px;
        }
        .form-control[readonly] { /* For Firefox */
            background-color: white;
        }

        .form-control[readonly] {
            background-color: white;
        }
        #upload-project-galery-seo_edit{
            display: none;
        }
        .huebee__container {
            top: -300px; /* position */
            left: 100px;
        }
        .huebee__cursor {
            width: 30px;
            height: 30px;
        }
        .btn-file {
            overflow: visible;
        }

        .btn-file .error {
            position: absolute;
            bottom: -7px;
            right: -95px
        }
        .fileinput-remove-button {
            font-size: 14px;
            background-color: #F44336;
        }
        #vdo_seo , #seo_lead_img_file{
            display: none;
        }
        video.kv-preview-data{
          margin-top: -39px;
        }
        #seo{
          display: none;
        }