.kv-file-upload , .file-upload-indicator{
	display:none;
}
.title-banner{
	font-weight:bold;
}
div.kv-fileinput-error, .file-error-message{
	display: none;
    margin-top: 0px !important;
}
input#altPC,input#altthumbActivity,input#altthumbVideo,input#altVideo,input#lead_image_edit_seo,
input#lead_image_d,input#lead_image_m,input#lead_image,input#altYoutube,input#\{xxx\}{
	display:none;
}
input#altMB{
	display:none;
}
input#altLead{
	display:none;
}
div.close.fileinput-remove{
	display:none
}

