*{
    font-family:'Times New Roman';
    
    
    /*courier,arial;*/
}


.container{
    padding: 10.3125rem;
    padding-top: 0;
}
table{
    margin-top:1.25rem;
    width: 100%;
    border:1px solid lightgray;
    
}

th{
    height: 0.625rem;
    color:#7d7d7d;
}

.personal td p,.position td p,.interview td p{
   
   margin-left:2.25rem;
    
}

td h3{
   
   margin-left:2.25rem;
 
    
}

.info img{
    height : 15.625rem;
    width: auto;
   float:right;
   margin-right: 20%;
   
}

h2,h5{
    
    line-height: 0.25rem;
    margin-top:3%;
    padding-bottom:-3%;
}

.logo img{
    width: 100%;
    height:auto;
}

 .personal input, .skills input, .position input, .education input{
    background-color:transparent;
    border:none;
    font-style: italic;
    width:100%;
   
}
 td{
    height: 3.125rem;
    margin-top: 0px;
    width:auto;
}
.psersonal td img{
    padding-top:0.625rem;
}

.infoPosition input{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid #7d7d7d;
    font-style: italic;
    width:70%;
    
}
.interview{
    text-align: center;
}

.interview input{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid #7d7d7d;
    font-style: italic;
    width:80%;
}

.comment textarea{
    background-color:transparent;
    width:80%;
    margin:2% 0 2% 0;

}

.comment td{
    text-align: center;
   
}

.middleline{
    border-left:1px solid #7d7d7d;
    
}

.education td, .skills td{
    text-align: center;
 
}

.education td p, .skills td p{
    margin-left:0px;
}

.topic{
    text-align:left;
}

.evaSize td{
    width: 3.25rem;
}


.typing input{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid #7d7d7d;
    font-style: italic;
    width:10%;

}

.marital input{

    background-color:transparent;
    border:none;
    font-style: italic;
    width:20%;
    text-align:center;

}

.family td {
    
     margin-left:0px;
     text-align: center;
}


.employment input, .family input, .general input, .reference input{
    background-color:transparent;
    border:none;
    font-style: italic;
    width:100%;
    text-align:center;

}
.further-info table {

    border:0px;
}
.further-info textarea{
    width: 100%;
    border:0px;
    background-color: transparent;
}

.signature input{
    background-color:transparent;
    border:none;
    border-bottom:1px solid black;
    font-style: italic;
    width:30%;
    text-align:center;
}

.signature table,.reference table, .general table{

    text-align: center;
}

.education table, .education td , .skills table , .skills td, .family table, .family td, .general table , .general td, .reference table, .reference td, .further-info table,.further-info td{
    border:1px solid #7d7d7d;
    border-collapse: collapse;
}

.underline-fam input{
    background-color:transparent;
    border:none;
    border-bottom: 1px solid #7d7d7d;
    font-style: italic;
    width:10%;

}