.container{
    width:100%;
    padding:0px;
}

.info img{
    height : 10rem;
   margin-right: 3.125rem;
   
}

.personal td p{
    font-size:0.7rem;
    margin-left:1rem;
    margin-right:0.5rem;
    display:inline;
}

p{
    font-size:0.7rem;
}

.personal input{
    padding-left:0.95rem;
    padding-right:0.5rem;
}

tr p{
    font-size:0.875rem;
   
}

td{
    padding-top:0px;
    padding-bottom: 0px;
    height: 3rem;
    width:auto;

}

h2{
    font-size:1.25em;
}

h3{
    font-size: 0.9rem;
}

th{
    background-color:#003365;
}


.employment table{
    text-align: center;
    align-items: center;

}

.infoPosition input{

     padding-left:0px;
    
}

.position, .education, .family, .general, .further-info{
        page-break-before: always;
}

tr.linecolor {
    background-color: #003365 !important;
    -webkit-print-color-adjust: exact; 
}


