.tpl1-nav {
    margin-bottom: 25px;
}
.tpl1-nav li {
    display: inline-block;
    margin-right: 20px;
}
.tpl1-nav li a {
    color: #4d4c4d;
    font: 24px 'KittithadaRoman55', Arial, sans-serif;
}
.tpl1-nav li a:hover, .tpl1-nav li a.active {
    color: #6f9755;
}
.tpl1-block-1, .tpl1-block-2 {
    margin-bottom: 60px;
}
.tpl1-block-descrp {
    padding-top: 150px;
}
.tpl1-block-item-img, .review-img {
    position: relative;
    margin-bottom: 10px;
}
.tpl1-block-item-img img, .review-img img {
    width: 100%;
}





/*
Responsive
==============================*/
@media (max-width: 992px) {
    .tpl1-block-item-img img {
        width: 100%;
    }
    .tpl1-block-descrp {
        padding-top: 0px;
    }
    .tpl1-nav {
        margin-bottom: 15px;
    }
    .tpl1-block-item-img, .review-img {
        margin-bottom: 8px;
    }
    .tpl1-nav li a { font-size:20px; }
    .tpl1-block-1, .tpl1-block-2, .hm-tip { margin-bottom: 10px; }
    .tpl1-block-descrp, .hm-tip p.title { padding-top: 0px; }

}

@media (max-width: 768px) {


}