/*.commu-lists {*/
.list-item p.subtitle {
    margin-bottom: 15px;
}
.i-scroll-next {
    background: url(../images/global/i_arrow_expand.png) no-repeat;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: -20px;
    left: 95%;
    margin-left: -25px;
    z-index: 20;
}
.more-detail {
    position: absolute;
    z-index: 20;
    background-color: white;
}


/*
Responsive
==============================*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .review-img { margin-bottom: 10px; }
    .list-item { margin-bottom: 20px; padding: 0 15px; width: 100%; }
    .commu-lists { margin: 0px; }
    .list-item p.title {
        line-height: 1em;
        margin-bottom: 0;
    }
    .list-item p, .list-item p.subtitle {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {

}