.corp-menu-tab {
    text-align: left;
    margin-bottom: 50px;
}
.corp-menu-tab li {
    display: inline-block;
    margin: 0 10px 10px 10px;
    position: relative;
}
/*.corp-menu-tab li.tfirst {*/
    /*margin-left: 0;*/
/*}*/
.corp-menu-tab li a {
    color: #4d4c4d;
}
.corp-menu-tab li:after {
    content: "|";
    position: absolute;
    right: -15px;
    top: 0;
}
.corp-menu-tab li:last-child:after {
    content: '';
}
#corpMenu li.current a, #corpMenu li a:hover {
    color: #6f9755;
}
.corp-block {
    display: none;
}
.corp-block.current {
    display: block;
}


a.btn-backpage {
    margin-top: 60px;
    color: #6f9755;
    font: 24px 'KittithadaRoman55', Arial, sans-serif;
}




/*
Responsive
==============================*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {


}

@media (max-width: 768px) {
    .corp-menu-tab { margin-bottom: 30px; }

}