.content {
    padding-bottom: 90px;
}

.corp-page img {
    width: 100%;
}


p.cmt-name, h2.title-corp {
    color: #6f9755;
    font: 28px 'KittithadaRoman55', Arial, sans-serif;
    margin: 20px 0 0 0;
}
h2.title-corp span {
    font-family: 'KittithadaBold75', Arial, sans-serif;
}
.corp-page ul {
    margin-bottom: 30px;
}
.corp-page li {
    font-size: 23px;
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 4px;
    line-height: 1em;
}
.corp-page p {
    line-height: 1.1em;
}


/*Corporate Committee Page*/
.committee-lists {
    margin-top: 30px;
}
.comittee-block {
    margin-bottom: 40px;
}



/*Corporate Ethics Page*/
.ethic-page .corp-menu-tab {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 60px;
}
.ethic-page .corp-menu-tab li:first-child {
    margin-left: 0;
}

.ethic-page .corp-block h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
.ethic-img {
    margin-bottom: 66px;
}
.ethic-page p.title {
    margin-bottom: 10px;
}




.committee-detail-block {
    margin-top: 30px;
}
.committee-img {
    margin-bottom: 20px;
}
.cmtee-title-stg {
    color: #7f7f7f;
    font: 28px 'KittithadaBold75', Arial, sans-serif;
    margin-bottom: 0px;
}
.cmtee-title {
    font-size: 28px;
    color: #787878;
}

.cmtee-title strong {
    font-family: 'KittithadaBold75', Arial, sans-serif;
}

.work-exp-block {
    margin-top: 30px;
}


.tableprofile tr th {
    background: #6f9856;
    color: #fff;
    font: 24px 'KittithadaRoman55', Arial, sans-serif;
    padding: 10px 20px;
    border-bottom: 20px solid #fff;

}
.tableprofile tr th.tb-row2 {
    border-top: 40px solid #fff;
}

.tableprofile tr td {
    background: #fff;
    padding: 10px 20px;
}
.tableprofile tr:nth-child(even) td {
    background: #f2f2f2;
}


/*
Responsive
==============================*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {


}

@media (max-width: 768px) {
    .ethic-img {
        margin-bottom: 20px;
    }

}