.page-banner-content {
    background-size: cover;
    background-position-y: 0;
}

#pjHomeBanner {
    /*padding: 0 10px;*/
    position: relative;
    top: 0px;
    /*position: fixed;*/
    /*top: 60px;*/
    left: 0;
    width: 100%;
    height: 100%;
}

/* BANNER SLIDE*/
/*.slider,
.owl-carousel,
.slide { height: 100%; }
.slide { position: relative; }*/

/*p concept*/
.slide p { opacity: 0; visibility: hidden; }
.slide p {
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;  }
.animate2 .slide p {
    color: #4d4c4d;
    font: 30px 'KittithadaRoman55', Arial, sans-serif;
    margin-bottom: 10px;
    position:relative;
    opacity: 1;
    visibility: visible;
}

/*h1*/
.bg-slide-home h1 {
    color: #4d4c4d;
    font: 48px 'KittithadaRoman55', Arial, sans-serif;
    margin-bottom: 10px;
}
.slide h1 {
    opacity: 0; visibility: hidden;
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;
}
.animate2 .slide h1 {
    position:relative;
    opacity: 1;
    visibility: visible;
}


/*img logo*/
.slide .fn-title {
    opacity: 0; visibility: hidden;
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;  }
.animate .slide .fn-title {
    opacity: 1; visibility: visible;  }

/*background  slide*/
.slide .background-show {
    opacity: 0; visibility: hidden;
    z-index:-1;
    width:100%;
    height:100%;
    position: absolute;
}
.slide .background-show {
    -webkit-transition: opacity 1s;
    transition: opacity 1s ease-in;  }
.animate3 .slide .background-show {
    opacity: 1; visibility: visible;  }



.slider { -webkit-backface-visibility: visible; backface-visibility: visible; }
/*.page-banner .owl-controls {
    bottom: 80px;
}*/
.mb0 {
    margin-bottom: 0;
}

/* BANNER SLIDE*/


/*.banner-detail-container {*/
    /*background: rgba(0,0,0,0.2);*/
    /*padding: 20px 170px;*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*width: calc(100% - 20px);*/
    /*!*height:210px;*!*/
    /*left: 10px;*/
    /*!*margin: -205px 0 0 -500px;*!*/
    /*bottom: 0;*/
/*}*/
/*#bannerSlide h1 {*/
    /*color: #fff;*/
    /*font: 48px 'KittithadaRoman55', Arial, sans-serif;*/
    /*margin-bottom: 10px;*/
    /*text-transform: uppercase;*/
    /*text-align: center;*/
    /*position: relative;*/
/*}*/
.banner-detail-container p {
    color: #fff;
    font: 24px/30px 'KittithadaRoman55', Arial, sans-serif;
}
.furnishedhome-block {
    position: relative;
}
p.heading-title {
    margin-bottom: 5px;
    line-height: 30px;
}
.project-type-block {
    margin: 40px 0 0 0;
}
.projecttype-descrp {
    text-align: center;
}

.projecttype-descrp.grid2 {
    min-height: 400px;
}
.item.col-lg-4 .projecttype-descrp.grid2 {
    min-height: 480px;
}

.projecttype-descrp img {
    margin: 0 auto 15px auto;
}


.sort-block, .view-block {
    float: left;
}


.projecttype-list {
    margin-bottom: 80px;
}

@media (min-width: 993px){
    .projecttype-list > .row{
        font-size: 0
    }

    .projecttype-list > .row > div{
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
}


.projecttype-descrp {
    padding-top: 11px;
    padding-bottom: 11px;
}
.projecttype-descrp .btn {
    margin: 30px auto 0 auto;
}

.projecttype-list .owl-controls {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

/*
    list , grid swap
*/

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
#products .thumbnail {
    padding: 0px;
    line-height: 1.42857143;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: initial;
}
.caption .projecttype-descrp .btn {
    margin-top: 30px;
}
#products .grid1 { margin-bottom: 20px; }

.furnishedhome-page h1 {
    display: none;
}
.btn-seemore-furnished {
    display: none;
}
.banner-rsp {
    display: none;
}

.furnishHome img {
    height: 480px;
    object-fit: cover;
}

/*
Responsive
==============================*/
@media (min-width: 1200px){
    .col-lg-6 {
        width: 570px;
    }
    .col-lg-4 {
        width: 380px;
    }

}
@media (max-width: 1200px) {
    .furnishHome img {
        height: 412px;
    }
}
@media (max-width: 992px) {
    .banner-detail-container {
        width: 100%;
        height:410px;
        left: 50%;
        margin: -205px 0 0 -50%;
        top: 50%;
    }
    /*.banner-parallax, .page-banner{*/
        /*height: 180px !important;*/
    /*}*/

    .projecttype-descrp {
        padding-top: 15px;
    }
    .projecttype-descrp .btn {
        margin: 20px auto 0 auto;
    }
    .projecttype-list { margin-bottom: 30px; margin-top: 80px; }
    .furnishHome img {
        height: 480px;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 20px 0 30px 0;
    }
    /*.banner-parallax, .page-banner{*/
        /*height: 180px !important;*/
    /*}*/
    #bannerSlide h1 {
        font-size: 40px; line-height: 1em;
        background: rgba(0,0,0,0.2);
        padding: 10px;
        margin: 0 20px;
    }
    .furnishedhome-intro {
        background: white;
        text-align: center;
        padding: 10px 30px;
        margin-bottom: 20px;
    }
    .furnishedhome-intro p {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .banner-detail-container p {
        font-size: 20px;
    }
    .banner-detail-container {
        padding: 40px 30px;
        width: 100%;
        height: auto;
        left: 0;
        margin: 0;
        top: 15%;
    }

    .furnishedhome-block .subtitle {  font-size: 22px; margin-bottom: 15px; }

    .sort-block { float: none; margin-bottom:20px; }
    .view-block { float: right !important; margin-bottom:20px; }
    .projecttype-list img { width: 100%; }
    .projecttype-descrp img { width: initial; }
    .project-type-block { margin: 0; }
    .projecttype-list {
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .projecttype-descrp .subtitle { margin-bottom: 0; }
    .projecttype-descrp .subtitle.price { margin-bottom: 15px; }

    .furnishedhome-page h1 {
        /* display: block; */
        /* color: #4d4c4d; */
        /* font: 38px 'KittithadaRoman55', Arial, sans-serif; */
        /* text-transform: uppercase; */
        /* text-align: center;*/
        /* position: relative; */
        /* line-height: 0.9em; */
        /* margin-bottom: 10px; */
    }
    #bannerSlide h1 {
        display: none;
    }
    .btn-seemore-furnished{
        display: block;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .page-banner .owl-controls {
        bottom: 5px;
    }
    .owl-dots {
        margin-top: -10px;
    }
    .banner-dktp {
        opacity: 0; visibility: hidden;
    }

    .furnishHome img {
        height: 400px;
    }
}


@media (max-width: 600px) {
    .furnishHome img {
        height: 300px;
    }
}
@media (max-width: 500px) {
    .projecttype-list .projecttype-descrp img, .projecttype-descrp img {
        width: auto;
        max-width: 150px;
    }
}

@media (max-width: 400px) {
    .furnishHome img {
        height: 230px;
    }
    .furnishedhome-block .subtitle {
        font-size: 20px;
    }
}