.project-type-block {
    position: relative;
}

.project-type-block h2 {
    color: #4d4c4d;
}
.projecttype-descrp {
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
}
.list-group {
    margin-top: 20px;
}
.projecttype-list .projecttype-descrp img, .projecttype-descrp img {
    margin: 0 auto 15px auto;
    width: initial;
}
.projt-img {
    width: 100%;
}
.projecttype-descrp .btn {
    margin: 30px auto 0 auto;
}

.projecttype-list { margin-bottom: 30px; }


.home-series-top-logo {
    margin-bottom: 20px;
}
.hms-top-logo {
    margin-bottom: 15px;
    height: 60px;
    width: 25%;
    float: left;
}
.hms-top-logo img {
    width: 130px;
}
.center-item {

}

.home-series-top-logo h1 {
    color: #4d4c4d;
    text-align: center;
    margin-bottom: 20px;
}

/*
Responsive
==============================*/
@media (max-width: 992px) {
    .projecttype-descrp {
        padding-top: 15px;
    }
    .projecttype-descrp .btn {
        margin: 20px auto 0 auto;
    }

    /*.newseriestag {*/
        /*width: 80px;*/
        /*height: 80px;*/
        /*background-size: 80px;*/
    /*}*/

}

@media (max-width: 768px) {

    .projecttype-list img { width: 100%; }
    .projecttype-descrp img { width: initial; }

    /*.page-banner, .banner-parallax {
        height: 200px !important;
    }*/
    .projecttype-descrp {
        margin: 0;
    }

    .home-series-top-logo {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .hms-top-logo {
        margin-bottom: 0;
    }
    .hms-top-logo {
        width: 60%;
    }

    .hms-top-logo img {
        width: 100%;
    }

    .center-item {
        width: 100%;
        margin-left: 0;
    }
    #hmsLogo {
        padding: 0 20px;
    }
    #hmsLogo .owl-nav {
        display: block;
    }
    #hmsLogo .owl-nav div {
        top: 46%;
        height: 22px;
    }
    #hmsLogo .owl-nav div.owl-prev {
        background-image: url(../images/global/i_arrow_back.png);
        left: 10px;
        right: initial;
    }
    #hmsLogo .owl-nav div.owl-next {
        background-image: url(../images/global/i_arrow_next.png);
        right: 10px;
    }
    #hmsLogo .owl-controls{
        display: none;
    }


}
@media (max-width: 550px) {

    .hms-top-logo {
        width: 80%;
        height: 80px;
    }


    /*.center-item {*/
        /*width: 50%;*/
        /*margin-left: 30%;*/
    /*}*/


}
@media (max-width: 500px) {
    .projecttype-list .projecttype-descrp img, .projecttype-descrp img {
        width: auto;
        max-width: 150px;
    }
}

@media (max-width: 400px) {

    .hms-top-logo {
        width: 100%;
    }

    /*.center-item {*/
        /*width: 50%;*/
        /*margin-left: 30%;*/
    /*}*/

}