/*.main-navigation {
    margin-left: -180px;
}*/
.btn-seemore:hover, .btn-submit:hover {
    background: #6f9755;
    color: #fff !important;
}



/*.review-lists {*/


/*
Responsive
==============================*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .review-img { margin-bottom: 10px; }
    .list-item { margin-bottom: 20px; padding: 0 15px; width: 100%; }
    .award-lists { margin: 0px; }
}