.land-offer-details {
    margin-bottom: 30px;
}

/*
Responsive
==============================*/

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .land-offer-map img { width: 100%; }

}