.m-title {
    color: #6f9755;
    font: 24px 'KittithadaBold75', Arial, sans-serif;
    margin-bottom: 0px;
}

.latest-lists {
    margin-bottom: 70px;
}
.latest-lists p {
    margin-bottom: 0;
}
.latest-lists .main-item .motivo-details {
    padding: 15px 30px;
}
.latest-lists .main-item .img-block {
    padding: 30px;
}
.latest-lists .list-2 {
    margin-bottom: 30px;
}
.latest-lists .list-2 .motivo-details {
    padding-top: 100px;
}
.download-ic {
    position: relative;
    bottom: 26px;
    right: 26px;
}


.motivo-details {
    padding: 0 15px;
}
.img-block {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 20px 0px;
    display: inline-block;
}
.motivo-lists .item {
    margin-bottom: 70px;
}
.motivo-lists .img-block {
    /*height: 360px;*/
    /*overflow: hidden;*/
    width: 85%;
}
.img-block {
    width: 100%;
}
.item.main-item {
    width: 95%;
}
.item.main-item.img-block img {
    /*width: 430px;*/
}
.img-block img {
    /*width: 255px;*/
    width: 100%;
    padding: 10px;
}
.latest-lists, .motivo-lists {
   padding: 0 30px;
}
.latest-lists .btn, .motivo-lists .btn {
    margin-top: 20px;
}
.img-block {
    position: relative;
}



/*
Responsive
==============================*/

@media (max-width: 1200px) {
    .item.main-item.img-block img, .img-block img {
        width: 100%;
    }
}
@media (max-width: 992px) {
    .latest-lists, .motivo-lists { padding: 0; }
    .item.main-item {
        width: 100%;
    }
    .motivo-lists .img-block {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .img-block { display: block; }
    .img-block img { width: 100%; }
    .latest-lists .list-2 .motivo-details {
        padding-top: 10px;
    }
    .latest-lists .main-item .img-block {
        padding: 10px;
    }
    .latest-lists .item, .motivo-lists .item { margin-bottom: 30px; }
    .latest-lists .main-item .motivo-details {
        padding: 15px;
    }
    .latest-lists {
        margin-bottom: 0px;
    }
    .motivo-lists .img-block {
        height: auto; }
}