
.project-info-detail-block {
    margin-bottom: 40px;
}

.project-sale-logo .specialOnRight{
    display: inline-block;
    float: right;
}

.specialOnRight .soldout-tag-info-sale {
    position: static;
    display: inline-block;
    float: right;
    vertical-align: top;
    margin: 0 10px -63px 10px !important;
}

.specialOnRight .logo-activity-detail {
    position: static;
    display: inline-block;
    float: right;
    vertical-align: top;
    margin: 10px;
    width: auto;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}

.project-sale-logo .title{
    clear: both;
}

.heading-logo {
    margin-bottom: 10px;
}
.top-header-title {
    position: absolute;
    left: 15px;
    bottom: 0;
}
.content {
    padding: 40px 0 70px 0;
}

.page-banner-content {
    background-position-y: 0px;
    background-size: cover;
}

.project-sale-logo {
    margin-bottom: 0px;
    text-align: center;
}
.project-sale-logo img {
    margin: 0 auto 15px 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.project-info-plan-img {
    position: relative;
}
.project-sale-logo .detail {
    font: 24px 'KittithadaRoman55', Arial, sans-serif;
    line-height: 24px;
}
.project-sale-logo .price {
    margin: 10px 0;
}


.item img {
    width: 100%;
}
.tpl5-img-1,.tpl5-img-3 {
    width: 30%;
}
.tpl5-img-2 {
    width: 65%;
}
.tpl5-img-4 {
    width: 45%;
}
.tpl5-img-5 {
    width: 30%;
}



.promo-descrp .btn-seemore {
    display: block;
    margin: 90px auto 0 auto;
}


.mbr-15 {
    margin-bottom: 10px;
}

/*.owl-dots {*/
    /*margin-top: -90px;*/
/*}*/

.banner-resp {
    display: none;
}
.banner-deskt {
    display: block;
}

#projectSlide { margin-bottom: 10px; }

#projectSlide .owl-nav {
    display: block;
}
#projectSlide .owl-nav div {
    background-color: rgba(255,255,255,0.6);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 46%;
    z-index: 2;
}
#projectSlide .owl-next {
    background-image: url("../images/global/i_arrow_next.png");
    right: 0px;
}
#projectSlide .owl-prev {
    background-image: url("../images/global/i_arrow_back.png");
    left: 0px;
}

.other-prj-info-sale, .other-prj-info-sale-top {
    display: none;
}
.sort-block ul {
    height: 100px;
}

/*
Responsive
==============================*/
@media (max-width: 1200px) {
    .table-1 .tb-title-1st {width: 230px;}
}
@media (max-width: 992px) {
    .logo-right { float: right !important; }
    .top-header-title {
        position: relative;
        left: 0;
        bottom: initial;
        top: 40px;
    }
    /*.page-banner {
        height: 505px;
    }*/

    table.tablesaw tbody td {
        padding: 0;
        text-align: left;
        border-bottom: 1px solid #fff;
    }
    table.tablesaw tbody td .tablesaw-cell-label {
        background: #eaebe5;
        padding: 15px 10px;
        line-height: 1em;
        vertical-align: middle;
    }
    .tablesaw-cell-content {
        line-height: 1;
        padding: 5px 10px;
        vertical-align: middle;
    }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 50%;
    }

}

@media (max-width: 768px) {
    .i-scroll-next {
        display: none;
    }
    /*.page-banner, .banner-parallax { height: 200px !important; }*/
    /*.page-banner .owl-controls { bottom: 5px; }*/
    .gallery-block.block-margin { margin-bottom: 0px; }

    .tpl5-img .item { margin-bottom: 15px; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 100%;
    }
    /*table.tablesaw tbody td.tb-plan-detail b { height: 90px; }*/
    .promo-descrp {
        margin-top: 10px;
    }
    .promo-descrp .btn-seemore {
        margin: 30px auto 0 auto;
    }
    .content {
        padding: 20px 0 40px 0;
    }
    .project-sale-logo img {
        margin: 0 auto 10px 50%;
    }
    .project-sale-logo .price {
        margin: 10px 0 20px 0;
    }
    .rps-hide {
        display: none;
    }
    .page-banner .owl-controls {
        bottom: 5px;
    }
    .owl-dots {
        margin-top: -10px;
    }

    .banner-resp {
        display: block;
    }
    .banner-deskt {
        display: none;
    }
    .other-prj-info-sale {
        display: block;
        margin-bottom: 120px;
    }
    .other-prj-info-sale-top {
        display: block;
        margin-bottom: 20px;
    }
    .project-info-detail-block  {
        position: relative;
    }
    .tagbox2_sold.soldout-tag-info-sale {
        top: 0;
        right: 0;
        left: initial;
    }

    .specialOnRight .logo-activity-detail {
        display: block;
        float: none;
        clear: both;
        width: 85px;
    }

    .specialOnRight .soldout-tag-info-sale + .logo-activity-detail{
        position: relative;
        top: 48px;
        left: 0;
    }
}