.project-info-detail-block {
    margin-bottom: 50px;
    position: relative;
}
.heading-logo {
    margin-bottom: 10px;
}
.top-header-title {
    position: absolute;
    left: 15px;
    bottom: 0;
}
/*.project-info-detail-block p.heading-title {*/
    /*margin-bottom: 25px;*/
/*}*/
/*.page-banner-content {*/
    /*background-position-y: 60px;*/
/*}*/

.project-info-plan-img {
    position: relative;
}

.project-info-other-img {
    margin-bottom: 10px;
}
.project-info-other-img img {
    width: 100%;
}
.project-sale-logo {
    margin-bottom: 0px;
    text-align: center;
}
.project-sale-logo .title {
    font: 24px 'KittithadaRoman55', Arial, sans-serif;
    line-height: 24px;
}
.project-sale-logo .price {
    margin: 10px 0;
    padding-bottom:20px;
}

.project-sale-logo img {
    margin: 0 auto 15px auto;
}

.project-onsale a, .project-onsale a p {
    color: #4d4c4d;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.project-onsale a:hover, .project-onsale a:hover p {
    color: #6f9755;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.project-onsale .btn {
    color: #6f9755;
    margin: 45px auto 0 auto;
}
.project-onsale a.btn-seemore:hover {
    color: #fff;
}


.item img {
    width: 100%;
}
.tpl5-img #tpl5-img .item
{
    width: 30%;
}
.tpl5-img #tpl5-img .item:nth-child(5n + 2){
    width: 65%;
}
/*.tpl5-img-1,.tpl5-img-3 {
    width: 30%;
}
.tpl5-img-2 {
    width: 65%;
}
.tpl5-img-4 {
    width: 45%;
}
.tpl5-img-5 {
    width: 30%;
}*/





/*
Responsive
==============================*/
@media (max-width: 992px) {
    .content { padding: 30px 0 60px 0; }
    .logo-right { float: right !important; }
    .top-header-title {
        position: relative;
        left: 0;
        bottom: initial;
        top: 15px;
    }
    /*.page-banner {
        height: 505px;
    }*/
    .i-bullet.right { float: left !important; margin-left: 6px; }
    td.tb-bullet { width: 10px; }

    .block-margin-20 .col-md-6 { margin-bottom: 20px; }
    .owl-buttons div, .col-slide .owl-buttons div { right: 20px; }
    .owl-buttons div.owl-prev { right: 40px; }
    table.tablesaw tbody td {
        padding: 0;
        text-align: left;
        border-bottom: 1px solid #fff;
    }
    table.tablesaw tbody td .tablesaw-cell-label {
        background: #eaebe5;
        padding: 15px 10px;
        line-height: 1em;
        vertical-align: middle;
    }
    .tablesaw-cell-content {
        line-height: 1;
        padding: 5px 10px;
        vertical-align: middle;
    }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 50%;
    }
    .tpl5-img #tpl5-img .item{
        width: 50%;
    }
}

@media (max-width: 768px) {
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 100%;
    }
    .tpl5-img #tpl5-img .item{
        width: 100%;
    }
    .tabs-menu li a { width: 75px; }

    /*.page-banner, .banner-parallax { height: 200px !important; }*/
    .page-banner .owl-controls { bottom: 0px; }
    .tbs1 .txt-right { width: 35px; }

    .project-info-detail-block .heading-title.txt-center {
        color: #4d4c4d;
        line-height: 1em;
    }
    .project-info-detail-block {
        margin-bottom: 30px;
        position: relative;
    }

    .logo-150 {
        position: absolute;
        right: 0;
        width: 80px;
        height: 80px;
        max-height: 80px;
        max-width: 80px;
    }
}