.content.search-result {
    padding: 20px 0;
}
h1 {
    margin-bottom: 5px;
}
.search-result p.title {
    margin-bottom: 15px;
}


.list-item-img {
    overflow: hidden;
}
.list-item p.title {
    margin-bottom: 0px;
}
.list-item p {
    margin-bottom: 10px;
}
/*.list-item {*/
    /*position: relative;*/
/*}*/

#searchResult {
    color: #6f9755;
    font: 20px 'KittithadaBold75', Arial, sans-serif;
    line-height: 1em;
    padding: 0 0 0 50px;
    position: absolute;
    right: 80px;
    top: 55px;
    margin-right: 7%;
}

#searchResult i.i-subm-search {
    background-image: url(../images/global/i_subm_search.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 40px;
    height: 40px;
    width: 40px;
    left: 0px;
    top: -10px;
}



/*
Responsive
==============================*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .tagbox2 { 
        /*left: 4px*/
    }
    #searchResult {
        display: none;
    }
}


