.ethic-page .corp-block h2.title-gov {
    color: #6f9755;
    font: 28px 'KittithadaRoman55', Arial, sans-serif;
    margin: 0 0 20px 0;
}

.ethic-page .corp-block h2.title-gov-p2, h3.title-gov {
    margin: 0 0 10px 0;
}


.col-govern-50 {
    width: 47%;
    float: left;
    margin-right: 5%;
}
.col-govern-50.col-govern-right {
    margin-right: 0;
}

.smartcal-page img {
    width: 100%;
}
.smartcal-page ul.smartcal {
    margin-left: 20px;
    margin-bottom: 10px;
    list-style-type: none;
}
.link-back {
    color: #6f9755;
    margin-top: 30px;
}



/*
Responsive
==============================*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .col-govern-50 {
        width: 100%;
        float: none;
        margin-right: 0;
    }



}

@media (max-width: 768px) {


}