.project-info-detail-block {

}
.content.project-info-page {
    padding: 40px 0;
}
.i-infos {
    margin-bottom: 20px;
}
.item img {
    width: 100%;
}
.tpl5-img-1,.tpl5-img-3 {
    width: 30%;
}
.tpl5-img-2 {
    width: 65%;
}
.tpl5-img-4 {
    width: 45%;
}
.tpl5-img-5 {
    width: 30%;
}

.gallery-block {

}
.project-info-other-block {

}
.block-margin {
    margin-bottom: 30px;
}

.project-info-other-img {
    margin-bottom: 10px;
    position: relative;
}
.project-info-other-img img {
    width: 100%;
}
.i-view-360 {
    background: url(../images/global/i_360.png) no-repeat;
    position: absolute;
    height: 76px;
    width: 76px;
    margin: -38px 0 0 -38px;
    left: 50%;
    top: 50%;
    z-index: 5;
}
.i-view-vdo {
    background: url(../images/global/i_play_w.png) no-repeat;
    background-size: 76px;
    position: absolute;
    height: 76px;
    width: 76px;
    margin: -38px 0 0 -38px;
    left: 50%;
    top: 50%;
    z-index: 5;
}

.map-container {
    height: 540px;
    margin-bottom: 40px;
    width: 100%;
}
.project-location-block p.title {
    margin-bottom: 10px;
}
.project-form .btn {
    display: block;
    margin: 40px auto 0 auto;
}
.promo-descrp {
    padding-top: 50px;
    padding-left: 50px;
}
.promo-descrp .btn-seemore {
    margin-top: 90px;
}



/*
Responsive
==============================*/
@media (max-width: 992px) {
    .project-info-other-block .col-md-6 {
        margin-bottom: 15px;
    }
    .project-info-other-img img { width: 100%; }
    .block-margin { margin-bottom: 30px; }
    .map-container { height: 300px; margin-bottom: 20px; }

    .promo-descrp { padding-top: 10px; padding-left: 0px; }
    .txt-right { text-align: left; }
    .promo-descrp .btn-seemore { display: block; margin: 20px auto 0 auto; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .tabs-menu li a {
        padding: 15px 10px;
        font-size: 20px;
        height: 50px;
        width: 170px;
    }
    .tab-dd { margin-bottom: 20px; }
    .tpl5-img-1, .tpl5-img-3, .tpl5-img-2, .tpl5-img-4, .tpl5-img-5 {
        width: 100%;
    }

}