.i-view-vdo {
    cursor: pointer;
}
.banner-container video {
    width: 100%;
}
.vdo-control {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
}
.play-block {
    position: absolute;
    left: 50%;
    top: 42%;
    margin: -50px 0 0 -37px;
}
.vdoPlay {
    background: url(../images/global/i_vdo_play.png) no-repeat;
    background-size: 70px;
    height: 70px;
    width: 70px;
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 2;
}
.vdoPause {
    background: url(../images/global/i_vdo_pause.png) no-repeat;
    background-size: 70px;
    height: 70px;
    width: 70px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
.vdo-icon {
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btnshown {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btnhide {
    opacity: 0 !important;
    visibility: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*
Responsive
==============================*/
@media (max-width: 992px) {
    .play-block {
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
    .vdoPlay, .vdoPause {
        background-size: 50px;
        height: 50px;
        width: 50px;
    }
    .banner-container video { width: 100%; }

}